.success-grid {
    max-width: 450px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.success-grid h3 {
    color: #61B92B;
    font-size: 19px;
    margin-bottom: 20px;
}
.success-grid h4 {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
}
.successfully-pnl {
    height: 100vh;
    display: flex;
    align-items: center;
}