<section class="successfully-pnl">
    <div class="container">
        <div class="success-grid">
            <img src="assets/images/success_done_check.gif" alt="icon" class="img-fluid">
            <h3>The member has been added successfully</h3>
            <h4>Login credential has been sent to<br> member's email address</h4>
            <div class="succss-btn">
                <button class="w-50" mat-flat-button color="primary" routerLink="/coach-layout/my-members">Okay</button>
            </div>
        </div>
    </div>
</section>

