.top-card{
    background: #FCF9F5 0% 0% no-repeat padding-box;
    padding: 12px 10px;
}

.top-card-txt p{
    font-size:  18px;
    letter-spacing: 0px;
    color: #383838;
}


.max-circle{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #E06F00;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-size:33px;
        font-weight: 800;
        color: #E06F00;
    }
    p{
        font-size:18px;
         color: #7C7C7C;
         margin-bottom: 0px;
    }
}


.nav-tabs .nav-link.active{
    background: #E16F00 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    /* border-radius: 12px 0px 0px 12px; */
}

.nav-tabs .nav-link{
    min-width: 156px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;

    font-size: 14px;
    letter-spacing: 0.28px;
    color: #535353;
    border-radius: 0px;

}


.border-start-12{
    border-right: none!important;
    border-radius: 12px 0px 0px 12px!important;
}

.border-end-12{ 
    border-left: none!important;
    border-radius: 0px 12px 12px 0px!important;
}


.nav-tabs{
    border: none;
}

.pace-table table tr th {
    width: 50%;
    background-color: #FFF1E6;
    font-size:14px;
    font-weight: bold;
    letter-spacing: 0.28px;
    color: #535353;
}

.pace-table table tr th:last-child {
    text-align: right;
}

.pace-table table tr td:last-child {
    text-align: right;
}

.pace-table table tr td {
    font-size:14px;
    width: 50%;
    letter-spacing: 0.28px;
    color: #131313;
}


.training-table table tr th {
    background-color: #FFF1E6;
    font-size:14px;
    font-weight: bold;
    letter-spacing: 0.28px;
    color: #535353;
    text-align: center;
}

.training-table table tr th:last-child {
    text-align: right;
}

.training-table table tr td:last-child {
    text-align: right;
}

.training-table table tr th:first-child {
    text-align: left;
}

.training-table table tr td:first-child {
    text-align: left;
}

.training-table table tr td {
    font-size:14px;
    letter-spacing: 0.28px;
    color: #131313;
    text-align: center;

}

.training-table, .pace-table {
    box-shadow: 0px 3px 6px #E16F0012;
}

.training-table .table, .pace-table .table {
    margin-bottom: 0px;
}