<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">VO2 Max Calculator</h3>
        </div>
        <div class="card-bg">
          
            <div class="workouts-wapper">
               <div class="p-3">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="card-body ">
                                
                                <div class="top-card">

                                    <div class="d-flex align-items-center justify-content-between">
                                        
                                        <div class="top-card-txt">
                                            <p>Time : <strong> 53.45</strong></p>
                                            <p>Temp. Effect :  <strong>(56 °F)</strong></p>
                                            <p class="mb-0">Pace : <strong>10:20/km (+0:00/km)</strong></p>

                                        </div>

                                        <div class="max-circle" >
                                            <div>
                                                <h2>15.6</h2>
                                                <p>VO2 Max </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link active border-start-12" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Race Pace</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Training</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link border-end-12" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Equivalent</button>
                                    </li>
                                  </ul>
                                  <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                        <div class="pace-table mt-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="table-success">
                                                      <tr>
                                                        <th>Distance</th>
                                                        <th>Pace</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>5K</td>
                                                        <td>51:40</td>
                                                      </tr>
                                                      <tr>
                                                        <td>1Mi</td>
                                                        <td>16:37.8</td>
                                                      </tr>
                                                      <tr>
                                                        <td>1K</td>
                                                        <td>10:20.0</td>
                                                      </tr>
                                                      <tr>
                                                        <td>800M</td>
                                                        <td>8:16.0</td>
                                                      </tr>
                                                      <tr>
                                                        <td>400M</td>
                                                        <td>4:08.0</td>
                                                      </tr>
                                                    </tbody>
                                                  </table>

                                            </div>

                                        </div>

                                    </div>


                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="training-table mt-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="table-success">
                                                      <tr>
                                                        <th>Type</th>
                                                        <th>1 Mi</th>
                                                        <th>1 Km</th>
                                                        <th>1200m</th>
                                                        <th>800m</th>
                                                        <th>600m</th>
                                                        <th>400m</th>
                                                        <th>300m</th>
                                                        <th>200m</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>Easy</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>

                                                      </tr>
                                                      <tr>
                                                        <td>Easy</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>

                                                      </tr>
                                                      <tr>
                                                        <td>Easy</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>

                                                      </tr>
                                                      <tr>
                                                        <td>Easy</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>
                                                        <td>14:42 ~ 16:01</td>

                                                      </tr>
                                                    </tbody>
                                                  </table>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="training-table mt-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="table-success">
                                                      <tr>
                                                        <th>Race</th>
                                                        <th>Time</th>
                                                        <th>Pace/Mi</th>
                                                        <th>Pace/Km</th>
                                                   
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>Marathon</td>
                                                        <td>7:44:31</td>
                                                        <td>17:43</td>
                                                        <td>11:01</td>
                                                       

                                                      </tr>
                                                     
                                                    </tbody>
                                                  </table>

                                            </div>

                                        </div>
                                    </div>
                                  </div>

                                

                            </div>
                        </div>
                        
                    </div>

                </div>
               </div>
            </div>

        </div>


    </div>

</section>
