<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Beginner Lift Weight</h3>
        </div>
       
        <div class="card-bg add-tabs p-3">
            <div class="row">
                <div class="col-lg-7">
                    <div class="submember chat-page">
                        <div class="chat-icon" routerLink="/trainee-layout/trainee-group-chat/23">
                            <i class="bi bi-chat-left-dots"></i>
                        </div>

                        <mat-tab-group  mat-stretch-tabs="false" animationDuration="0ms">
                            <mat-tab label="Group Details">
                                <div class="workout-mb mt-3">
                                    <div class="workplan">
                                        <h5>Group Details</h5>
                                        <div class="group-panel">
                                            <div class="group-title">Group Photo</div>
                                            <div class="group-photo">
                                                 <img [src]="traniee_data?.image ? traniee_data?.image : 'assets/images/Coach/upload_profile_pic.png'" alt="user" class="avtar-circle">
                                            </div>
                                            <div class="group-title">Group Type:<span> {{traniee_data?.type}}</span></div>
                                            <div class="group-title">Group Name:<span> {{traniee_data?.name}}</span></div>
                                            <hr>
                                            <div class="group-title">About Group</div>
                                            <p>{{traniee_data?.about}}</p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="Performance">
                                <div class="workout-mb mt-3">
                                   
                                </div>
                            </mat-tab>

                            <mat-tab label="Notes">
                                <mat-card class="p-3 mt-4">
                                    <!-- <div class="notepanle">
                                        <div class="note-header d-flex justify-content-between">
                                            <h4>Add Notes</h4>
                                            <button class="addbtn-2" (click)="addNotes()">Add</button>
                                        </div>
                                        <div class="notetext mt-4">
                                            <textarea class="form-control" rows="4" placeholder="Write your notes here.." [(ngModel)]="notes"></textarea>
                                        </div>
                                    </div> -->
                                    <!-- <hr> -->
                                    <div class="note-des mb-3" *ngFor="let notes of notesList">
                                        <p>{{notes?.note}}</p>
                                        <div class="note-remove d-flex justify-content-between">
                                            <h6>{{notes?.created_at}}</h6>
                                            <!-- <div class="noteBtn" (click)="removeNotes(notes)">Remove</div> -->
                                        </div>
                                    </div>
                                </mat-card>


                            </mat-tab>

                            <mat-tab label="Members">
                                <div class="card-member mb-3 mt-3" *ngFor = "let member of groupDetails.members">
                                    <div class="ch-box-grid">
                                        <div class="img-icon">
                                            <img [src]="member?.members?.profile_image ? member?.members?.profile_image : 'assets/images/calories/chl_duration.png'" alt="icon" class="img-fluid">
                                        </div>
                                        <div class="ch-title">
                                            <h6>{{member?.members?.first_name}}
                                                {{member?.members?.last_name}}</h6>
                                            <p>Monthly Package</p>
                                        </div>
                                    </div>
                                </div>
                               

                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="choose-date-active">
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar></mat-calendar>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
