.workout-mb{
    background-color: #fff;
    padding: 20px;
}
.group-title {
    color: #C3C3C3;
}
.group-title span {
    color: #000;
}
.workplan h5 {
    font-size: 18px;
}
.group-photo {
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 50px;
    overflow: hidden;
    margin: 20px 0px;
}
.group-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.note-des{
    background: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
}
.noteBtn{
    color: #E06F00;
    cursor: pointer;
}
.note-des p {
    font-size: 15px;
}
.note-remove {
    font-size: 16px;
}
.note-remove h6 {
    font-size: 16px;
}

.card-member {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
    padding: 12px;
    background: #fff;
}
.ch-box-grid {
    display: flex;
    align-items: center;
}
.img-icon{
    height: 50px;
    width: 50px;
    overflow: hidden;
    background: #fff;
    margin-right: 20px;
}
.ch-title h6 {
    font-size: 15px;
    margin-bottom: 0px;
}
.ch-box-grid p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #383838;
}