<div class="contianer">
    <div class="row gx-0 my-5 justify-content-center">
        <div class="col-md-8">
            <div class="row wrapper auth-card-wrapper gx-0">
                <div class="col-md-6 left-side">
                    <div class="  text-center">
                        <img class="Harwalah_login_log" src="assets/images/login_logo.svg" alt="">
                        <h5>Because We Understand Sports</h5>
                        <p class="lng_left_description">We have prepared sports programs for all groups, for those who love exercising at
                            home.</p>
                    </div>

                </div>
                <div class="col-md-6 right-side">
                    <h6>Great! Create New Password</h6>
                    <p class="lng_right_sub_heading">After creating a new password, it requires to login</p>

                    <form [formGroup]="changePassForm">
                        <div *ngIf="error" class="alert alert-danger" role="alert">
                            {{error}}
                          </div>
                          <div *ngIf="success" class="alert alert-success" role="alert">
                            {{success}}
                          </div>
                        <div class="mb-3">
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput placeholder="Create New Password" formControlName = "password">
                            </mat-form-field>
                        </div>
                        
                        <div class="mb-3">
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm New Password" formControlName = "confirmPassword">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="mb-3 ">
                            <button class="w-100"  mat-flat-button color="primary" (click)="changePass()">Reset</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>