<div class="container">
        <div class="row gx-0">
                <div class="col-md-12">
                    <h5>What is your goal</h5>
                    <p class="lng_right_sub_heading">Select your goal and continue</p>
                </div>

                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Weight loss')" (click)="checkedStepFive('Weight loss')" id="cb1" />
                        <label class="customCheckBox" for="cb1"><img src="assets/images/goal_weight_loss/goal_weight_loss.png" />
                        <p>Weight loss</p></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Muscle Building')" (click)="checkedStepFive('Muscle Building')" id="cb2" />
                        <label class="customCheckBox" for="cb2"><img src="assets/images/goal_muscle_building/goal_muscle_building.png" />
                        <p>Muscle Building</p></label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Psychological Improvement')" (click)="checkedStepFive('Psychological Improvement')" id="cb3" />
                        <label class="customCheckBox" for="cb3"><img src="assets/images/goal_psychological_imrovement/goal_psychological_imrovement.png" />
                            <p>Psychological Improvement</p>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Improve the Performance')" (click)="checkedStepFive('Improve the Performance')" id="cb4" />
                        <label class="customCheckBox" for="cb4"><img src="assets/images/goal_improve_the_performance/goal_improve_the_performance.png" />
                            <p>Improve the Performance</p>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Rehabilitation')" (click)="checkedStepFive('Rehabilitation')" id="cb5" />
                        <label class="customCheckBox" for="cb5"><img src="assets/images/goal_rehabilitation/goal_rehabilitation.png" />
                            <p>Rehabilitation</p>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Improve Appearance')" (click)="checkedStepFive('Improve Appearance')" id="cb6" />
                        <label class="customCheckBox" for="cb6"><img src="assets/images/goal_imrove_appearance/goal_imrove_appearance.png" />
                            <p>Improve Appearance</p>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-0">
                        <input type="checkbox" [checked]="isCheckStepFive('Body Shape')" (click)="checkedStepFive('Body Shape')" id="cb7" />
                        <label class="customCheckBox" for="cb7"><img src="assets/images/goal_body_shape/goal_body_shape.png" />
                            <p>Body Shape</p>
                        </label>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="mb-0">
                        <button type="submit" (click)="submit()" class="w-100" mat-flat-button color="primary">Next</button>
                    </div>
                </div>
            </div>
</div>