<div class="row gx-0 justify-content-center align-items-center">
    <div class="col-md-6  review text-center">
        <img src="assets/images/website_icons_user/walking_running_enthusiasts.png" alt="">
        <h5>Your profile under review <br> we'll notify you once approved</h5>
        <button mat-flat-button color="primary" routerLink="/home">Take Me to the Homepage</button>
    </div>
</div>