.review {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 14px 26px #e06f0021;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
