<div class="add-profile card">
    <div class="p-2">
        <h5>Basic Information</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <label>Full Name</label>
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="First Name">
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label>Last Name</label>
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="First Name">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label>Email</label>
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="Enter email">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label>Mobile Number</label>
                <mat-form-field class="login-input d-flex" appearance="outline">
                    <span matPrefix>
                        <div class="flagNumber">+996</div>
                    </span>
                    <input type="text" minlength="8" maxlength="13" class="telInput" matInput placeholder="Mobile Number"/>
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label>Country</label>
                <mat-form-field appearance="outline" class="login-select">
                    <mat-select  form aria-placeholder="Select Country" 
                        placeholder="Select Country">
                        <mat-option value="">Select Country</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12 mt-3">
                <div class="all-btn text-center">
                    <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                    <button mat-flat-button color="primary" class="primary-btn">Save</button>
                </div>
            </div>

        </div>
    </div>

</div>
