<!-- <section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">BMI Calculator</h3>
        </div>
        <div class="card-bg">
            <div class="workouts-wapper">
                <div class="p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label>Date of birth</label>

                                        <mat-form-field appearance="outline" class="login-input login-input1">
                                            <input matInput [matDatepicker]="datepicker" placeholder="DD/MM/YYYY" />
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="datepicker"></mat-datepicker-toggle>
                                            <mat-datepicker #datepicker>
                                                <mat-datepicker-actions>
                                                    <button mat-button matDatepickerCancel>Cancel</button>
                                                    <button mat-raised-button color="primary" matDatepickerApply>
                                                        Apply
                                                    </button>
                                                </mat-datepicker-actions>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-3">
                                        <label>Gender</label>

                                        <div class="select-gender">
                                            <div class="row">
                                                <div class="col-lg-6 my-2">
                                                    <div class="btn-group" role="group"
                                                        aria-label="Basic radio toggle button group">
                                                        <input type="radio" class="btn-check" name="btnradio"
                                                            id="btnradio1" autocomplete="off" checked />
                                                        <label class="btn btn-outline-primary" for="btnradio1">
                                                            <img src="assets/images/female.svg" alt="" />
                                                        </label>
                                                    </div>
                                                    <label class="text-center">
                                                        <strong>Female</strong>
                                                    </label>
                                                </div>

                                                <div class="col-lg-6 my-2">
                                                    <div class="btn-group" role="group"
                                                        aria-label="Basic radio toggle button group">
                                                        <input type="radio" class="btn-check" name="btnradio"
                                                            id="btnradio2" autocomplete="off" />
                                                        <label class="btn btn-outline-primary" for="btnradio2">
                                                            <img src="assets/images/male.svg" alt="" />
                                                        </label>
                                                    </div>
                                                    <label class="text-center">
                                                        <strong>Male</strong></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label>Fitness level?</label>

                                        <div class="dropdown dropend">
                                            <button type="button" class="btn btn-primary green-btn dropdown-toggle"
                                                data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <img src="assets/images/M2_Trainee_Assets/health_level_dark_green.png"
                                                    class="grn-arw-img" alt="" />

                                                <div class="fitness-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Beginner</h4>

                                                            <p class="card-text">
                                                                This is the beginning of my fitness journey
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>

                                        <div class="dropdown dropend">
                                            <button type="button" class="btn btn-primary light-grn dropdown-toggle"
                                                data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <img src="assets/images/M2_Trainee_Assets/health_level_green.png"
                                                    class="grn-arw-img" alt="" />

                                                <div class="fitness-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Inexperienced</h4>

                                                            <p class="card-text">
                                                                I sweat every now and then but not more than
                                                                once a week
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>

                                        <div class="dropdown dropend">
                                            <button type="button" class="btn btn-primary yellow dropdown-toggle"
                                                data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <img src="assets/images/M2_Trainee_Assets/health_level_yellow.png"
                                                    class="grn-arw-img" alt="" />

                                                <div class="fitness-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Average level</h4>

                                                            <p class="card-text">
                                                                I try to keep myself fit. I train once or twice
                                                                a week
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>

                                        <div class="dropdown dropend">
                                            <button type="button" class="btn btn-primary orange dropdown-toggle"
                                                data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <img src="assets/images/M2_Trainee_Assets/health_level_red.png"
                                                    class="grn-arw-img" alt="" />

                                                <div class="fitness-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Advanced</h4>

                                                            <p class="card-text">I train 3-4 times a week!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>

                                        <div class="dropdown dropend">
                                            <button type="button" class="btn btn-primary red dropdown-toggle"
                                                data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <img src="assets/images/M2_Trainee_Assets/health_level_dark_red.png"
                                                    class="grn-arw-img" alt="" />

                                                <div class="fitness-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Expert</h4>

                                                            <p class="card-text">
                                                                I'm in a good state. I train at least 5 times a
                                                                week
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="mb-2"> Height</label>
                                        <mat-form-field class="login-input login-input1" appearance="outline">
                                            <input matInput placeholder="Enter height" />
                                            <span matTextSuffix class="text-org">CM</span>
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-3">
                                        <label class="mb-2"> Weight</label>
                                        <mat-form-field class="login-input login-input1" appearance="outline">
                                            <input matInput placeholder="Enter weight" />
                                            <span matTextSuffix class="text-org">KG</span>
                                        </mat-form-field>
                                    </div>

                                    <button color="primary" mat-flat-button class="w-100 mt-3">
                                        Calculate
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
      <div class="member-header mb-3">
        <h3 class="title-hd mb-0">BMI Calculator</h3>
      </div>
      <div class="card-bg">
        <div class="workouts-wapper">
          <div class="p-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="card border-0">
                  <div class="card-body">
                    <!-- Date of Birth -->
                    <div class="mb-3">
                      <label>Date of Birth</label>
                      <mat-form-field appearance="outline" class="login-input login-input1">
                        <input matInput [matDatepicker]="datepicker" placeholder="DD/MM/YYYY" [(ngModel)]="dateOfBirth" />
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply (change)="calculateAge()">Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                    </div>
  
                    <!-- Gender -->
                    <div class="mb-3">
                      <label>Gender</label>
                      <div class="select-gender">
                        <div class="row">
                          <div class="col-lg-6 my-2">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                              <input
                                type="radio"
                                class="btn-check"
                                name="btnradio"
                                id="btnradio1"
                                autocomplete="off"
                                [(ngModel)]="gender"
                                [value]="'female'"
                              />
                              <label class="btn btn-outline-primary" for="btnradio1">
                                <img src="assets/images/female.svg" alt="" />
                              </label>
                            </div>
                            <label class="text-center"><strong>Female</strong></label>
                          </div>
  
                          <div class="col-lg-6 my-2">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                              <input
                                type="radio"
                                class="btn-check"
                                name="btnradio"
                                id="btnradio2"
                                autocomplete="off"
                                [(ngModel)]="gender"
                                [value]="'male'"
                              />
                              <label class="btn btn-outline-primary" for="btnradio2">
                                <img src="assets/images/male.svg" alt="" />
                              </label>
                            </div>
                            <label class="text-center"><strong>Male</strong></label>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <!-- Fitness Level -->
                    <div class="mb-3">
                        <label>Fitness level?</label>
    
                        <div class="dropdown dropend">
                          <button
                            type="button"
                            class="btn btn-primary green-btn dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="true"
                            (click)="selectFitnessLevel('Beginner')"
                          ></button>
                          <ul class="dropdown-menu">
                            <img src="assets/images/M2_Trainee_Assets/health_level_dark_green.png" class="grn-arw-img" alt="" />
                            <div class="fitness-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Beginner</h4>
                                  <p class="card-text">This is the beginning of my fitness journey</p>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
    
                        <div class="dropdown dropend">
                          <button
                            type="button"
                            class="btn btn-primary light-grn dropdown-toggle"
                            data-bs-toggle="dropdown"
                            (click)="selectFitnessLevel('Inexperienced')"
                          ></button>
                          <ul class="dropdown-menu">
                            <img src="assets/images/M2_Trainee_Assets/health_level_green.png" class="grn-arw-img" alt="" />
                            <div class="fitness-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Inexperienced</h4>
                                  <p class="card-text">I sweat every now and then but not more than once a week</p>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
    
                        <div class="dropdown dropend">
                          <button
                            type="button"
                            class="btn btn-primary yellow dropdown-toggle"
                            data-bs-toggle="dropdown"
                            (click)="selectFitnessLevel('Average level')"
                          ></button>
                          <ul class="dropdown-menu">
                            <img src="assets/images/M2_Trainee_Assets/health_level_yellow.png" class="grn-arw-img" alt="" />
                            <div class="fitness-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Average level</h4>
                                  <p class="card-text">I try to keep myself fit. I train once or twice a week</p>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
    
                        <div class="dropdown dropend">
                          <button
                            type="button"
                            class="btn btn-primary orange dropdown-toggle"
                            data-bs-toggle="dropdown"
                            (click)="selectFitnessLevel('Advanced')"
                          ></button>
                          <ul class="dropdown-menu">
                            <img src="assets/images/M2_Trainee_Assets/health_level_red.png" class="grn-arw-img" alt="" />
                            <div class="fitness-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Advanced</h4>
                                  <p class="card-text">I train 3-4 times a week!</p>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
    
                        <div class="dropdown dropend">
                          <button
                            type="button"
                            class="btn btn-primary red dropdown-toggle"
                            data-bs-toggle="dropdown"
                            (click)="selectFitnessLevel('Expert')"
                          ></button>
                          <ul class="dropdown-menu">
                            <img src="assets/images/M2_Trainee_Assets/health_level_dark_red.png" class="grn-arw-img" alt="" />
                            <div class="fitness-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Expert</h4>
                                  <p class="card-text">I'm in a good state. I train at least 5 times a week</p>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
    
                        <div *ngIf="!fitnessLevel" class="text-danger">
                          Please select your fitness level.
                        </div>
                    </div>
    

                    <!-- Height -->
                    <div class="mb-3">
                      <label class="mb-2">Height</label>
                      <mat-form-field class="login-input login-input1" appearance="outline">
                        <input matInput placeholder="Enter height" [(ngModel)]="height" />
                        <span matTextSuffix class="text-org">CM</span>
                      </mat-form-field>
                    </div>
  
                    <!-- Weight -->
                    <div class="mb-3">
                      <label class="mb-2">Weight</label>
                      <mat-form-field class="login-input login-input1" appearance="outline">
                        <input matInput placeholder="Enter weight" [(ngModel)]="weight" />
                        <span matTextSuffix class="text-org">KG</span>
                      </mat-form-field>
                    </div>
  
                    <!-- Calculate Button -->
                    <button color="primary" mat-flat-button class="w-100 mt-3" (click)="calculateBMI()">
                      Calculate
                    </button>
  
                    <!-- Results -->
                    <div *ngIf="bmi">
                        <p>BMI: {{ bmi | number: '1.2-2' }}</p>
                        <p>Classification: {{ bmiClassification }}</p>
                        <p>Healthy Weight Range: {{ healthyWeightRange.min | number: '1.2-2' }} - {{ healthyWeightRange.max | number: '1.2-2' }} kg</p>
                        <p>BMI Prime: {{ bmiPrime | number: '1.2-2' }}</p>
                        <p>Ponderal Index: {{ ponderalIndex | number: '1.2-2' }}</p>
                        <p *ngIf="weightToLose > 0">Weight to Lose: {{ weightToLose | number: '1.2-2' }} kg</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  