<div class="card">
    <div class="card-header-pnl text-center">
        <img src="assets/images/success_done_check.gif" alt="icon" class="img-fluid">
        <h4>Group has been created <br>Successfully</h4>
    </div>
    <div class="all-btn text-center mt-4">
        <button mat-flat-button color="primary" (click)="close()" class="primary-btn">Okay</button>
    </div>
</div>
