<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Add Nutrition</h3>
        <div class="trainee-common-wapper">
            <div class="row">
                <div class="col-lg-5">
                    <div class="nutrition-grid">
                        <img src="assets/images/video_PosterImage.png" alt="image" class="img-fluid">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6>Asian chicken salad</h6>
                            <table class="table">
                                <tr>
                                    <td>Nutrition Type :</td>
                                    <td>Moderate Proteins</td>
                                </tr>
                                <tr>
                                    <td>Meal Type :</td>
                                    <td>Breakfast, Lunch</td>
                                </tr>
                                <tr>
                                    <td>Fat :</td>
                                    <td>18.55</td>
                                </tr>
                                <tr>
                                    <td>Calorie :</td>
                                    <td>356</td>
                                </tr>
                                <tr>
                                    <td>Duration :</td>
                                    <td>2 days</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <div class="des-tainer mt-3">Description</div>
                    <div class="des-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>

                    <div class="nut-button text-center">
                        <button class="primary-btn-cancel me-2">Cancel</button>
                        <button  mat-flat-button color="primary" class="primary-btn" (click)="customerdiet()">Continue</button>
                    </div>
                    
                </div>

                <div class="col-lg-7">
                    <div class="nutr-pnl">
                        <h6 class="nutr_title">For How Many Week(s)</h6>
                        <div class="nutr-4week">
                            <div class="nutr_box">
                                <div>1</div>
                                <div>week</div>
                            </div>
                            <div class="nutr_box nutrActive">
                                <div>2</div>
                                <div>weeks</div>
                            </div>
                            <div class="nutr_box">
                                <div>3</div>
                                <div>weeks</div>
                            </div>
                            <div class="nutr_box">
                                <div>4</div>
                                <div>weeks</div>
                            </div>
                        </div>

                        <h6 class="nutr_title">Days In the Selected Week (s)</h6>
                        <div class="nutr-week-lists">
                            <div class="lists_week">Sat</div>
                            <div class="lists_week nutrActive">Sun</div>
                            <div class="lists_week">Mon</div>
                            <div class="lists_week">Tue</div>
                            <div class="lists_week">Wed</div>
                            <div class="lists_week">Thu</div>
                            <div class="lists_week">Fri</div>
                        </div>
                        <h6 class="nutr_title">Meal Period</h6>
                        <div class="meal-box mb-3" *ngFor="let meal of [1,2,3]">
                            <div class="d-flex gap-3 align-items-center">
                                <figure>
                                    <img src="assets/images/video_PosterImage.png" alt="img">
                                </figure>
                                <div class="meal-title">Asian chicken salad</div>
                            </div>
                            <div class="bin-icon"><i class="bi bi-trash3"></i></div>
                        </div>
                        

                    </div>


                </div>

            </div>
        </div>



    </div>

</div>
