<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Running Details</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/member-details">Back</button>
        </div>
        <div class="card-bg">
            <div class="row m-2">
                <div class="col-lg-7">
                    <div class="running-box  bg-white p-3 mt-4">
                        <div class="work-date mb-3">
                            <div class="d-flex mark-ornage ">
                               <span><i class="bi bi-check2-circle"></i></span> Mark as Completed
                            </div>
                            <div class="d-flex text-gray">
                               <span><i class="bi bi-x-circle"></i></span> Skip Activity
                            </div>
                            <div class="d-flex border-red for-cursor" (click)="deletePopup()">
                                <i class="bi bi-trash3"></i> Delete Running
                            </div>

                            <div class="d-flex addcalendar d-none">
                                <img src="assets/images/bestCoach/added_calendar.png"> Added to calendar
                                <div><i class="bi bi-x-lg"></i></div>
                            </div>
                            <div class="d-flex addcalendar add-border">
                                <i class="bi bi-calendar4-week"></i> Add to calendar
                            </div>
                            <!-- <div class="d-flex add-blue">
                                <img src="assets/images/Coach/edit.svg"> Edit Workout
                            </div> -->
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="running-user">
                                    <div class="work-card-img">
                                        <img [src]="runningData?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="running-user">
                                    <div class="easy-title">{{running_type[runningData?.running_type]}} {{runningData?.name}}</div>
                                    <ng-container *ngIf="runningData?.running_type == 1">
                                        <div  class="quick-timer">
                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                            {{runningData?.duration}} {{runningData?.duration_unit}}
                                        </div>
                                        <div class="easy-list"><span>Distance:</span> {{runningData?.distance}} {{runningData?.distance_unit}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="runningData?.running_type == 2 || runningData?.running_type == 3">
                                        <div class="easy-list"><span>Warmup Distance:</span> {{runningData?.warmup_distance}} {{runningData?.warmup_distance_unit}}</div>
                                        <div class="easy-list"><span>Cooldown Distance:</span> {{runningData?.cooldown_distance}} {{runningData?.cooldown_distance_unit}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="runningData?.running_type == 3">
                                        <div class="easy-list"><span>Race Type:</span> {{runningData?.race_type | titlecase}} </div>
                                        <div class="easy-list"><span>VO2 Max:</span> {{runningData?.vo2}}</div>
                                    </ng-container>
                                    <!-- <div class="easy-list"><span>Actual Pace:</span> 10 KM</div> -->
                                    <div *ngIf="runningData?.running_type == 1" class="easy-list"><span>Planned:</span> 4.06 ~ 4.31/km</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="running-user">
                                    <div class="d-flex modify-title" (click)="goToEditRunning(runningData)">
                                        <img src="assets/images/Coach/edit.svg" alt="image" class="me-1"> Modify
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="runningData?.running_type == 1" class="d-flex gap-4 mt-3 ">
                            <div class="easy-list"><span>Est. Distance: </span>0.80KM</div>
                            <div class="easy-list"><span>Est. Time : </span>1 hr : 20 Min</div>
                        </div>

                        <ng-container *ngIf="runningData?.running_type == 2">
                            <div *ngFor="let item of runningData?.sets" class="quality-pnl mt-3">
                                <div class="resps-pnl">
                                    <div class="easy-list"><span>Reps x Distance </span>
                                    <p class="quick-timer"> {{item?.reps}} X {{item?.distance}} {{item?.distence_unit}}</p>
                                    </div>
                                    <div class="easy-list"><span>Avg. Pace  </span>
                                        <p>{{item?.avg_pace}}</p>
                                    </div>
                                    <div class="easy-list"><span>Effort</span>
                                    <p class="text-easy"> {{item?.effort | titlecase }}</p>
                                    </div>
                                    <div class="easy-list"><span>Recovery Between Reps</span>
                                        <p>{{item?.recovery_between_reps}} {{item?.recovery_between_reps_unit}}</p>
                                    </div>
                                </div>
                                <div *ngFor="let i_item of item?.pace;let i = index" class="resps-card">
                                    <div class="resps-list">Rep :<span>{{i+1}}</span> Pace <span>{{i_item?.pace}} {{i_item?.pace_unit}}</span>{{ i_item?.pace | diffBetMin : item?.avg_pace }}</div>
                                    <!-- <div class="resps-list">Rep :<span>2</span> Pace <span>3 km</span>- 3.03</div> -->
                                </div>
                            </div>
                        </ng-container>

                    </div>

                    <div class="quick-tainer">Description</div>
                    <div class="work-details-pnl bg-white p-3">
                        <p>
                            {{runningData?.description}}
                        </p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>