<section class="subscription-wapper padtop-601 mt-3 mb-5">
  <div class="container padtop-60">
    <div class="member-header mb-3">
      <h3 class="title-hd mb-0">Nutritions</h3>
    </div>
    <div class="card-bg">
      <div class="search-panel p-3 mb-2">
        <div class="search-field">
          <mat-form-field
            class="login-input search-itp w-25 me-4"
            appearance="outline"
          >
            <span matPrefix class="me-33"
              ><mat-icon matSuffix>search</mat-icon></span
            >
            <input
              type="text"
              matInput
              placeholder="Search nutritions by name"
              (keyup)="onSearch($event)"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="workouts-wapper">
        <div class="p-3">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div
                  class="col-sm-6 col-md-6 col-lg-6 mb-3"
                  *ngFor="let nutrition of runningDataSave"
                >
                  <div class="card clickPointer" (click)="goToRunningDetail(nutrition)">
                    <div class="card-body">
                      <figure class="nutrition-img">
                        <img
                          [src]="
                            nutrition?.image ||
                            'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'
                          "
                          alt="image"
                          class="img-fluid"
                        />
                      </figure>
                      <div class="nutrition-content">
                        <div class="nutrition-panle">
                          <h6>{{ nutrition?.title }}</h6>
                          <div class="n-title">
                            {{ nutrition?.description }}
                          </div>
                          <p>{{ nutrition?.nutrition_for }}</p>
                        </div>
                        <div class="nutrition-date">
                          <div class="distance-title">
                            Duration :<span
                              >{{ nutrition?.duration }} Days</span
                            >
                          </div>
                          <div class="calories-title">
                            <img src="assets/images/calories/calories.png" />
                            <span>{{ nutrition?.calories }}</span> Cal
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="coach-filter">
                <div class="filter-title mb-4">
                  <h6>Filter</h6>
                  <div class="clear-text">Clear Filter</div>
                </div>
                <div class="from-group mb-2">
                  <label>Nutrition Type</label>
                  <mat-form-field
                    appearance="outline"
                    class="login-select mt-2"
                  >
                    <mat-select
                      form
                      aria-placeholder="Select A Group Type"
                      placeholder="Select Type"
                    >
                      <mat-option value="Running">Running</mat-option>
                      <mat-option value="Workout">Workout</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="from-group mb-2">
                  <label>Meal Type</label>
                  <mat-form-field
                    appearance="outline"
                    class="login-select mt-2"
                  >
                    <mat-select
                      form
                      aria-placeholder="Select A Group Type"
                      placeholder="Select Type"
                    >
                      <mat-option value="Running">Running</mat-option>
                      <mat-option value="Workout">Workout</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="from-group mb-2">
                  <label>Total Calories</label>
                  <mat-form-field class="login-input mt-2" appearance="outline">
                    <input matInput placeholder="Total Calories" />
                  </mat-form-field>
                </div>

                <div class="all-btn text-center mt-4">
                  <button
                    type="submit"
                    mat-flat-button
                    color="primary"
                    class="primary-btn"
                  >
                    Apply Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
