
.coach-filter {
    background: #F4F4F4;
    padding: 15px;
}
.filter-title{
    display: flex;
    justify-content: space-between;
}

.card {
    border: none;
    box-shadow: 0px 3px 6px #dbdbdbad;
    border-radius: 7px;
}
.card-body {
    padding: 1px;
}
figure.nutrition-img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
}
.nutrition-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nutrition-panle h6 {
    font-size: 15px;
    margin-bottom: 0px;
}
.n-title {
    color: #C3C3C3;
    font-size: 14px;
}
.nutrition-panle p {
    font-size: 12px;
    margin-bottom: 0px;
}
.calories-title img {
    height: 18px;
    margin-right: 7px;
}
.calories-title {
    font-size: 13px;
    text-align: right;
}
.calories-title span {
    color: #E16F00;
    font-weight: 500;
}
.distance-title {
    font-size: 14px;
}