<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Food Recipes</h3>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Recipes">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group position-relative mb-2">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search nutrition by name">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="ps-1 form-control" placeholder="Total Calories">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected value="">Veg. Included</option>
                                        <option value="1">Easy Running</option>
                                        <option value="2">Quality Session</option>
                                        <option value="3">Race</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Fruits Included</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Meal Period</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Diet Type</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button  mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-4">
                        
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-3" *ngFor="let nutrition of [1,2,3,4]">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="offertitle">Breackfast</div>
                                        <figure class="nutrition-img">
                                            <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure>
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <div class="recipe-title">Zucchini meal stuffed with chickpeas and oats</div>
                                                <div class="diet-type">Diet Type :<span>Low Fat</span></div>
                                                <div class="diet-type">Fruits Included :<span>Banana, Guava</span></div>
                                                <div class="diet-type">Vegetables Included :<span>Carrot</span></div>
                                            </div>
                                            <div class="nutrition-date d-flex justify-content-between mt-2">
                                                <div class="d-flex gap-2">
                                                    <div class="calories-title"><img src="assets/images/goal_weight_loss/goal_weight_loss.png"> <span>12 </span> Fat</div>
                                                    <div class="calories-title"><img src="assets/images/calories/calories.png"> <span>456</span> Cal</div>
                                                </div>
                                                <button  mat-flat-button color="primary" routerLink="/trainee-layout/food-recipes/details" class="primary-btn">Unlock - 20 SAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="My Recipes">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group position-relative mb-2">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search nutrition by name">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="ps-1 form-control" placeholder="Total Calories">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected value="">Veg. Included</option>
                                        <option value="1">Easy Running</option>
                                        <option value="2">Quality Session</option>
                                        <option value="3">Race</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Fruits Included</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Meal Period</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Diet Type</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button  mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-4">
                        
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-3" *ngFor="let nutrition of [1,2]">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="offertitle">Breackfast</div>
                                        <figure class="nutrition-img">
                                            <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure>
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <div class="recipe-title">Zucchini meal stuffed with chickpeas and oats</div>
                                                <div class="diet-type">Diet Type :<span>Low Fat</span></div>
                                                <div class="diet-type">Fruits Included :<span>Banana, Guava</span></div>
                                                <div class="diet-type">Vegetables Included :<span>Carrot</span></div>
                                            </div>
                                            <div class="nutrition-date d-flex justify-content-between mt-2">
                                                <div class="d-flex gap-2">
                                                    <div class="calories-title"><img src="assets/images/goal_weight_loss/goal_weight_loss.png"> <span>12 </span> Fat</div>
                                                    <div class="calories-title"><img src="assets/images/calories/calories.png"> <span>456</span> Cal</div>
                                                </div>
                                                <div class="sar-green">SAR 20</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>

        </mat-tab-group>
    </div>

</div>

