.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.search-header {
    background: #E6E6E6;
    padding: 10px;
    border-radius: 2px;
}
.inputsearch {
    position: absolute;
    background: transparent;
    border: none;
    color: #666;
    top: 9px;
    left: 9px;
}
.search-header .form-control {
    padding-left: 30px;
}
.card {
    border: none;
    box-shadow: 0px 3px 6px #dbdbdbad;
    border-radius: 7px;
}
.card-body {
    padding: 11px;
}
figure.nutrition-img {
    height: 180px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
}
.calories-title img {
    height: 18px;
    margin: 4px;
}
.calories-title {
    font-size: 14px;
}
.calories-title span {
    color: #7C7C7C;
    font-weight: 500;
}
.diet-type {
    color: #C3C3C3;
    font-size: 14px;
    line-height: 26px;
}
.diet-type span {
    color: #000;
    font-weight: 500;
    margin: 4px;
}
.recipe-title{
    font-size: 15px;
    font-weight: 600;
    color: #383838;
    line-height: 18px;
}
.sar-green{
    font-size: 16px;
    font-weight: 600;
    color: #61B92B;
}
.offertitle {
    background: transparent linear-gradient(249deg, #d3752beb 0%, #b45520e0 100%) 0% 0% no-repeat;
    box-shadow: 0px 20px 26px #00000029;
    border-radius: 8px 0px;
    padding: 8px;
    color: #fff;
    width: min-content;
    position: absolute;
    left: 0;
    font-size: 13px;
}