<div class="container">
    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>
    <div class="row gx-0">
        <div class="col-md-12">
            <h5>Service price per month</h5>
            <p class="lng_right_sub_heading">Enter service price per month</p>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="Enter Service Price Per Month" [(ngModel)]="price_per_month" >
                    <span class="link" matTextSuffix>SAR</span>
                </mat-form-field>
            </div>
        </div>
       
        <div class="col-md-12">
            <div class="mb-3">
                <button class="w-100" mat-flat-button color="primary" (click)="submit()" >Next</button>
            </div>
        </div>
        <span id="success_model-after-complete" data-bs-target="#exampleModal" data-bs-toggle="modal"></span>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content text-center">
            <p style="color: #61B92B;">Your account has been created successfully</p>
            <p style="color: #7C7C7C;">Your request is being reviewed and we will inform you soon once your account is activated.</p>

            <button type="submit" mat-flat-button color="primary" data-bs-dismiss="modal" (click)="navigateToHome()">Okay</button>
      </div>
    </div>
  </div>