<div class="contianer">
    <div class="row gx-0 my-5 justify-content-center">
        <div class="col-md-8">
            <div class="row wrapper auth-card-wrapper gx-0">
                <div class="col-md-6 left-side">
                    <div class="  text-center">
                        <img class="Harwalah_login_log" src="assets/images/login_logo.svg" alt="">
                        <h5>Because We Understand Sports</h5>
                        <p class="lng_left_description">We have prepared sports programs for all groups, for those who love exercising at
                            home.</p>
                    </div>

                </div>
                <div class="col-md-6 right-side">
                    <h6>Verify Your Email</h6>
                    <p class="lng_right_sub_heading">Enter a 4 digit code sent to your email address</p>
                    <form [formGroup]="otpForm">
                        <div *ngIf="error" class="alert alert-danger" role="alert">
                            {{error}}
                          </div>
                        <div class="mb-3">
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput placeholder="Enter OTP" formControlName = otp>
                            </mat-form-field>
                        </div>
                        <div class="mb-3 text-end">
                            <a roterLink="" class="link">Resend OTP</a>
                        </div>
    
                        <div class="mb-3 ">
                            <button class="w-100"  mat-flat-button color="primary" (click)="verifyOtp()">Next</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>