<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Recipes</h3>
            <button class="btn btn-circle" routerLink="/coach-layout/recipes/add"><span class="pluse-box"><i class="bi bi-plus"></i></span> Create Recipes</button>
        </div>
        <div class="card-bg">
            <div class="search-panel">
                <div class="search-field">
                    <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                        <span matPrefix   class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                        <input type="text"  matInput placeholder="Search Recipes"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="p-3">
            <div class="row common-select-pnl g-0">
                <div class="col">
                    <mat-form-field appearance="outline" class="common-select">
                        <mat-label>Total Calories</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">Option 1</mat-option>
                          <mat-option value="2">Option 2</mat-option>
                          <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="common-select">
                        <mat-label>Vegetables Included</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">Option 1</mat-option>
                          <mat-option value="2">Option 2</mat-option>
                          <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="common-select">
                        <mat-label>Fruits Included</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">Option 1</mat-option>
                          <mat-option value="2">Option 2</mat-option>
                          <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="common-select">
                        <mat-label>Meal Period</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">Option 1</mat-option>
                          <mat-option value="2">Option 2</mat-option>
                          <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="common-select mt-2">
                        <mat-label>Diet Type</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">Option 1</mat-option>
                          <mat-option value="2">Option 2</mat-option>
                          <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            </div>


            <div class="table-responsive mt-3">
                <table class="table memberDatas">
                    <thead>
                        <tr class="bg-row">
                            <td>S.No.</td>
                            <td>Image</td>
                            <td>Recipe Name</td>
                            <td>Meal Period</td>
                            <td>Diet Type</td>
                            <td>Fruits Included</td>
                            <td>Vegetables Included</td>
                            <td>Fat</td>
                            <td>Calories</td>
                            <td>Price</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let item of recepieData;let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <img [src]="item.image ? item.image :'assets/images/Coach/upload_profile_pic.png'" alt="user" height="40px" class="avtar-circle">
                            </td>
                            <td>{{item?.title}}</td>
                            <td><span *ngFor = "let meal of item?.meals">{{meal?.meal_period}}, </span></td>
                            <td><span *ngFor = "let diet of item?.diets">{{diet?.diet_type}}, </span></td>
                            <td><span *ngFor = "let fruits of item?.fruits">{{fruits?.name}}, </span></td>
                            <td><span *ngFor = "let veg of item?.vegetables">{{veg?.vegetable}}, </span></td>
                            <td>{{item?.fat}} {{item?.fat_unit}}</td>
                            <td>{{item?.calories}}</td>
        
                            <td>SAR {{item?.price}}</td>
                            <td>
                                <div class="view-btn-img"(click)="goToDetails(item)">
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                                </div>
                            </td>
                        </tr>
                        

                    </tbody>
                </table>
            </div>

        </div>


    </div>

</section>
