<div class="add-profile card">
    <div class="p-2">
        <h5>Modifying Health Status</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <label>Injuries</label>
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="Write injuries">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label>Description</label>
                <div class="login-input-area">
                    <textarea rows="2" class="form-control"  placeholder="Write description"></textarea>
                </div>
            </div>
            <div class="col-lg-12">
                <label>Diseases</label>
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="Write diseases">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label>Description</label>
                <div class="login-input-area">
                    <textarea rows="2" class="form-control"  placeholder="Write description"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Emergency contacts</label>
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput placeholder="Full name">
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label>Mobile Number</label>
                <mat-form-field class="login-input d-flex" appearance="outline">
                    <span matPrefix>
                        <div class="flagNumber">+996</div>
                    </span>
                    <input type="text" minlength="8" maxlength="13" class="telInput" matInput placeholder="Mobile Number"/>
                </mat-form-field>
            </div>
        
            <div class="col-md-12 mt-3">
                <div class="all-btn text-center">
                    <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn " mat-dialog-close>Cancel</button>
                    <button mat-flat-button color="primary" class="primary-btn">Save</button>
                </div>
            </div>

        </div>
    </div>

</div>
