<div class="container">
    <div class="row gx-0">
        <form [formGroup]="step_three_form" (ngSubmit)="submit()">
            <div class="col-md-12">
                <h5>Gender & Date of Birth</h5>
                <p class="lng_right_sub_heading">Select your gender and date of birth</p>
            </div>
        
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-6">
                    
                        <div class="cc-selector">
                            <input id="visa" type="radio" formControlName="gender" value="female" />
                            <label class="drinkcard-cc female" for="visa"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cc-selector">
                            <input id="mastercard" type="radio" formControlName="gender" value="male" />
                            <label class="drinkcard-cc male" for="mastercard"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-4">
                    <mat-form-field appearance="outline" class="login-datepicker">
                        <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="dob" placeholder="Date Of Birth">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <img class="matDatepickerIcon" matDatepickerToggleIcon src="assets/images/M2_Trainee_Assets/calendar.png" alt="">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <button type="submit" class="w-100" mat-flat-button color="primary">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>