<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Running</h3>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Workouts">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group position-relative">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input [(ngModel)]="nameSearch" (keyup)="searchByName()" type="text" class="form-control" placeholder="Search running by name">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select"  [(ngModel)]="running_type" aria-label="Default select">
                                        <option selected value="">Type</option>
                                        <option value="1">Easy Running</option>
                                        <option value="2">Quality Session</option>
                                        <option value="3">Race</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Distance</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button (click)="applyFilter()" mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-4">
                        <div class="workout-heading mb-4">
                            <div class="running-title">Running</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 mb-3"  *ngFor="let running of runningList">
                                <mat-card (click)="goToDetail(running)" class="cp-hover">
                                  <mat-card-content>
                                    <div class="cup-img-quick">
                                        <img [src]="running?.image || 'assets/images/bestCoach/3.jpg'" alt="banner" class="img-fluid">
                                    </div>
                                    <div class="workNumber">{{running?.name}}</div>
                                    <div class="cup-content d-flex justify-content-between">
                                      <div *ngIf="running?.running_type == 1" class="distance-title">Distance:<span>{{running?.distance}} {{running?.distance_unit}}</span></div>
                                      <div *ngIf="running?.running_type == 2 || running?.running_type == 3" class="distance-title">Distance:<span>{{running?.cooldown_distance}} {{running?.cooldown_distance_unit}}</span></div>
                                      <div *ngIf="running?.running_type == 1" class="clock-ic"><span><i class="bi bi-clock"></i></span> {{running?.duration}} {{running?.duration_unit}}</div>
                                      <div *ngIf="running?.running_type == 3" class="clock-ic"><span><i class="bi bi-clock"></i></span> {{running?.time}} {{'Hrs'}}</div>
                                    </div>
                                  </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="My Running Plan">
                <div class="workout-section">
                    <div class="Individual-Workouts p-4">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h5 class="selfplan-title">Self Planed</h5>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 mb-3" *ngFor="let running of user_runningList">
                                        <mat-card >
                                          <mat-card-content>
                                            <div class="cup-img-quick">
                                                <img [src]="running?.image || 'assets/images/bestCoach/2.jpg'" alt="banner" class="img-fluid">
                                            </div>
                                            <div class="workNumber">{{running?.name}}</div>
                                            <div class="cup-content d-flex justify-content-between">
                                                <div *ngIf="running?.running_type == 1" class="distance-title">Distance:<span>{{running?.distance}} {{running?.distance_unit}}</span></div>
                                                <div *ngIf="running?.running_type == 2 || running?.running_type == 3" class="distance-title">Distance:<span>{{running?.cooldown_distance}} {{running?.cooldown_distance_unit}}</span></div>
                                                <div *ngIf="running?.running_type == 1" class="clock-ic"><span><i class="bi bi-clock"></i></span> {{running?.duration}} {{running?.duration_unit}}</div>
                                                <div *ngIf="running?.running_type == 3" class="clock-ic"><span><i class="bi bi-clock"></i></span> {{running?.time}} {{'Hrs'}}</div>
                                            </div>
                                          </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h5 class="selfplan-title">My Coaches Planned</h5>
                                <div class="coach-plne mb-3">
                                    <div class="coach-banner">
                                        <img src="assets/images/bestCoach/1.jpg" alt="banner" class="img-fluid">
                                    </div>
                                    <div class="coach-content">
                                        <div class="coach-thumb">
                                            <img src="assets/images/bestCoach/1.jpg" alt="banner" class="img-fluid">
                                        </div>
                                        <div>
                                            <h6>K/Ahmed Sameh</h6>
                                            <div class="coach-icon">
                                                <!-- <img src="assets/images/bestCoach/1.jpg" alt="banner" class="img-fluid"> -->
                                                <span>200 trainees</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="coach-plne mb-3">
                                    <div class="coach-banner">
                                        <img src="assets/images/bestCoach/2.jpg" alt="banner" class="img-fluid">
                                    </div>
                                    <div class="coach-content">
                                        <div class="coach-thumb">
                                            <img src="assets/images/bestCoach/3.jpg" alt="banner" class="img-fluid">
                                        </div>
                                        <div>
                                            <h6>K/Ahmed Sameh</h6>
                                            <div class="coach-icon">
                                                <!-- <img src="assets/images/bestCoach/1.jpg" alt="banner" class="img-fluid"> -->
                                                <span>200 trainees</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>

                </div>

            </mat-tab>


        </mat-tab-group>
    </div>

</div>