.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.search-header {
    background: #E6E6E6;
    padding: 10px;
    border-radius: 2px;
}
.inputsearch {
    position: absolute;
    background: transparent;
    border: none;
    color: #666;
    top: 50%;
    left: 9px;
    transform: translate(0%, -50%);
}
.search-header .form-control {
    padding-left: 30px;
}
.running-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}
.cup-img-quick img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cup-img-quick {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(221, 252, 252);
}
.cup-content {
    text-align: center;
    padding: 15px 0px 0px;
}
.clock-ic {
    color: #E16F00;
    font-weight: 500;
    font-size: 14px;
}
.workNumber {
    text-align: center;
    color: #383838;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.distance-title {
    color: #B2B4B6;
    font-size: 15px;
}
.distance-title span {
    color: #000000;
}
.selfplan-title{
    letter-spacing: 1.4px;
    color: #383838;
    font-size: 16px;
}
.coach-banner{
    height: 140px;
    overflow: hidden;
    border-radius: 10px;
}
.coach-banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.coach-thumb{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    margin-top: -10px;
    margin-right: 10px;
}
.coach-plne{
    background-color: #fff;
    padding:5px;
}
.coach-content{
    display: flex;
    padding: 0px 20px;
}
.coach-content h6{
    margin-bottom: 0px;
    padding-top: 5px;
}
.cp-hover{
    cursor: pointer;
}