
<mat-sidenav-container class="sidenav-container">
   
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <app-coach-aside></app-coach-aside>
    </mat-sidenav>
   
    <mat-sidenav-content>
        <div class="main-wrapper">
            <button type="button" class="me-auto toggleMenubtn" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button> 
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

