<div class="dashboard-pnl">
    <div class="container-fluid padtop-60">
        <h3 class="title-hd">Current Subscription</h3>
        <div class="row bg-wapper">
            <div class="col-lg-4">
                <div class="common-sub">
                    <div class="month-tl">{{planData?.package?.title}}</div>
                    <div class="package-header">
                        <div class="pack-icon">
                            <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="img-fluid">
                        </div>
                        <div class="pack-title">
                            <h4>Pay every {{package_type[planData?.package?.package_type]}}</h4>
                            <h5 class="t-green">SAR {{planData?.package?.discount_price}}</h5>
                        </div>
                    </div>
                    <ul class="list-inline subpack">
                        <!-- <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li> -->
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="common-sub-2">
                    <h5>{{getDay()}} Days Left to Expire</h5>
                    <div class="pack-2">
                       <div class="sub-on">Subscribed on <span>{{planData.purchase_date}}</span></div>
                       <p>The package will be auto renew on {{planData.expiry_date}}</p>
                       <div class="matrenew">
                       <mat-slide-toggle (change)="changeStatus($event)" [checked]="coachData?.subscription_auto_renew == 1" >Auto Renew is {{subscription_auto_renew[coachData?.subscription_auto_renew]}}</mat-slide-toggle>
                       </div>
                    </div>
                    <button class="btn upgrad-btn" routerLink="/coach-layout/subscription-list">Upgrade to Other Subscription</button>
                </div>
            </div>
        </div>

    </div>
</div>    
