.card-title{
    font-size: 30px;
    font-weight: bold;
}

.result-img-box{
    width: 79px;
    height: 79px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 19px #BEBEBE29;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-head{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0px;
    color: #000000;
}

.result-primary{
    font-weight: bold;
    font-size: 45px;
    color: #61B92B;
}
