<div *ngIf = "stateData.type == 'calories'" >
    <section class="subscription-wapper padtop-601 mt-3 mb-5">
        <div class="container padtop-60">
          <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Calories Calculator</h3>
          </div>
          <div class="card-bg">
            <div class="workouts-wapper">
              <div class="p-3">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card border-0">
                      <div class="card-body">
                        <h4 class="card-title text-center">Result</h4>
      
                        <div class="row">
                          <div class="col-lg-6 text-center">
                            <div class="result-box mt-4">
                              <div class="result-img-box mx-auto mb-3">
                                <img
                                  src="assets/images/website_icons_user/calories.png"
                                  alt=""
                                />
                              </div>
                              <div>
                                <h4 class="result-head mb-2">BMR</h4>
                                <h3 class="result-primary mb-0">
                                  {{ (stateData?.BMR).toFixed(2) || "0" }}
                                </h3>
                              </div>
                            </div>
                            <div class="result-box mt-4">
                              <div class="result-img-box mx-auto mb-3">
                                <img
                                  src="assets/images/website_icons_user/calories.png"
                                  alt=""
                                />
                              </div>
                              <div>
                                <h4 class="result-head mb-2">Calories</h4>
                                <h3 class="result-primary mb-0">
                                  {{
                                    (stateData?.AdjustedCalories).toFixed(2) || "0"
                                  }}
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="body-img mx-auto">
                              <img
                                src="assets/images/website_icons_user/result_man_body.png"
                                alt="body"
                                width="100%"
                              />
                            </div>
                          </div>
                        </div>
                        <button
                          color="primary"
                          routerLink="/coach-layout/dashboard"
                          mat-flat-button
                          class="w-100 mt-3"
                        >
                          Take me to Dashboard
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

