<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Members Groups</h3>
            <button class="btn btn-circle" routerLink="/coach-layout/create-group"><span class="pluse-box"><i class="bi bi-plus"></i></span> Create Group</button>
        </div>
        <div class="card-bg">
            <div class="search-panel">
                <div class="search-field">
                    <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                        <span matPrefix   class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                        <input type="text" [formControl]="searchControl" matInput placeholder="Search group by name"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table memberDatas">
                    <thead>
                        <tr class="bg-row">
                            <td>S.No.</td>
                            <td>Group Photo</td>
                            <td>Group Name</td>
                            <td>Type</td>
                            <td>VO2 Max</td>
                            <td>Member</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td>
                                <img src="assets/images/Coach/upload_profile_pic.png" alt="user" height="40px" class="avtar-circle">
                            </td>
                            <td>Beginner Lift Weight</td>
                            <td>Workout</td>
                            <td>--</td>
                            <td>20</td>
                            <td>
                                <div class="view-btn-img">
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <img src="assets/images/Coach/upload_profile_pic.png" alt="user" height="40px" class="avtar-circle">
                            </td>
                            <td>Beginner Lift Weight</td>
                            <td>Workout</td>
                            <td>--</td>
                            <td>20</td>
                            <td>
                                <div class="view-btn-img">
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                                </div>
                            </td>
                        </tr> -->

                        <tr *ngFor="let item of groupListData;let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <img [src]="item?.image ? item?.image : 'assets/images/Coach/upload_profile_pic.png'" alt="user" height="40px" class="avtar-circle">
                            </td>
                            <td>{{item?.name}}</td>
                            <td>{{item?.type}}</td>
                            <td>--</td>
                            <td>{{item?.members_count}}</td>
                            <td>
                                <div class="view-btn-img">
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid" (click)="goToDetail(item)">
                                </div>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>

        </div>


    </div>

</section>
