.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.card {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
    padding: 15px;
}
.upload-title{
    font-size: 13px;
    color: #E06F00;
    position: relative;
    padding-left: 10px;
}
#groupUpload {
    position: absolute;
    left: 20px;
    width: 110px;
    opacity: 0;
}
.bannerUpload .bannerHoverable {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #feeddc;
    cursor: pointer;
}
.bannerHoverable img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.group-img {
    display: flex;
    align-items: center;
    position: relative;
}

.uploaded-images {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px; 
}

.uploaded-images img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
}

.image-container {
    position: relative; 
    display: inline-block;
}

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    margin: 5px;
}
