<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
      <div class="member-header2 mb-3">
        <h3 class="title-hd mb-0">Create Challenge</h3>
        <button class="btn btn-circle w-back" routerLink="/coach-layout/challenge">Back</button>
      </div>
    </div>
  
    <div class="workout-section mt-4 p-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()">
              <div class="member-card-add">
                <p>Enter the details to create challenge</p>
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="group-img">
                      <div>
                        <div class="bannerUpload">
                          <label class="bannerHoverable" for="groupimg">
                            <img class="Banner" [src]="imagePreview">
                          </label>
                        </div>
                      </div>
                      <div class="upload-title">
                        Upload Image
                        <input id="groupUpload" type="file" multiple accept="image/*" (change)="onFilesSelected($event)">
                      </div>
                      <div class="uploaded-images">
                        <div *ngFor="let image of imagePreviews; let i = index">
                            <img [src]="image" alt="Uploaded Image" />
                            <button (click)="removeImage(i)" class="remove-button">✖</button>
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Enter Challenge Name" formControlName="name">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field appearance="outline" class="login-select">
                      <mat-select placeholder="Select Group Type" formControlName="type">
                        <mat-option value="Running">Running</mat-option>
                        <mat-option value="Workout">Workout</mat-option>
                        <mat-option value="Nutrition Reciepe">Nutrition Reciepe</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
  
                  <div class="row g-2">
                    <div class="col-md-6">
                      <mat-form-field class="login-input" appearance="outline">
                        <input matInput placeholder="Registration Start Date" [matDatepicker]="startpicker" formControlName="registration_start_date" (dateChange)="onStartDateChange($event.value)" (click)="startpicker.open()">
                        <mat-datepicker #startpicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="login-input" appearance="outline">
                        <input matInput placeholder="Last Date To Register" [matDatepicker]="lastpicker" formControlName="registration_end_date" [min]="challengeForm.get('registration_start_date').value" (click)="lastpicker.open()">
                        <mat-datepicker #lastpicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  
                  <div class="row g-3">
                    <div class="col-md-6 mt-0">
                      <mat-form-field class="login-input w-100" appearance="outline">
                        <input matInput placeholder="Start Date" [matDatepicker]="picker" formControlName="start_date" [min]="challengeForm.get('registration_end_date').value" (click)="picker.open()">
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 mt-0">
                      <mat-form-field class="login-input w-100" appearance="outline">
                        <input matInput placeholder="End Date" [matDatepicker]="Endpicker" formControlName="end_date" [min]="challengeForm.get('start_date').value" (click)="Endpicker.open()">
                        <mat-datepicker #Endpicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Duration - Leave Blank If There Is No Duration" formControlName="duration">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Daily Goal" formControlName="daily_steps_goal">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Goal Of Entering The Competition" formControlName="ultimate_goal">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Registration Link (optional)" formControlName="registrationLink">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Add Location" formControlName="location">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <span>This Challenge is :</span>
                    <mat-radio-group formControlName="is_paid">
                      <mat-radio-button value="0">Free</mat-radio-button>
                      <mat-radio-button value="1">Paid</mat-radio-button>
                    </mat-radio-group>
                  </div>
  
                  <div class="col-md-12 mt-3" *ngIf="isPaid">
                    <mat-form-field class="login-input" appearance="outline">
                      <input matInput placeholder="Amount" formControlName="registration_fee">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <div class="login-input-area">
                      <textarea rows="3" class="form-control" formControlName="description" placeholder="Write Description.."></textarea>
                    </div>
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <div class="all-btn text-center">
                      <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn">Cancel</button>
                      <button type="submit" mat-flat-button color="primary" class="primary-btn">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
  
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
  

<!-- <div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Create Challenge</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/challenge">Back</button>
        </div>

    </div>

    <div class="workout-section mt-4 p-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <form>
                        <div class="member-card-add">
                            <p>Enter the details to create challenge</p>
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <div class="group-img">
                                        <div>
                                            <div class="bannerUpload">
                                                <label class="bannerHoverable" for="groupimg">
                                                    <img class="Banner" [src]="imagePreview">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="upload-title">
                                            Upload Image
                                            <input id="groupUpload" type='file' multiple accept="image/*" (change)="onFileSelected($event)" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Enter Challenge Name">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <mat-form-field appearance="outline" class="login-select">
                                        <mat-select  form aria-placeholder="Select A Group Type" placeholder="Select Type">
                                            <mat-option value="Running">Running</mat-option>
                                            <mat-option value="Workout">Workout</mat-option>
                                            <mat-option value="Nutrition Reciepe">Nutrition Reciepe</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md-6 ">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Registration Start Date" [matDatepicker]="startpicker" (click)="startpicker.open()">
                                            <mat-datepicker #startpicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 ">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Last Date To Registere" [matDatepicker]="lastpicker" (click)="lastpicker.open()">
                                            <mat-datepicker #lastpicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6 mt-0">
                                        <mat-form-field class="login-input w-100" appearance="outline" >
                                            <input matInput placeholder="Start Date" [matDatepicker]="picker" (click)="picker.open()">
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-0">
                                        <mat-form-field class="login-input w-100" appearance="outline" >
                                            <input matInput placeholder="End Date" [matDatepicker]="Endpicker" (click)="Endpicker.open()">
                                            <mat-datepicker #Endpicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Duration - Leave Blank If There Is No Duration">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Daily Goal">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Goal Of Entering The Competition">
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Registration Link (optional)">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Add Location">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="City">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <span>This Challenge is :</span>
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1">Free</mat-radio-button>
                                        <mat-radio-button value="2">Paid</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Amount">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="login-input-area">
                                        <textarea rows="3" class="form-control" formControlName="about" placeholder="Write Description.."></textarea>
                                    </div>
                                  
                                </div>
                               
                                
                                
                                <div class="col-md-12 mt-3">
                                    <div class="all-btn text-center">
                                        <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                                        <button type="submit" mat-flat-button color="primary" class="primary-btn" >Save</button>
                                    </div>
                                </div>

                            </div>
                    
                        </div>
                    </form>


                </div>
             
            </div>

            <div class="col-lg-6">
                

            </div>
        </div>
    </div>




</div> -->