.customer-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.customer-title h6 {
    font-size: 14px;
    margin-bottom: 2px;
}
.fill-icon i {
    color: #D3752B;
}
.header-wap{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}