<div class="dialog-wapper">
    <div class="header-wap">
        <h6>Customer's Intake</h6>
        <div class="fill-icon" mat-dialog-close> <i class="bi bi-x-circle-fill"></i></div>
    </div>
    <div class="p-3">
        <div class="Intake-pnl" *ngFor="let cus of [1,2,3,4]">
            <div class="customer-title">
                <div>
                    <h6>The type of diet I prefer</h6>
                    <p>Balanced Diet</p>
                </div>
                <div class="fill-icon"><i class="bi bi-plus-circle-fill"></i></div>
            </div>
        </div>

        <button class="w-100" mat-flat-button color="primary">Add Nutrition</button>

    </div>
</div>
