<div class="container">
    <form [formGroup]="step_five_form" (ngSubmit)="submit()">

    <div class="row gx-0">
        <div class="col-md-12">
            <h5>Bank Account Details</h5>
            <p class="lng_right_sub_heading">Enter bank account details, to receive payment on it. you'll receive payment monthly</p>
        </div>

        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput placeholder="Account Holder Name" formControlName="account_holder_name">
            </mat-form-field>
            <mat-error *ngIf="getError('account_holder_name')">
                Account Holder Name is Required.
            </mat-error>
        </div>
        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput placeholder="Bank Name" formControlName="bank_name">
            </mat-form-field>
            <mat-error *ngIf="getError('bank_name')">
                Bank Name is Required.
            </mat-error>
        </div>
        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input  (keydown)="mobileNumberValidation($event)" minlength="6" maxlength="20" matInput placeholder="Account Number" formControlName="account_number">
            </mat-form-field>
            <mat-error *ngIf="getError('account_number')">
                Account Number is Required.
            </mat-error>
        </div>
        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput placeholder="IBAN Number" formControlName="iban_number">
            </mat-form-field>
            <mat-error *ngIf="getError('iban_number')">
                Iban Number is Required.
            </mat-error>
        </div>
        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput placeholder="SWIFT Code" formControlName="swift_code">
            </mat-form-field>
            <mat-error *ngIf="getError('swift_code')">
                Swift Code is Required.
            </mat-error>
        </div>

        <div class="col-md-12">
            <div class="mb-0">
                <button type="submit" class="w-100" mat-flat-button color="primary">Next</button>
            </div>
        </div>
    </div>
    </form>
</div>