<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Workout</h3>
        </div>
        <div class="card-bg">
            <div class="search-panel p-3 mb-2">
                <div class="search-field">
                    <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                        <span matPrefix class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                        <input type="text" matInput placeholder="Search member by name" (keyup)="onSearch($event)" />
                    </mat-form-field>
                </div>
            </div>
            <div class="workouts-wapper">
               <div class="p-3">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6" *ngFor="let workouts of workoutsSave" (click)="goToWorkoutDetail(workouts)">
                                <div class="work-card-body">
                                    <div class="mini-workout">
                                        <div class="work-card-img">
                                            <img [src]=" workouts?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                        </div>
                                        <div class="quick-timer">
                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">{{workouts?.time || '00:00'}} min.
                                        </div>
                                    </div>

                                    <div class="work-card-content mt-2">
                                        <div class="quick-title-work">{{workouts?.name}}</div>
                                        <div class="easy-flex">
                                            <ul class="list-inline mb-0">
                                                <li class="Level-title" style="color: #B2B4B6;">{{workouts?.level?.name}} : </li>
                                                <li><div class="quick-span"><img src="assets/images/bestCoach/level_easy.png" alt="image"></div></li>
                                            </ul>
                                        </div>
                                        <div class="bench-pnl" >
                                            <div  class="quick-bench" *ngFor="let j_item of workouts?.equipments"><img [src]="j_item?.equipment?.image || 'assets/images/bestCoach/dumble-ic.svg'"  alt="image"> {{j_item?.equipment?.name}}</div>
                                             <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div> -->
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="coach-filter">
                            <div class="filter-title">
                                <h6>Filter</h6>
                                <div class="clear-text">Clear Filter</div>
                            </div>
                            <div class="from-group mb-2">
                                <mat-form-field appearance="outline" class="login-select">
                                    <mat-select  form aria-placeholder="Select A Group Type" placeholder="Select Level">
                                        <mat-option value="Running">Running</mat-option>
                                        <mat-option value="Workout">Workout</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="workout-check">
                                <h6>Equipment</h6>
                                <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
                                    <mat-button-toggle value="1">
                                        <div class="workLists">
                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image"> Pair of weights</div>
                                        </div>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="1">
                                        <div class="workLists">
                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image"> Bench / Chair</div>
                                        </div>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="1">
                                        <div class="workLists">
                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image"> Pair of weights</div>
                                        </div>
                                    </mat-button-toggle> 
                                </mat-button-toggle-group>
                            </div>
                            <div class="workout-check">
                                <h6>Front Muscles</h6>
                                <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
                                    <mat-button-toggle value="1" *ngFor="let muscle of [1,2,3,4]">
                                        <div class="workLists">
                                            <div class="tri-img">
                                                <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                            </div>
                                            <h6>Triceps</h6>
                                        </div>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div class="all-btn text-center mt-4">
                                <button type="submit" mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                            </div>

                        </div>
                    </div>

                </div>
               </div>
            </div>

        </div>


    </div>

</section>
