<section class="subscription-wapper padtop-601 mt-3 mb-5 trainee-top">
    <div class="container padtop-60">
        <div class="row">
            <div class="col-lg-4" *ngFor = "let sub of subscriptionList">
                <div class="common-sub">
                    <div class="month-tl">{{sub?.title}}</div>
                    <div class="package-header">
                        <div class="pack-icon">
                            <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="img-fluid">
                        </div>
                        <div class="pack-title">
                            <h4>Pay every {{package_type[sub?.package_type]}}</h4>
                            <h5 class="t-green">SAR {{sub?.discount_price}} <span *ngIf="sub?.discount_percentage != 0">SAR {{sub?.price}}</span></h5>
                            <div *ngIf="sub?.discount_percentage != 0" class="red-offer">{{sub?.discount_percentage}}% discount</div>
                        </div>
                    </div>
                    <ul class="list-inline subpack">
                        <!-- <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">{{sub?.description}}</li> -->
                         <!-- <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li> -->
                        <!--<li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li> -->
                    </ul>
                    <div class="sub-price text-center">
                        <button mat-flat-button color="primary" (click)="goToPayment(sub)" class="primary-btn">Buy Now</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="common-sub">
                    <div class="month-tl">Semi-Annual Package</div>
                    <div class="package-header">
                        <div class="pack-icon">
                            <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="img-fluid">
                        </div>
                        <div class="pack-title">
                            <h4>Paid every 1 month</h4>
                            <h5 class="t-green">SAR 50 <span>SAR 50</span></h5>
                            <div class="red-offer">20% discount</div>
                        </div>
                    </div>
                    <ul class="list-inline subpack">
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        
                    </ul>
                    <div class="sub-price text-center">
                        <button mat-flat-button color="primary" routerLink="/coach-layout/payment" class="primary-btn">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="common-sub">
                    <div class="month-tl">Yearly Package</div>
                    <div class="package-header">
                        <div class="pack-icon">
                            <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="img-fluid">
                        </div>
                        <div class="pack-title">
                            <h4>Paid every 1 month</h4>
                            <h5 class="t-green">SAR 50 <span>SAR 50</span></h5>
                            <div class="red-offer">20% discount</div>
                        </div>
                    </div>
                    <ul class="list-inline subpack">
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        <li><img src="assets/images/M2_Trainee_Assets/subscription_check_tick.png">Lorem ipsum dolor sit amet</li>
                        
                    </ul>
                    <div class="sub-price text-center">
                        <button mat-flat-button color="primary" routerLink="/coach-layout/payment" class="primary-btn">Buy Now</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
