<section class="subscription-wapper  mt-3 mb-5">
<div class="container">
    <div class="payment-pnl">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="payemt-grid">
                    <div class="common-sub">
                        <div class="month-tl">{{subscriptionData?.title}}</div>
                        <div class="package-header">
                            <div class="pack-icon">
                                <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="img-fluid">
                            </div>
                            <div class="pack-title">
                                <h4>Pay every {{package_type[subscriptionData?.package_type]}}</h4>
                                <h5 class="t-green">SAR {{subscriptionData?.discount_price}} <span *ngIf="subscriptionData?.discount_percentage != 0">SAR {{subscriptionData?.price}}</span></h5>
                                <div *ngIf="subscriptionData?.discount_percentage != 0" class="red-offer">{{subscriptionData?.discount_percentage}}<span>%</span> discount</div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="gift-box">
                        <img src="assets/images/website_icons_user/discount_ic.png" alt="gift">
                        <div *ngIf="!couponApplied" class="cuppon-pnl">
                            <mat-form-field class="login-input" appearance="outline">
                                <input [(ngModel)]="couponCode" matInput placeholder="Enter the discount code">
                            </mat-form-field>
                            <button mat-flat-button color="primary" (click)="applyCoupen()" class="primary-btn">Apply</button>
                        </div>
                        <div *ngIf="couponApplied" class="cuppon-pnl">
                            <div class="cuppon-txt">{{promocodeData?.promocode}} <span> Discount code <i class="bi bi-check-circle-fill"></i></span></div>
                            <button mat-flat-button color="primary" (click)="removeCoupon()" class="primary-btn-outline">Remove</button>
                        </div>
                    </div>

                    <div *ngIf="errorCouponMessage || makePaymentRequestError" class="alert alert-danger mt-1" role="alert">
                        {{errorCouponMessage || makePaymentRequestError}}
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="pay-panle">
                    <h3>Choose the payment method that suits you best</h3>
                    <mat-accordion class="example-headers-align">
                    <mat-expansion-panel class="mb-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <div class="exp-pnl">
                                <div>
                                <img src="assets/images/website_icons_user/card.svg" alt="icon"> Credit Card
                                </div>
                                <img src="assets/images/website_icons_user/checked_tick.png" class="tickimg">
                            </div>
                        </mat-expansion-panel-header>
                        <div class="pay-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Enter Card Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Expiry Date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="CVV">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mb-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <div class="exp-pnl">
                                <div>
                                <img src="assets/images/website_icons_user/mada-ic.png" alt="icon"> Mada
                                </div>
                                <img src="assets/images/website_icons_user/checked_tick.png" class="tickimg">
                            </div>
                        </mat-expansion-panel-header>
                        <div class="pay-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Enter Card Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Expiry Date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="CVV">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <div class="exp-pnl">
                                <div>
                                <img src="assets/images/website_icons_user/stcpay.png" alt="icon"> STC Pay
                                </div>
                                <img src="assets/images/website_icons_user/checked_tick.png" class="tickimg">
                            </div>
                        </mat-expansion-panel-header>
                        <div class="pay-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Enter Card Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Expiry Date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="CVV">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    </mat-accordion>
                    <div class="mb-3 mt-4" >
                        <button class="w-100" mat-flat-button color="primary"  id="tap-payment-container"  (click)="makePaymentRequest()">Pay SAR {{subscriptionData?.show_value}}</button>
                        <p class="pay-title">The subscription is automatically renewed and you can cancel the subscription before paying</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</section>
