.payment-pnl{
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 80px 0px;
}
.pay-panle {
    background: #f4f3f36b;
    padding: 10px 30px;
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.pay-panle h3 {
    font-size: 15px;
    text-align: center;
    padding: 15px;
}
.login-input{
    margin: 7px 0px;
}
.exp-pnl {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pay-title{
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    color: #C3C3C3;
}
.gift-box {
    display: flex;
    align-items: center;
    padding: 13px;
    justify-content: space-between;
    margin: 30px 0px;
    background: #f4f3f36b;
}
.cuppon-pnl {
    display: flex;
    align-items: center;
}
.cuppon-pnl .login-input {
    margin: 0px 9px;
}
.tickimg{
    height: 19px;
    position: absolute;
    right: 20px;
}
.cuppon-txt {
    color: #B1B1B1;
    font-weight: 600;
}
.cuppon-txt i {
    color: #61B92B;
    margin: 6px;
}
.cuppon-txt span {
    font-size: 15px;
    font-weight: 500;
    margin-right: 34px;
    margin-left: 1px;
}
.cuppon-pnl .primary-btn-outline {
    color: #e06f00 !important;
    border: 1px solid #e06f00;
    background: transparent !important;
}