header .navbar-expand-lg .navbar-nav .nav-link {
 padding: 0px;
}

.navbar{
    background-color: var(--primary-color)!important;
    padding: 5px 0px;
    position: relative;
    z-index: 111;
    width: 100%;
    top: 0;
}

header .nav-item{
    margin: 10px 14px;
}

header .navbar-nav{
    align-items: center;
}

header .nav-link{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.bi-search{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-brand img{
    width: 130px;
    height: 45px;
    object-fit: contain;
}


.search-icon{
    height: 21px;
    object-fit: contain;
}


.selected-language-wrapper{display: flex; align-items: center; gap: 5px;}
.selected-language-wrapper img{height: 23px;width: 23px;object-fit: contain;}
.selected-language-wrapper span{font-size: 14px;}


.navbar-toggler{
    padding: 0;
    line-height: 1;
    border: 0;
    border-radius: 0;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.logoutbtn {
    border-radius: 50px;
    color: #E06F00 !important;
    letter-spacing: normal;
    padding-left: 4px;
}
.logoutbtn img {
    height: 20px;
    margin: 4px;
}
.navbar-expand-lg-2{
    position:fixed;
    width: 100%;
}
.profile-Ic {
    height: 18px;
}
