<header *ngIf="!webFor.COACH">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-4">
      <a class="navbar-brand" routerLink=""  >
        <img src="assets/images/logo_header.svg" alt="logo">
       
        <span class="language" >
          <mat-form-field class="header-select" appearance="outline">
            <mat-select [(value)]="selected">
              <mat-select-trigger class="selected-language-wrapper">
                <img src="assets/images/website_icons_user/lang_eng_active.png" alt="">
                <span>English</span>
              </mat-select-trigger>
              <mat-option value="option1">English</mat-option>
              <mat-option value="option2">Arabic</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  >Sports Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Runnings</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  >Food Recipes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/trainee-layout/coach-trainer"  >Coaches</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/trainee-layout/challenges"  >Challenges</a>
          </li>

          <li class="nav-item">
            <img class="search-icon" src="assets/images/website_icons_user/search.png" alt="">
          </li>
          <li class="nav-item" *ngIf="!loginData">
            <button mat-stroked-button color="primary" class="outline-white-btn" routerLink="/coach/create-account">Join as a coach</button>
          </li>
          <li class="nav-item" *ngIf="!loginData">
            <button  class="btn  white-btn" routerLink="/login">Login/Register</button>
          </li>

          <li class="nav-item" *ngIf="loginData" >
            <button mat-flat-button class="white-btn" [matMenuTriggerFor]="menu" > <img class="rounded-circle" src="assets/images/user_pic_placeholder.svg" alt=""> My Account</button>
            <mat-menu #menu="matMenu" class="logtitle">
            <!-- <button mat-menu-item color="warn" routerLink="/trainee-layout/dashboard"><img class="me-1" src="assets/images/dashboard.svg" alt="">Dashboard</button>  -->
            <button mat-menu-item color="warn" *ngIf="loginData?.plan" routerLink="/trainee-layout/subscription-pnl"><img class="me-1 profile-Ic" src="assets/images/website_icons_user/subscription_diamond.png" alt="">Subscription</button> 
            <button mat-menu-item color="warn" *ngIf="!loginData?.plan" routerLink="/trainee-layout/subscription-list"><img class="me-1 profile-Ic" src="assets/images/website_icons_user/subscription_diamond.png" alt="">Subscription</button> 
            <button mat-menu-item color="warn" routerLink="/trainee-layout/workouts"><img class="me-1 profile-Ic" src="assets/images/website_icons_user/home_fitness_exercises.png" alt="">Workout</button>
            <button mat-menu-item color="warn" routerLink="/trainee-layout/profile-info"><img class="me-1 profile-Ic" src="assets/images/website_icons_user/home_fitness_exercises.png" alt="">Personal Info</button>
            <button mat-menu-item color="warn" routerLink="/trainee-layout/challenges"><img class="me-1 profile-Ic" src="assets/images/website_icons_user/home_fitness_exercises.png" alt="">Challenges</button>
             
            <button mat-menu-item color="warn" (click)="Logout()"><img class="me-1 profile-Ic" src="assets/images/Coach/logout.svg" alt="">Logout</button>
              <!-- <button mat-menu-item color="warn"><img class="me-1" src="assets/images/dashboard.svg" alt="">Subscription</button> -->
            </mat-menu>
          </li>
          
          
        </ul>
        <!-- <div class="d-flex gap-4">
              <button mat-stroked-button color="primary">Join as a coach</button>loginData
              <button color="warn" mat-flat-button>Login/Register</button>
            </div> -->
      </div>
    </div>
  </nav>
</header>

<!--- coach header section ----->

<header *ngIf="webFor.COACH">
  <nav class="navbar navbar-expand-lg-2">
    <div class="container-fluid px-4">
      <a class="navbar-brand">
        <img src="assets/images/logo_header.svg" alt="logo" class="img-fluid logo">
        <span class="language" >
          <mat-form-field class="header-select" appearance="outline">
            <mat-select [(value)]="selected">
              <mat-select-trigger class="selected-language-wrapper">
                <img src="assets/images/website_icons_user/lang_eng_active.png" alt="">
                <span>English</span>
              </mat-select-trigger>
              <mat-option value="option1">English</mat-option>
              <mat-option value="option2">Arabic</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </a>


     <div class="nav-item" *ngIf="loginData">
      <button mat-flat-button class="logoutbtn" (click)="Logout()"> <img class="rounded-circle" src="assets/images/Coach/logout.svg" alt="icon">Logout</button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item color="warn" (click)="Logout()"><img class="me-1" src="assets/images/dashboard.svg" alt="">Logout</button> -->
        <!-- <button mat-menu-item color="warn"><img class="me-1" src="assets/images/dashboard.svg" alt="">Subscription</button> -->
      </mat-menu>
    </div>

    </div>
  </nav>
</header>