<div class="dashboard-pnl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="dashboard-grid">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="dash-grid">
                                <img src="assets/images/Coach/subscriber_inactive.svg" alt="icon" class="img-fluid">
                                <div class="dash-content">
                                    <h3>{{dashboardDatasave?.inactive_members}}</h3>
                                    <p>Inactive subscriber</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dash-grid">
                                <img src="assets/images/Coach/subscriber_active.svg" alt="icon" class="img-fluid">
                                <div class="dash-content">
                                    <h3>{{dashboardDatasave?.active_members}}</h3>
                                    <p>Active subscriber</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dash-grid">
                                <img src="assets/images/Coach/total_revenue.svg" alt="icon" class="img-fluid">
                                <div class="dash-content">
                                    <h3>{{dashboardDatasave?.total_revenue}} SAR</h3>
                                    <p>Total Revenue</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dash-grid">
                                <img src="assets/images/Coach/total_revenue.svg" alt="icon" class="img-fluid">
                                <div class="dash-content">
                                    <h3 class="title-green">{{dashboardDatasave?.collected_amount}} SAR</h3>
                                    <p>Collected Amount So far</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dash-grid">
                                <img src="assets/images/Coach/total_revenue.svg" alt="icon" class="img-fluid">
                                <div class="dash-content">
                                    <h3>{{dashboardDatasave?.pending_amount}} SAR</h3>
                                    <p>Pending Amount</p>
                                </div>
                                <button class="btn upgrad-btn" (click) ="requestAmount()">Request To Receive</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dash-grid">
                                <img src="assets/images/Coach/total_revenue.svg" alt="icon" class="img-fluid">
                                <div class="dash-content">
                                    <h3 class="title-green">{{dashboardDatasave?.harwallah_commission}} SAR</h3>
                                    <p>Harwalah Fee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="transactions-pnl">
                    <h4>Transactions</h4>

                    <div class="trans-lists">
                        <div class="trans-content">
                            <div class="trans-id">#7wo34504945</div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <div class="tarns-date">30 October 2023</div>
                        </div>
                        <div class="trans-price">150 SAR</div>
                    </div>
                    <div class="trans-lists">
                        <div class="trans-content">
                            <div class="trans-id">#7wo34504945</div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <div class="tarns-date">30 October 2023</div>
                        </div>
                        <div class="trans-price green-rs">150 SAR</div>
                    </div>
                    <div class="trans-lists">
                        <div class="trans-content">
                            <div class="trans-id">#7wo34504945</div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <div class="tarns-date">30 October 2023</div>
                        </div>
                        <div class="trans-price">150 SAR</div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>