.dash-grid {
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #C3C3C385;
    border-radius: 10px;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 190px;
}
.dash-content h3 {
    color: #E16F00;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
}
.dash-content p {
    color: #383838;
    font-size: 16px;
    text-transform: capitalize;
}
.dash-grid img {
    height: 70px;
    padding: 6px;
}
.title-green {
    color: #61B92B !important;
}
.trans-content .trans-id, h5 {
    font-size: 14px;
    margin-bottom: 0px;
    line-height: normal;
}
.trans-lists {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    padding: 8px;
    align-items: center;
    margin-bottom: 10px;
}
.trans-price {
    color: #E06F00;
    font-weight: 600;
}
.tarns-date {
    font-size: 12px;
    color: #C3C3C3;
}
.dashboard-grid {
    padding-top: 60px;
}
.transactions-pnl {
    padding: 52px 20px;
    background: #FCFCFC;
    height: 100vh;
}
.transactions-pnl h4 {
    color: #C3C3C3;
    font-size: 20px;
}
.green-rs{
    color: #61B92B;
}
.upgrad-btn {
    border: 1px solid #E06F00;
    border-radius: 42px;
    color: #e06f00;
    padding: 5px 11px;
    font-size: 13px;
}