<div class="music-dialog p-3">
    <div class="music-title mb-3"><strong>Background Music</strong></div>
    <div class="card-body ">
        <div class="user-chat-box play-m mb-3">
            <div class="d-flex">
                <div class="user-chat">
                    <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                </div>
                <p>Kanye West, ‘Stronger’.mp3</p>
            </div>
            <div class="user-chat-date">
                <mat-radio-button value="1" checked></mat-radio-button>
                <!-- <img src="assets/images/website_icons_user/checked_tick.png"> -->
            </div>
        </div>
        <div class="user-chat-box play-m mb-3">
            <div class="d-flex">
                <div class="user-chat">
                    <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                </div>
                <p>Kanye West, ‘Stronger’.mp3</p>
            </div>
            <div class="user-chat-date">
                <mat-radio-button value="1"></mat-radio-button>
            </div>
        </div>
        <div class="user-chat-box play-m mb-3">
            <div class="d-flex">
                <div class="user-chat">
                    <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                </div>
                <p>Kanye West, ‘Stronger’.mp3</p>
            </div>
            <div class="user-chat-date">
                <mat-radio-button value="1"></mat-radio-button>
            </div>
        </div>
        <div class="user-chat-box play-m mb-3">
            <div class="d-flex">
                <div class="user-chat">
                    <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                </div>
                <p>Kanye West, ‘Stronger’.mp3</p>
            </div>
            <div class="user-chat-date">
                <mat-radio-button value="1"></mat-radio-button>
            </div>
        </div>
       
        
        
    </div>
    <div class="sub-price mb-0 pb-0">
        <button mat-flat-button color="primary" class="primary-btn-2 w-100">Change</button>
    </div>
</div>
