.user-chat-box.play-m {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 21px #B2B2B229;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-chat {
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.user-chat-box.play-m p {
    margin-bottom: 0px;
    font-size: 14px;
    margin-left: 10px;
}