<div class="contianer">
    <div class="row gx-0 my-5 justify-content-center align-items-center">
        <div class="col-md-8 align-self-center">
            <div class="row wrapper  auth-card-wrapper gx-0">
                <div class="col-md-6 left-side">
                    <div class="  text-center">
                        <img class="Harwalah_login_log" src="assets/images/login_logo.svg" alt="">
                        <h5>Because We Understand Sports</h5>
                        <p class="lng_left_description">We have prepared sports programs for all groups, for those who love exercising at
                            home.</p>
                    </div>

                </div>
                <div class="col-md-6 right-side">
                    <h6>Forgot Password</h6>
                    <p class="lng_right_sub_heading">Enter your registered email address</p>
                    <form [formGroup]="forgetForm">
                        <div class="mb-3">
                            <div *ngIf="error" class="alert alert-danger" role="alert">
                                {{error}}
                              </div>
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput placeholder="Enter Registered Email Address" formControlName = "email">
                            </mat-form-field>
                        </div>
    
                        <div class="mb-3 ">
                            <button class="w-100" mat-flat-button color="primary" (click)="forget()">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>