<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">My Members</h3>
            <button class="btn btn-circle" routerLink="/coach-layout/add-members"><span class="pluse-box"><i class="bi bi-plus"></i></span> Add a member</button>
        </div>
        <div class="card-bg">
            <div class="search-panel">
                <div class="search-field">
                    <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                        <span matPrefix class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                        <input [formControl]="searchControl" type="text" matInput placeholder="Search member by name"/>
                    </mat-form-field>

                    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                        <mat-button-toggle value="active" (click)="changeTab(0)" checked>Active</mat-button-toggle>
                        <mat-button-toggle value="inactive" (click)="changeTab(1)">Inactive</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table memberDatas">
                    <thead>
                        <tr class="bg-row">
                            <td>S.No.</td>
                            <td>Photo</td>
                            <td>Member Name</td>
                            <td>Age</td>
                            <td>Gender</td>
                            <td>Type</td>
                            <td>Country</td>
                            <td *ngIf="tableValue == 0">Package</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of memberList;let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <img [src]="(item?.user?.profile_image == null) ? staticImg  : item?.user?.profile_image" alt="user" height="40px" class="avtar-circle">
                                <!-- <img src="assets/images/Coach/upload_profile_pic.png" alt="user" height="40px" class="avtar-circle"> -->
                            </td>
                            <td>{{item?.user?.first_name}} {{item?.user?.last_name}}</td>
                            <td>{{getAge(item?.user?.dob)}}</td>
                            <td>{{item?.user?.gender}}</td>
                            <td>{{item?.user?.fitness_level}}</td>
                            <td>{{item?.user?.country?.name}}</td>
                            <td *ngIf="tableValue == 0"> <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="diamond-IC"> {{getPackageDayDiff(item?.subscription_date,item?.subscription_expiry_date)}} Days</td>
                            <td>
                                <div class="view-btn-img" (click)="goToDetail(item)" >
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>2</td>
                            <td>
                                <img src="assets/images/Coach/upload_profile_pic.png" alt="user" height="40px" class="avtar-circle">
                            </td>
                            <td>Majed Al-Sayed</td>
                            <td>26 Years</td>
                            <td>Male</td>
                            <td>Beginner</td>
                            <td>Riyadh</td>
                            <td>Saudi Arabia</td>
                            <td> <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" height="20px"> 30 Days</td>
                            <td>
                                <div class="view-btn-img">
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <img src="assets/images/Coach/upload_profile_pic.png" alt="user" height="40px" class="avtar-circle">
                            </td>
                            <td>Majed Al-Sayed</td>
                            <td>26 Years</td>
                            <td>Male</td>
                            <td>Beginner</td>
                            <td>Riyadh</td>
                            <td>Saudi Arabia</td>
                            <td> <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" height="20px"> 30 Days</td>
                            <td>
                                <div class="view-btn-img">
                                    <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                                </div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

        </div>


    </div>

</section>
