.member-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.me-33 {
    padding: 7px 3px 0px 10px;
}
.search-panel {
    margin-bottom: 0px;
    padding: 20px;
}
::ng-deep mat-button-toggle{
    width: max-content;
    height: 45px;
    display: flex;
    align-items: center;
}
::ng-deep .mat-button-toggle-checked {
    background-color: #e06f00;
    color: #fff !important;
}
.avtar-circle {
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.memberDatas>thead>tr>td {
    width: 200px;
}
.view-btn-img{
    cursor: pointer;
}