.blog-list {
    .blog-card {
      display: flex;
      margin: 10px 0;
      cursor: pointer;
  
      .blog-image {
        width: 150px; /* Set fixed width */
        height: 150px; /* Set fixed height (equal to width for square) */
        object-fit: cover; /* Ensure the image fills the container without distortion */
        border-radius: 10px; /* Add rounded corners */
        margin-right: 10px;
      }
  
      .blog-content {
        flex: 1;
  
        .blog-title-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .blog-title {
            margin: 0;
          }
  
          .blog-date {
            display: flex;
            align-items: center;
            color: green;
            font-weight: bold;
  
            i {
              margin-right: 5px;
            }
          }
        }
  
        p {
          color: gray;
          margin-top: 5px;
        }
      }
    }
  }
  