<!-- <div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
      <h3 class="title-hd mb-0">Blog</h3>
      <div class="blog-list">
        <div *ngFor="let blog of blogData" class="blog-card" (click)="viewBlog(blog)">
          <img
            [src]="blog?.image ? blog?.image : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'"
            alt="Blog image"
            class="blog-image"
          />
          <div class="blog-content">
            <div class="blog-title-wrapper">
              <h3 class="blog-title">{{ blog?.title }}</h3>
              <div class="blog-date">
                <i class="fa fa-calendar"></i>
                <span>{{ blog?.created_at }}</span>
              </div>
            </div>
            <p>{{ blog?.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
   <div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
      <h3 class="title-hd mb-0">Blog</h3>
      <div class="blog-list">
        <div *ngFor="let blog of blogData" class="blog-card">
          <img
            [src]="blog?.image ? blog?.image : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'"
            alt="Blog image"
            class="blog-image"
          />
          <div class="blog-content"  (click)="viewBlog(blog)">
            <div class="blog-title-wrapper">
              <h3 class="blog-title">{{ blog?.title }}</h3>
              <div class="blog-date">
                <i class="fa fa-calendar"></i>
                <span>{{ blog?.created_at }}</span>
              </div>
            </div>
            <p>
              {{ isExpanded[blog.blog_id] ? blog?.content : (blog?.content | slice:0:200) + (blog?.content.length > 100 ? '...' : '') }}
            </p>
            <button *ngIf="blog?.content.length > 100"   style="background-color: #e06f00; color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer;"
              (click)="toggleExpand(blog.blog_id)">
              {{ isExpanded[blog.blog_id] ? 'Show Less' : 'Show More' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  