<div class="aside-coach">
    <div class="coach-user">
        <div class="co-photo">
            <!-- <img src="assets/images/M2_Trainee_Assets/ltp_img_3.png" alt=""> -->
            <img [src]="coachData?.profile_image" alt="">
        </div>
        <div class="co-name">{{coachData?.first_name}} {{coachData?.last_name}}</div>
        <div class="matrenew">
            <mat-slide-toggle [disabled]="this.coachData.status == 3 || this.coachData.status == 2" (change)="changeStatus($event)" [checked]="coachData?.status == 1">{{statusActiveInactive[coachData?.status]}}</mat-slide-toggle>
        </div>
        <div *ngIf="coachData?.plan" class="sub-icon text-center">
            <img src="assets/images/subscription_diamond.svg" alt="icon">
        </div>
    </div>
    <div class="aside-list">
        <ng-template #statusElse>
            <div class="links-tabs" routerLink="/coach-layout/dashboard" routerLinkActive="active">Dashboard</div>
            <div *ngIf="coachData?.plan" class="links-tabs" routerLink="/coach-layout/subscription-pnl" routerLinkActive="active">Subscription</div>
            <div *ngIf="!coachData?.plan"class="links-tabs" routerLink="/coach-layout/subscription-list" routerLinkActive="active">Subscription</div>
            <div class="links-tabs" routerLink="/coach-layout/my-members" routerLinkActive="active">My Members</div>
            <div class="links-tabs" routerLink="/coach-layout/member-groups" routerLinkActive="active">Member Groups</div>    
            <div class="links-tabs" routerLink="/coach-layout/challenge" routerLinkActive="active">Challenge</div>
            <div class="links-tabs" routerLink="/coach-layout/workouts" routerLinkActive="active">Workout</div>     
            <div class="links-tabs" routerLink="/coach-layout/runnings" routerLinkActive="active">Runnings</div>     
            <div class="links-tabs" routerLink="/coach-layout/nutritions" routerLinkActive="active">Nutrition Plans</div>     
            <div class="links-tabs" routerLink="/coach-layout/recipes" routerLinkActive="active">Recipes</div>  
            <div class="links-tabs" routerLink="/coach-layout/vo2-calculator" routerLinkActive="active">VO2 Max Calculator</div>     
           
            <div class="links-tabs" routerLink="/coach-layout/calories-calculator" routerLinkActive="active">Calories Calculator</div>     

            <div class="links-tabs" routerLink="/coach-layout/bmi-calculator" routerLinkActive="active">BMI Calculator</div>     
            <div class="links-tabs" routerLink="/coach-layout/faq" routerLinkActive="active">FAQs</div>     
            <div class="links-tabs" routerLink="/coach-layout/terms-condition" routerLinkActive="active">Terms & Conditions</div>     
            <div class="links-tabs" routerLink="/coach-layout/privacy" routerLinkActive="active">Privacy</div>     





            
        </ng-template>

        <div *ngIf="this.coachData.status == 3 || this.coachData.status == 2;else statusElse">  
            <div class="links-tabs active" (click)="BlockAction()">Dashboard</div>
            <div class="links-tabs" (click)="BlockAction()">Subscription</div>
            <div class="links-tabs" (click)="BlockAction()">My Members</div>
            <div class="links-tabs" (click)="BlockAction()">Member Groups</div>
        </div>
    </div>
</div>
