.aside-coach{
    background: #FEFAF7 0% 0% no-repeat ;
    height: 100%;
    width: 250px;
    padding: 120px 0px 0px;
}
.coach-user {
    background: #FFFFFF 0% 0% no-repeat;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    margin: 0px 20px;
    text-align: center;
    padding-bottom: 10px;
}
.co-photo img {
    height: 60px;
    width: 60px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: auto;
    margin-top: -20px;
    background: #fff;
}
.sub-icon img {
    height: 27px;
    padding: 2px;
}
.co-name {
    font-weight: 600;
    font-size: 15px;
    padding: 7px 0px;
}
.links-tabs.active {
    background: #E06F00;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
}
.links-tabs {
    padding: 5px 20px;
    margin: 10px 0px;
    color: #E06F00;
    cursor: pointer;
    font-size: 15px;
}
.matrenew {
    direction: rtl;
    justify-content: end;
}