<div class="container">
    <form [formGroup]="step_one_form" (ngSubmit)="submit()">
        <div class="row gx-0">
            <div class="col-md-12">
                <h5>Create an Account</h5>
                <p class="lng_right_sub_heading">You're creating an account as a trainee</p>
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{error}}
            </div>

            <div class="col-md-12">
                <div class="row gx-4 ">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput placeholder="First Name" formControlName="first_name">
                            </mat-form-field>
                            <mat-error *ngIf="getError('first_name')">
                                First Name is Required.
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput placeholder="Last Name" formControlName="last_name">
                            </mat-form-field>
                            <mat-error *ngIf="getError('last_name')">
                                Last Name is Required.
                            </mat-error>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <mat-form-field class="login-input" appearance="outline">
                        <input matInput placeholder="Email Address" formControlName="email">
                    </mat-form-field>
                    <mat-error *ngIf="getError('email')">
                        Email is Required.
                    </mat-error>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ng2-tel-inputs mb-3">
                    <!-- <input class="telInput" placeholder="Mobile Number" type="text" ng2TelInput
                        [ng2TelInputOptions]="{initialCountry: 'in', separateDialCode: true, showFlags:true,autoPlaceholder:'off'}"
                        formControlName="mobile" 
                        /> -->
                    <mat-form-field class="login-input" appearance="outline">
                        <input type="text" (keydown)="mobileNumberValidation($event)" minlength="8" maxlength="13" class="telInput" matInput placeholder="Mobile Number"
                            formControlName="mobile" />
                    </mat-form-field>
                    <mat-error *ngIf="getError('mobile')">
                        Mobile Number is Required.
                    </mat-error>
                </div>
            </div>
            <div class="col-md-12">
                <div class=" mb-3">
                    <mat-form-field appearance="outline" class="login-select">
                        <mat-select formControlName="country_id" form aria-placeholder="Select Country"
                            placeholder="Select Country">
                            <mat-option value="">
                                Select Country
                            </mat-option>
                            <mat-option *ngFor="let country of country" [value]="country.country_id">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="getError('country_id')">
                        Country is Required.
                    </mat-error>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">

                    <mat-form-field appearance="outline" class="login-input">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Create Password"
                            formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <img [src]="hide ? 'assets/images/M2_Trainee_Assets/password_hide.png' : 'assets/images/M2_Trainee_Assets/password_show.png'" />
                        </button>
                    </mat-form-field>
                    <mat-error *ngIf="getError('password') || password_error">
                        {{password_error || "Password is Required."}}
                    </mat-error>
                </div>
            </div>

            <div class="col-md-12">
                <div class="mb-3">

                    <mat-form-field appearance="outline" class="login-input">
                        <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Confirm Password">
                        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide2">
                            <img [src]="hide2 ? 'assets/images/M2_Trainee_Assets/password_hide.png' : 'assets/images/M2_Trainee_Assets/password_show.png'" />
                        </button>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="getError('password') || password_error">
                        {{password_error || "Password is Required."}}
                    </mat-error> -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <button class="w-100" mat-flat-button color="primary">Next</button>
                </div>
            </div>
        </div>
    </form>
</div>