<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Coach</h3>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Coach">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row g-2">
                            <div class="col-lg-3">
                                <div class="form-group position-relative mb-2">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search coach by name">
                                </div>
                            </div>
                            <!-- <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="ps-1 form-control" placeholder="Total Calories">
                                </div>
                            </div> -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected value="">Price Range</option>
                                        <option value="1">10</option>
                                        <option value="2">200</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>All Type</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Country</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Trainer Gender</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button  mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-4">
                        <div class="workout-heading mb-4">
                            <div class="running-title">List of coaches</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-3 mb-3" *ngFor="let coach of coachList">
                                <div class="card" (click)="goToCoachDetailPage(coach?.coach_id, 2)">
                                    <div class="card-body">
                                        <figure class="nutrition-img">
                                            <img [src]="coach?.cover_image ? coach?.cover_image : 'assets/images/bestCoach/2.jpg'" alt="image" class="img-fluid">
                                        </figure>
                                       
                                        <div class="nutrition-content text-center">
                                            <div class="trainer-thumb">
                                                <img [src]="coach?.profile_image ? coach?.profile_image : 'assets/images/bestCoach/1.jpg'" alt="image" class="img-fluid">
                                            </div>
                                            <div class="trainer-name">{{coach?.first_name}} {{coach?.last_name}}</div>
                                            <div class="trainees-no">
                                                <img src= "assets/images/bestCoach/daily_ex-icon.svg" alt="image" class="img-fluid">
                                                {{coach?.no_of_customers}} trainees
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="My Coach">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row g-2">
                            <div class="col-lg-3">
                                <div class="form-group position-relative mb-2">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search coach by name">
                                </div>
                            </div>
                            <!-- <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="ps-1 form-control" placeholder="Total Calories">
                                </div>
                            </div> -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected value="">Price Range</option>
                                        <option value="1">10</option>
                                        <option value="2">200</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>All Type</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>"review-lists"
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Country</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Trainer Gender</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button  mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-4">
                        <div class="workout-heading mb-4">
                            <div class="running-title">List of coaches</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-3 mb-3" *ngFor="let nutrition of myCoachList">
                                <div class="card" (click)="goToCoachDetailPage(nutrition?.coach_id, 1)">
                                    <div class="card-body">
                                        <figure class="nutrition-img">
                                            <img [src]="nutrition.cover_image ? nutrition.cover_image : 'assets/images/bestCoach/2.jpg'" alt="image" class="img-fluid">
                                        </figure>"review-lists"
                                       
                                        <div class="nutrition-content text-center">
                                            <div class="trainer-thumb">
                                                <img [src]="nutrition.profile_image ? nutrition.profile_image : 'assets/images/bestCoach/1.jpg'" alt="image" class="img-fluid">
                                            </div>
                                            <div class="trainer-name">{{nutrition.first_name}} {{nutrition.last_name}}</div>
                                            <div class="trainees-no">
                                                <img src= "assets/images/bestCoach/daily_ex-icon.svg" alt="image" class="img-fluid">
                                                {{nutrition?.no_of_customers}} trainees
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>

        </mat-tab-group>
    </div>

</div>


