.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.search-header {
    background: #E6E6E6;
    padding: 10px;
    border-radius: 2px;
}
.inputsearch {
    position: absolute;
    background: transparent;
    border: none;
    color: #666;
    top: 9px;
    left: 9px;
}
.search-header .form-control {
    padding-left: 30px;
}
.card {
    border: none;
    box-shadow: 0px 3px 6px #dbdbdbad;
    border-radius: 7px;
    padding-bottom: 10px;
}
.card-body {
    padding: 11px;
}
.nutrition-img {
    height: 210px;
    overflow: hidden;
    border-radius: 10px;
}
.trainer-thumb img{
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 6px;
   margin: auto;
}
.trainer-thumb {
    margin-top: -38px;
    padding-bottom: 12px;
}
.trainer-thumb {
    margin-top: -38px;
    padding-bottom: 12px;
}
.trainees-no {
    font-size: 14px;
    color: #7C7C7C;
}
.trainees-no img {
   height: 22px;
}
.trainer-name {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.running-title{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}