<div class="container">
    <div class="row gx-0">
      <div class="col-md-12">
        <h5>The number of customers</h5>
        <p class="lng_right_sub_heading">Select the number of customers you can train</p>
      </div>
  
      <div class="col-md-4">
        <div class="mb-0">
          <input type="radio" [(ngModel)]="no_of_customers" value="0 to 3" id="cb1" />
          <label class="customCheckBox" for="cb1"><img src="assets/images/Coach/num_cus_a.png" />
            <p>From 0 to 3</p>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-0">
          <input type="radio" [(ngModel)]="no_of_customers" value="4 to 10" id="cb2"  />
          <label class="customCheckBox" for="cb2"><img src="assets/images/Coach/num_cus_b.png" />
            <p>From 4 to 10</p>
          </label>
  
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-0">
          <input type="radio" [(ngModel)]="no_of_customers" value="11 to 20" id="cb3" />
          <label class="customCheckBox" for="cb3"><img src="assets/images/Coach/num_cus_c.png" />
            <p>From 11 to 20</p>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-0">
          <input type="radio" [(ngModel)]="no_of_customers" value="More than 20" id="cb4" />
          <label class="customCheckBox" for="cb4"><img src="assets/images/Coach/num_cus_d.png" />
            <p>More than 20</p>
          </label>
        </div>
      </div>
   
      <div class="col-md-12">
        <div class="mb-0">
          <button type="submit" (click)="submit()" class="w-100" mat-flat-button color="primary">Next</button>
        </div>
      </div>
    </div>
  </div>