<div style="width: 50vw;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">Quick Fitness</div>
      </mat-card-header>
      <div class="scroll-container" style="display: flex; overflow-x: auto; white-space: nowrap;">
        <div  style="display: inline-block; margin-right: 10px;">
          <img mat-card-image src="../../../../../../assets/images/quickExercise/Group 56151 (1).svg" alt="Photo of a Shiba Inu" style="width: 165px; height: 177px;">
          <mat-card-content>
            <p>Fitness Exercise</p>
          </mat-card-content>
        </div>
        <div style="display: inline-block; margin-right: 10px;">
          <img mat-card-image src="../../../../../../assets/images/quickExercise/exercises_img (1).svg" alt="Photo of a Shiba Inu" style="width: 165px; height: 177px;">
          <mat-card-content>
            <p>Fitness Exercise</p>
          </mat-card-content>
        </div>
        <div style="display: inline-block; margin-right: 10px;">
          <img mat-card-image src="../../../../../../assets/images/quickExercise/exercises_img.svg" alt="Photo of a Shiba Inu" style="width: 165px; height: 177px;">
          <mat-card-content>
            <p>Fitness Exercise</p>
          </mat-card-content>
        </div>
        <div style="display: inline-block; margin-right: 10px;">
          <img mat-card-image src="../../../../../../assets/images/quickExercise/Group 56151 (2).svg" alt="Photo of a Shiba Inu" style="width: 165px; height: 177px;">
          <mat-card-content>
            <p>Fitness Exercise</p>
          </mat-card-content>
        </div>
        <div style="display: inline-block; margin-right: 10px;">
          <img mat-card-image src="../../../../../../assets/images/quickExercise/Group 56151.svg" alt="Photo of a Shiba Inu" style="width: 165px; height: 177px;">
          <mat-card-content>
            <p>Fitness Exercise</p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
  