<div class="container">
    <div class="row gx-0">
        <div *ngIf="error" class="alert alert-danger" role="alert">
            {{error}}
          </div>
        <div class="col-md-12">
            <h5>Connect Device</h5>
            <p>This enables you to connect your pedometer and calorie monitor to help you within the application, and
                you can add it later from the settings</p>
        </div>

        <div class="col-md-12">
            <div class="mb-3">
                <input type="radio" (click)="connect_device = 0" id="Number 1" name="color" value="0" checked>
                <label for="Number 1">I don't want to connect a device now</label>
              
            </div>
        </div>

        <div class="col-md-">
            <div class="mb-3">
                <input type="radio" id="Number 2" (click)="connect_device = 1" name="color" value="1" >
                <label for="Number 2"><img class="me-3" src="assets/images/apple_health/apple_health.png" alt="">Apple Health</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="radio" id="Number 3" (click)="connect_device = 2" name="color" value="2" >
                <label for="Number 3"><img class="me-3" src="assets/images/apple_health/apple_health.png" alt="">Google Fit</label>
            </div>
        </div>


        <div class="col-md-12">
            <div class="mb-0">
                <button class="w-100" (click)="submit()" mat-flat-button color="primary" type="submit" >Submit</button>
            </div>
        </div>
    </div>
</div>