<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">VO2 Max Calculator</h3>
        </div>
        <div class="card-bg">
          
            <div class="workouts-wapper">
               <div class="p-3">
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="card border-0">
                            <div class="card-body ">
                                <div class="mb-4">
                                    <mat-form-field appearance="outline"  class="login-input login-input1">
                                       <mat-select disableRipple placeholder="Select" >
                                            <mat-option value="1" >01</mat-option>
                                            <mat-option value="2" >Half 01</mat-option>
                                            <mat-option value="3" >15k</mat-option>
                                            <mat-option value="4" >10k</mat-option>
                                            <mat-option value="5" >5k</mat-option>
                                            <mat-option value="6" >2Mi</mat-option>
                                            <mat-option value="7" >3200m</mat-option>

                                       </mat-select>
                                      </mat-form-field>
                                </div>



                                  <div class="mb-4">
                                    <label class="mb-2"> Time - HH:MM:SS</label>
                                    <div class="d-flex gap-3 justify-content-between">
                                        <mat-form-field appearance="outline"  class="login-input login-input1">
                                            <mat-select disableRipple placeholder="HH" >
                                                 <mat-option value="1" >01</mat-option>
                                                 <mat-option value="2" >02</mat-option>
                                                 <mat-option value="3" >03</mat-option>
                                                 <mat-option value="4" >04</mat-option>
                                                 <mat-option value="5" >05</mat-option>
                                                 <mat-option value="6" >06</mat-option>
                                                 <mat-option value="7" >07</mat-option>
     
                                            </mat-select>
                                           </mat-form-field>

                                           <mat-form-field appearance="outline"  class="login-input login-input1">
                                            <mat-select disableRipple placeholder="MM" >
                                                 <mat-option value="1" >10</mat-option>
                                                 <mat-option value="2" >20</mat-option>
                                                 <mat-option value="3" >30</mat-option>
                                                 <mat-option value="4" >40</mat-option>
                                                 <mat-option value="5" >50</mat-option>
                                                 <mat-option value="6" >55</mat-option>
     
                                            </mat-select>
                                           </mat-form-field>

                                           <mat-form-field appearance="outline"  class="login-input login-input1">
                                            <mat-select disableRipple placeholder="SS" >
                                                <mat-option value="1" >10</mat-option>
                                                <mat-option value="2" >20</mat-option>
                                                <mat-option value="3" >30</mat-option>
                                                <mat-option value="4" >40</mat-option>
                                                <mat-option value="5" >50</mat-option>
                                                <mat-option value="6" >55</mat-option>
    
                                           </mat-select>
                                           </mat-form-field>
                                    </div>
                                   
                                </div>

                                <div class="mb-4">
                                    <label class="mb-2"> Pace</label>
                                    <!-- <mat-form-field class="login-input login-input1" appearance="outline">
                                        <input matInput placeholder="Enter weight">
                                        <span matTextSuffix class="text-org">KG</span>
                                    </mat-form-field> -->

                                    <mat-form-field appearance="outline"  class="login-input login-input1">
                                        <mat-select disableRipple placeholder="MM:SS" >
                                            <mat-option value="1" >10</mat-option>
                                            <mat-option value="2" >20</mat-option>
                                            <mat-option value="3" >30</mat-option>
                                            <mat-option value="4" >40</mat-option>
                                            <mat-option value="5" >50</mat-option>
                                            <mat-option value="6" >55</mat-option>

                                       </mat-select>
                                       <span matTextSuffix class="km">KM</span>

                                       </mat-form-field>

                                </div>


                                <div class="mb-4">
                                    <label class="mb-2 primary-color"><strong> Advance Feature</strong></label>
                                    <mat-radio-group class="d-flex justify-content-between" aria-label="Select an option">
                                        <mat-radio-button value="1" checked>Off</mat-radio-button>
                                        <mat-radio-button value="2">Temprature</mat-radio-button>
                                        <mat-radio-button value="3">Altitude</mat-radio-button>

                                      </mat-radio-group>

                                      <mat-form-field appearance="outline"  class="login-input mt-3 login-input1">
                                        <mat-select disableRipple placeholder="Temp" >
                                            <mat-option value="1" >10</mat-option>
                                            <mat-option value="2" >20</mat-option>
                                            <mat-option value="3" >30</mat-option>
                                            <mat-option value="4" >40</mat-option>
                                            <mat-option value="5" >50</mat-option>
                                            <mat-option value="6" >55</mat-option>

                                       </mat-select>
                                       <span matTextSuffix class="km">KM</span>

                                       </mat-form-field>

                                       <mat-form-field appearance="outline"  class="login-input mt-3 login-input1">
                                        <mat-select disableRipple placeholder="Altitude
                                        " >
                                            <mat-option value="1" >10</mat-option>
                                            <mat-option value="2" >20</mat-option>
                                            <mat-option value="3" >30</mat-option>
                                            <mat-option value="4" >40</mat-option>
                                            <mat-option value="5" >50</mat-option>
                                            <mat-option value="6" >55</mat-option>

                                       </mat-select>
                                       <span matTextSuffix class="km">KM</span>

                                       </mat-form-field>

                                </div>

                                <button color="primary" routerLink="/coach-layout/vo2-calculator/calculate" mat-flat-button class="w-100 mt-3">Calculate</button>

                            

                            </div>
                        </div>
                        
                    </div>

                </div>
               </div>
            </div>

        </div>


    </div>

</section>
