<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <h3 class="title-hd mb-0">Nutrition Details</h3>
            <div class="bin-icon delete-title"><i class="bi bi-trash3"></i> Delete This Workout</div>
        </div>
        <div class="trainee-common-wapper">
            <div class="row">
                <div class="col-lg-5">
                    <div class="nutrition-grid">
                        <img src="assets/images/video_PosterImage.png" alt="image" class="img-fluid">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6>Asian chicken salad</h6>
                            <table class="table">
                                <tr>
                                    <td>Nutrition Type :</td>
                                    <td>Moderate Proteins</td>
                                </tr>
                                <tr>
                                    <td>Meal Type :</td>
                                    <td>Breakfast, Lunch</td>
                                </tr>
                                <tr>
                                    <td>Fat :</td>
                                    <td>18.55</td>
                                </tr>
                                <tr>
                                    <td>Calorie :</td>
                                    <td>356</td>
                                </tr>
                                <tr>
                                    <td>Duration :</td>
                                    <td>2 days</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <div class="des-tainer mt-3">Description</div>
                    <div class="des-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>
                    <div class="des-tainer mt-3">Added to Members</div>
                    <div class="d-flex gap-3 align-items-center mt-2">
                        <figure class="mb-0">
                            <img src="assets/images/video_PosterImage.png" alt="img" height="40px" width="40px">
                        </figure>
                        <div class="meal-title">Vijay Kumar</div>
                    </div>
                 
                </div>

                <div class="col-lg-7">
                    <div class="nutr-pnl">
                        <div class="nutr-bg">
                            <div class="week-arrow">
                                <div class="arrow-icon"><i class="bi bi-arrow-left"></i></div>
                                <div class="date-week">Week 1</div>
                                <div class="arrow-icon"><i class="bi bi-arrow-right"></i></div>
                            </div>
                            <div class="nutr-week-lists">
                                <div class="lists_week">1</div>
                                <div class="lists_week nutrActive">2</div>
                                <div class="lists_week">3</div>
                                <div class="lists_week">4</div>
                                <div class="lists_week">5</div>
                                <div class="lists_week">6</div>
                                <div class="lists_week">7</div>
                            </div>
                        </div>

                        <h6 class="nutr_title">Meal Period</h6>
                        <div class="meal-box mb-3" *ngFor="let meal of [1,2,3]">
                            <div class="d-flex gap-3 align-items-center">
                                <figure>
                                    <img src="assets/images/video_PosterImage.png" alt="img">
                                </figure>
                                <div class="meal-title">Asian chicken salad</div>
                            </div>
                            <div class="bin-icon"><i class="bi bi-trash3"></i></div>
                        </div>
                        

                    </div>


                </div>

            </div>
        </div>



    </div>

</div>
