.nutrition-grid {
    height: 270px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.nutrition-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.des-tainer {
    text-align: center;
    background: #E6E6E6;
    color: #7C7C7C;
    font-size: 14px;
    padding: 5px;
}
.des-content p {
    font-size: 14px;
    padding: 8px 0px;
}
.nutr-pnl{
    background-color: #F4F4F4;
    padding: 10px;
}
.nutr_box {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 23%;
    color: #7C7C7C;
    cursor: pointer;
}
.nutr-4week {
    display: flex;
    justify-content: space-between;
}
.nutr_title {
    font-size: 14px;
    margin: 13px 0px;
}
.nutr-week-lists {
    display: flex;
    justify-content: space-between;
}
.lists_week{
    background: #fff;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    width: 12%;
    color: #7C7C7C;
    font-size: 14px;
    cursor: pointer;
}
.meal-box {
    box-shadow: 0px 3px 6px #DBDBDB29;
    border-radius: 7px;
    background: #fff;
    padding: 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}
.meal-box figure {
    width: 42px;
    overflow: hidden;
    height: 42px;
    border-radius: 9px;
    margin-bottom: 0px;
}
.meal-box figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bin-icon {
    color: #FC7A6F;
    cursor: pointer;
}
.nutrActive {
    background: #e06f00 !important;
    color: #fff !important;
}

.nutr-bg{
    background: transparent linear-gradient(261deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat;
    padding: 13px;
    border-radius: 5px;
}
.week-arrow {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 16px;
}
.arrow-icon {
    background: #fff;
    color: #e06f00;
    width: 26px;
    text-align: center;
    height: 26px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-title {
    border: 1px solid #FC7A6F;
    padding: 4px;
    border-radius: 20px;
    font-size: 13px;
}