<div class="card-2">
    <div class="member-header-2 mb-3">
        <h3 class="title-hd mb-0">Add Members</h3>
        <div class="remove-icon" mat-dialog-close><i class="bi bi-x-circle-fill"></i></div>
    </div>
    <div class="search-panel">
        <div class="search-field">
            <mat-form-field class="login-input w-50 me-4" appearance="outline">
                <span matPrefix class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                <input type="text"  [formControl]="searchControl"  matInput placeholder="Search member by name"/>
            </mat-form-field>

            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                <mat-button-toggle value="active" (click)="changeTab(0)" checked>Active</mat-button-toggle>
                        <mat-button-toggle value="inactive" (click)="changeTab(1)">Inactive</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="scroll-content">
    <div class="table-responsive">
        <table class="table memberDatas">
            <thead>
                <tr class="bg-row">
                    <td>S.No.</td>
                    <td>Photo</td>
                    <td>Member Name</td>
                    <td>Age</td>
                    <td>Gender</td>
                    <td>Type</td>
                    <td>Package</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of memberList;let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <img  [src]="(item?.user?.profile_image == null) ? staticImg  : item?.user?.profile_image" alt="user" height="40px" class="avtar-circle">
                    </td>
                    <td>{{item?.user?.first_name}} {{item?.user?.last_name}}</td>
                    <td>{{getAge(item?.user?.dob)}}</td>
                    <td>Male</td>
                    <td>{{item?.user?.gender}}</td>
                    <td>{{item?.user?.fitness_level}}</td>
                    <td *ngIf="tableValue == 0"> <img src="assets/images/website_icons_user/subscription_diamond.png" alt="icon" class="diamond-IC">{{getPackageDayDiff(item?.subscription_date,item?.subscription_expiry_date)}} Days</td>
                    <td><mat-checkbox (change)="onCheckboxChange(item)" class="example-margin"></mat-checkbox></td>
                </tr> 
            </tbody>
        </table>
    </div>
    </div>

    <div class="all-btn text-center mt-4">
        <button mat-flat-button color="primary" class="primary-btn w-100" (click)="updateMembersString()">Add Member</button>
    </div>
</div>
