.search-panel {
    margin-bottom: 0px;
    padding: 20px;
}
::ng-deep mat-button-toggle{
    width: 120px;
    height: 45px;
}
::ng-deep .mat-button-toggle-checked {
    background-color: #e06f00;
    color: #fff !important;
}
.avtar-circle {
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.member-header-2{
    display: flex;
    justify-content: space-between;
}
.card-2 {
    padding: 20px;
}
.search-field {
    display: flex;
    justify-content: space-between;
}
.me-33 {
    padding: 7px 3px 0px 10px;
}
.remove-icon i {
    color: #e06f00;
    font-size: 20px;
}