<div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
            <!-- Image Upload Section -->
            <div class="form-group mb-4">
              <div class="upload-container">
                <input
                  class="upload-input"
                  type="file"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                  [hidden]="imageUrl !== ''"
                />
                <div *ngIf="!imageUrl" class="upload-btn">
                  <div class="d-flex justify-content-center mb-3">
                    <img src="assets/images/favicon.png" alt="upload" />
                  </div>
                  <span>+ Upload photo or video</span>
                </div>
                <button
                  *ngIf="imageUrl"
                  class="del-btn"
                  type="button"
                  (click)="removeImage()"
                >
                  <i class="bi bi-x-lg"></i>
                </button>
                <div *ngIf="imageUrl" class="image-preview">
                  <img
                    [src]="imageUrl"
                    alt="Image Preview"
                    class="image-preview-img"
                  />
                </div>
              </div>
            </div>
  
            <!-- Description Input -->
            <div class="form-group mb-4">
              <textarea
                class="form-control"
                rows="5"
                placeholder="Write group description"
                formControlName="description"
              ></textarea>
              <div
                *ngIf="
                  groupForm.get('description')?.touched &&
                  groupForm.get('description')?.invalid
                "
                class="text-danger mt-1"
              >
                <small
                  *ngIf="groupForm.get('description')?.hasError('required')"
                >
                  Description is required.
                </small>
                <small
                  *ngIf="groupForm.get('description')?.hasError('minlength')"
                >
                  Description must be at least 10 characters.
                </small>
              </div>
            </div>
  
            <!-- Submit Button -->
            <button
              class="w-100"
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="groupForm.invalid"
            >
              Publish
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  