.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.search-header {
    background: #E6E6E6;
    padding: 10px;
    border-radius: 2px;
}
.inputsearch {
    position: absolute;
    background: transparent;
    border: none;
    color: #666;
    top: 50%;
    left: 9px;
    transform: translate(0%, -50%);
}
.search-header .form-control {
    padding-left: 30px;
}
.running-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}
.cup-img-quick img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cup-img-quick {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(221, 252, 252);
}
.cup-content {
    text-align: center;
    padding: 15px 0px 0px;
}

.workNumber {
    text-align: center;
    color: #383838;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.distance-title {
    color: #B2B4B6;
    font-size: 12px;
}
.distance-title span {
    color: #000000;
}

.card {
    border: none;
    box-shadow: 0px 3px 6px #dbdbdbad;
    border-radius: 7px;
}
.card-body {
    padding: 11px;
}
figure.nutrition-img {
    height: 180px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
}
.nutrition-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nutrition-panle h6 {
    font-size: 14px;
    margin-bottom: 0px;
}
.n-title {
    color: #C3C3C3;
    font-size: 14px;
}
.nutrition-panle p {
    font-size: 12px;
    margin-bottom: 0px;
}
.calories-title img {
    height: 18px;
}
.calories-title {
    font-size: 13px;
}
.calories-title span {
    color: #E16F00;
    font-weight: 500;
}
.self-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.85px;
    padding: 10px 0px;
}
.user-img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 7px;
}
.user-img img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.coaches-header {
    display: flex;
    align-items: center;
    gap: 9px;
    background: #E6E6E6;
    padding: 8px;
    border-radius: 5px;
}

.nutrition-grid {
    height: 270px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.nutrition-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.des-tainer {
    text-align: center;
    background: #E6E6E6;
    color: #7C7C7C;
    font-size: 14px;
    padding: 5px;
}
.des-content p {
    font-size: 14px;
    padding: 8px 0px;
}
.nutr-pnl{
    padding: 1px;
    max-width: 615px;
    width: 100%;
    margin: auto;
}

.nutr_box {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 23%;
    color: #7C7C7C;
    cursor: pointer;
}
.nutr-4week {
    display: flex;
    justify-content: space-between;
}
.nutr_title {
    font-size: 14px;
    margin: 13px 0px;
}
.nutr-week-lists {
    display: flex;
    justify-content: space-between;
}
.lists_week{
    background: #fff;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    width: 12%;
    color: #7C7C7C;
    font-size: 14px;
    cursor: pointer;
}
.meal-box {
    box-shadow: 0px 3px 6px #DBDBDB29;
    border-radius: 7px;
    background: #fff;
    padding: 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}
.meal-box figure {
    width: 42px;
    overflow: hidden;
    height: 42px;
    border-radius: 9px;
    margin-bottom: 0px;
}
.meal-box figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bin-icon {
    color: #FC7A6F;
    cursor: pointer;
}
.nutrActive {
    background: #e06f00 !important;
    color: #fff !important;
}

.nutr-bg{
    background: transparent linear-gradient(261deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat;
    padding: 13px;
    border-radius: 5px;
}
.week-arrow {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 16px;
}
.arrow-icon {
    background: #fff;
    color: #e06f00;
    width: 26px;
    text-align: center;
    height: 26px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-title {
    border: 1px solid #FC7A6F;
    padding: 4px;
    border-radius: 20px;
    font-size: 13px;
}