<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Nutrition/Diet</h3>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Nutrition/Diet">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group position-relative">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search nutrition by name">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="ps-1 form-control" placeholder="Total Calories">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected value="">Meal Type</option>
                                        <option value="1">Easy Running</option>
                                        <option value="2">Quality Session</option>
                                        <option value="3">Race</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Nutrition Type</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button  mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-4">
                        <div class="workout-heading mb-4">
                            <div class="running-title">Nutritions</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-3" *ngFor="let nutrition of [1,2,3,4,5]">
                                <div class="card clickPointer" routerLink="/trainee-layout/nutrition-diet/add-nutrition">
                                    <div class="card-body">
                                        <figure class="nutrition-img">
                                            <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure>
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <h6>Asian chicken salad</h6>
                                                <div class="n-title">Moderate Proteins</div>
                                                <p>Breakfast, Lunch</p>
                                            </div>
                                            <div class="nutrition-date">
                                                <div class="distance-title">Duration :<span>2 Days</span></div>
                                                <div class="calories-title"><img src="assets/images/calories/calories.png"> <span>456</span> Cal</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="My Diets">
                <div class="workout-section">
                    <div class="search-header">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group position-relative">
                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search nutrition by name">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="ps-1 form-control" placeholder="Total Calories">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected value="">Meal Type</option>
                                        <option value="1">Easy Running</option>
                                        <option value="2">Quality Session</option>
                                        <option value="3">Race</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select">
                                        <option selected hidden>Nutrition Type</option>
                                        <option value="type-1">1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="sub-price mb-0 pb-0">
                                    <button  mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Individual-Workouts p-2">
                      <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="self-title">Self Planed</div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 mb-3" *ngFor="let nutrition of [1,2,3,4]">
                                    <div class="card">
                                        <div class="card-body">
                                            <figure class="nutrition-img">
                                                <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                            </figure>
                                            <div class="nutrition-content">
                                                <div class="nutrition-panle">
                                                    <h6>Asian chicken salad</h6>
                                                    <div class="n-title">Moderate Proteins</div>
                                                    <p>Breakfast, Lunch</p>
                                                </div>
                                                <div class="nutrition-date">
                                                    <div class="distance-title">Duration :<span>2 Days</span></div>
                                                    <div class="calories-title"><img src="assets/images/calories/calories.png"> <span>456</span> Cal</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="self-title">My Coaches Planned</div>
                            <div class="coache-lists mb-3" *ngFor="let coache of [1,2]">
                                <div class="coaches-header">
                                    <div class="user-img">
                                        <img src="assets/images/bestCoach/2.jpg" alt="img">
                                    </div>
                                    <h6>K/Ahmed Sameh</h6>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <figure class="nutrition-img">
                                            <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure>
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <h6>Asian chicken salad</h6>
                                                <div class="n-title">Moderate Proteins</div>
                                                <p>Breakfast, Lunch</p>
                                            </div>
                                            <div class="nutrition-date">
                                                <div class="distance-title">Duration :<span>2 Days</span></div>
                                                <div class="calories-title"><img src="assets/images/calories/calories.png"> <span>456</span> Cal</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>


                    </div>
                </div>

            </mat-tab>

            <mat-tab label="Meal Plans">
                <div class="workout-section">
                    <div class="Individual-Workouts p-4">
                        <div class="nutr-pnl">
                            <div class="nutr-bg">
                                <div class="week-arrow">
                                    <div class="arrow-icon"><i class="bi bi-arrow-left"></i></div>
                                    <div class="date-week">Week 1</div>
                                    <div class="arrow-icon"><i class="bi bi-arrow-right"></i></div>
                                </div>
                                <div class="nutr-week-lists">
                                    <div class="lists_week">1</div>
                                    <div class="lists_week nutrActive">2</div>
                                    <div class="lists_week">3</div>
                                    <div class="lists_week">4</div>
                                    <div class="lists_week">5</div>
                                    <div class="lists_week">6</div>
                                    <div class="lists_week">7</div>
                                </div>
                            </div>
    
                            <h6 class="nutr_title">Meal Period</h6>
                            <div class="meal-box mb-3" *ngFor="let meal of [1,2,3]">
                                <div class="d-flex gap-3 align-items-center">
                                    <figure>
                                        <img src="assets/images/video_PosterImage.png" alt="img">
                                    </figure>
                                    <div class="meal-title">Asian chicken salad</div>
                                </div>
                                <div class="bin-icon"><i class="bi bi-trash3"></i></div>
                            </div>
                            
    
                        </div>
    
                    </div>

                </div>

            </mat-tab>


        </mat-tab-group>
    </div>

</div>
