<div class="dialog-wrapper">
  
    <mat-dialog-content>

        <div class="row">
            <div class="col-12 my-2">
                    <div class="logout">

                      <!-- <div class="icon-wrapper">
                          <div class="icon-log">
                              <mat-icon>delete</mat-icon>
                          </div>
                      </div> -->

                        <h4>Are you sure ? <br> You want to leave this group</h4>


                    </div>

                    <div class="d-flex justify-content-center gap-2">
                        <button class="w-100 btn btn-outline-primary " mat-dialog-close >Discard</button>
                        <button class="w-100 btn btn-primary "  mat-dialog-close>Yes, Leave</button>
                    </div>
    


            </div>




                

                
        </div>
    </mat-dialog-content>
</div>

