.logout{
    text-align: center;
}


.icon-log{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #ff000045 0% 0% no-repeat padding-box;
    border-radius: 50%;    
}

.icon-log mat-icon{ 
    color: red!important;
}


.icon-log .mat-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}



.logout h4 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 30px 20px;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn-primary{
    background: transparent linear-gradient(253deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 26px #00000029;
    border-radius: 100px;
    border:none;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
}


.btn-outline-primary{
    border: 1px solid #D3752B;
    border-radius: 100px;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    color:#E06F00 ;
    box-shadow: none;
}

.btn-outline-primary:hover {
    background-color: #fff;
}


/* .btn:first-child:active{
    background-color: #fff;
    color:#E06F00 ;
    border: 1px solid #D3752B;
    box-shadow: none;

} */


.btn-outline-primary:focus-visible {
    background-color: #fff;
    color:#E06F00 ;
    border: 1px solid #D3752B;
    box-shadow: none;
}