/* support chat */
.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 1px 0px;
    height: calc(100% - 50px);
    background: #fff;
    padding-top: 20px;
}
.msger-chat {
    flex: auto;
    overflow-y: auto;
    padding: 10px;
    height: 350px;
}
.msger-chat::-webkit-scrollbar {
    width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 10px;
    border-radius: 15px;
    background: #00555514;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
.msg-text {
    font-size: 14px;
}

.msg-info-time {
    font-size: 0.65em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: #ff8939;
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    background: #FFF3E8;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: #fff;
}

.msger-send-btn {
    margin-left: 10px;
    background:#E06F00;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}
.userheader {
    width: 100%;
    max-width: 700px;
    background: #61B92B;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-close {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.user-pic img {
    height: 45px;
    width: 45px;
}
.u-name {
    color: #fff;
    h6{
        color: #fff; 
        margin-bottom: 0px;
    }
    
}