<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Chat</h3>
        </div>
        <div class="card-bg">
            <div class="workouts-wapper">
                <div class="p-3">
                    <div class="dashboard-content-2 w-100">
                        
                        <div class="dashboard-content">
                            <div class="userheader">
                               <div class="d-flex gap-3">
                                    <div class="user-pic">
                                        <img [src]="traniee_data?.image ? traniee_data?.image: 'assets/images/Coach/upload_profile_pic.png'">
                                    </div>
                                    <div class="u-name">
                                        <h6>{{traniee_data?.name}}</h6>
                                    </div>

                               </div>

                            </div>
                            <div class="msger">
                                    <main class="msger-chat" id="scrollProperty" >
                                        <ng-container *ngFor="let msg of message_data">
                                            <div *ngIf="this.localStorageData?.coach_id != msg.senderId;else elseMsgBox" class="msg left-msg">
                                                <div class="msg-img" style="background-image: url(msg?.senderImage);">
                                                </div>
        
                                                <div class="msg-bubble">
                                                    <div class="msg-info">
                                                        <div class="msg-info-name">{{msg?.senderName}}</div>
                                                        <!-- <div class="msg-info-time">{{msg?.timestamp | date : 'h:mm a'}}</div> -->
                                                    </div>
        
                                                    <div class="msg-text">
                                                        {{msg?.message}}
                                                    </div>
                                                    <div class="msg-info-time">{{msg?.timestamp | date : 'short'}}</div>

                                                </div>
                                            </div>
                                            <ng-template #elseMsgBox>
                                                <div class="msg right-msg">
                                                    <div class="msg-img" style="background-image: url(msg?.senderImage)">
                                                    </div>
                                                    <div class="msg-bubble">
                                                        <div class="msg-info">
                                                            <!-- <div class="msg-info-name">{{msg?.senderName}}</div> -->
                                                            <!-- <div class="msg-info-time">{{msg?.timestamp | date : 'h:mm a'}}</div> -->
                                                        </div>
                                                        <div class="">
                                                            {{msg?.message}}
                                                        </div>
                                                        <div class="msg-info-time">{{msg?.timestamp | date : 'h:mm a'}}</div>

                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <!-- <ng-container>
                                            <div class="msg left-msg">
                                                <div class="msg-img" style="background-image: url(msg?.receiverImage);">
                                                </div>
        
                                                <div class="msg-bubble">
                                                    <div class="msg-info">
                                                        <div class="msg-info-name">Testing Data</div>
                                                        <div class="msg-info-time">20:10 PM</div>
                                                    </div>
        
                                                    <div class="msg-text">
                                                        This is message
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template #elseMsgBox>
                                                <div class="msg right-msg">
                                                    <div class="msg-img" style="background-image: url(msg?.senderImage)">
                                                    </div>
                                                    <div class="msg-bubble">
                                                        <div class="msg-info">
                                                            <div class="msg-info-name">Asfaq</div>
                                                            <div class="msg-info-time">20:10 PM</div>
                                                        </div>
                                                        <div class="msg-text">
                                                            This is message
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-container> -->
    
                                        <!-- <div class="msg right-msg">
                                            <div class="msg-img" style="background-image: url(assets/images/user.png)">
                                            </div>
                                            <div class="msg-bubble">
                                                <div class="msg-info">
                                                    <div class="msg-info-name">user</div>
                                                    <div class="msg-info-time">12:46</div>
                                                </div>
                                                <div class="msg-text">
                                                    Lorem ipsum dolor sit amet
                                                </div>
                                            </div>
                                        </div> -->
                                    </main>

                                <form class="msger-inputarea" >
                                    <input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" class="msger-input" placeholder="Enter your message...">
                                    <button type="submit" class="msger-send-btn" (click)="submit()">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>



                </div>
            </div>

        </div>


    </div>

</section>