.running-title{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}

/* .workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
} */


.card {
    border: none;
    box-shadow: 0px 3px 6px #dbdbdbad;
    border-radius: 7px;
}
.card-body {
    padding: 11px;
}

.nutrition-content .card-text{
    font-size:14px;
    letter-spacing: 0.64px;
    color: #131313;
}


figure.nutrition-img {
    height: 400px;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 10px;
}

figure.nutrition-img1 {
    height: 180px;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 10px;
}
.calories-title img {
    height: 18px;
    margin: 4px;
}
.calories-title {
    font-size: 14px;
}
.calories-title span {
    color: #7C7C7C;
    font-weight: 500;



}
.diet-type {
    color: #C3C3C3;
    font-size: 14px;
    line-height: 26px;
}
.diet-type span {
    color: #000;
    font-weight: 500;
    margin: 4px;
}
.recipe-title{
    font-size: 15px;
    font-weight: 600;
    color: #383838;
    line-height: 18px;
    margin-bottom: 18px;
    margin-top: 10px;

}
.sar-green{
    font-size: 16px;
    font-weight: 600;
    color: #61B92B;
}
.offertitle {
    background: transparent linear-gradient(249deg, #d3752beb 0%, #b45520e0 100%) 0% 0% no-repeat;
    box-shadow: 0px 20px 26px #00000029;
    border-radius: 8px 0px;
    padding: 8px;
    color: #fff;
    width: min-content;
    position: absolute;
    left: 0;
    font-size: 13px;
}


.see{
    font-size:20px;
    font-weight: 500;
    color: #E06F00;
}


.head-bg{
    background: #FFF1E6 0% 0% no-repeat padding-box;
}

.w-100{
    width: 100%!important;
}

.dot-box{
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
}

.dot-box i{
    font-size: 22px;
}

.post-card .card{
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #C3C3C338;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
}

.post-card .card-footer{
    border: none;
    border-radius: 0px 0px 10px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;

}

.post-card .card-text{
    font-size:16px;
    color: #B1B1B1;
}

.post-card .card-body{
    padding: 15px;
}

.post-card .card-footer{
    padding: 15px;
}

.day{
    color: #B1B1B1!important;
}

.post-txt{
    font-size:16px;
    letter-spacing: 0.2px;
    color: #383838;
    margin: 10px 0px;
}

.social-post .card{
    box-shadow: 0px 3px 6px #C3C3C385;
    border-radius: 10px;
}

.social-post .card-header{
    border-radius: 0px 0px 10px 10px;
}

.dropdown-item{
    color: var(--primary-color);
}