<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <div class="workout-section">
            <div class="Individual-Workouts py-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card mb-2">
                            <figure class="nutrition-img">
                                <img class="card-img-top"
                                    [src]="stateData?.cover ? stateData?.cover : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'"
                                    alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="nutrition-content">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="nutrition-panle">
                                                <div class="recipe-title">{{stateData?.name}}</div>
                                            </div>
                                            <div class="nutrition-date d-flex justify-content-between mt-2">
                                                <div class="d-flex gap-5 w-100">
                                                    <div class="calories-title"><i class="bi bi-people me-1"></i>
                                                        <span>{{stateData?.members_count}} Members </span>
                                                    </div>
                                                    <div class="calories-title"><i class="bi bi-flag me-1"></i>
                                                        <span>{{stateData?.posts_count}} Posts</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dot-box" data-bs-toggle="dropdown">
                                            <i class="bi bi-three-dots-vertical"></i>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item"
                                                        (click)="MemberListDialog('500ms','500ms', stateData)">Member
                                                        List</a></li>
                                                <li><a class="dropdown-item"
                                                        (click)="leaveDialog('500ms','500ms', stateData);">Leave
                                                        Group</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p class="card-text">{{stateData?.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


                <div class="row">
                    <div class="col-lg-4 mx-auto my-3">
                        <div class="post-card" (click)="goToUrl(stateData?.feed_id)">
                            <div class="card">
                                <div class="card-body pb-5">
                                    <p class="card-text">
                                        Write your post now
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-end gap-3">
                                    <i class="bi bi-image"></i>
                                    <i class="bi bi-camera-reels-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row" *ngFor="let nutrition of youJoinFeedData">
                    <div class="col-lg-4 mx-auto my-3">
                        <div class="social-post">
                            <div class="card mb-2">


                                <div class="card-body">
                                    <!-- <figure class="nutrition-img">
                                                <img class="" src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                            </figure> -->
                                    <div class="nutrition-content d-flex justify-content-between">
                                        <div class="nutrition-panle d-flex gap-3 align-items-center">
                                            <img src="assets/images/video_PosterImage.png" alt="" width="52px"
                                                height="52px" class="rounded">

                                            <div class="recipe-title m-0">
                                                {{nutrition?.creator?.first_name}} {{nutrition?.creator?.last_name}}
                                            </div>
                                        </div>
                                        <div class="nutrition-date d-flex gap-3 align-items-center">
                                            <div class="calories-title "><span class="day">{{nutrition?.created_at}}
                                                </span> </div>
                                            <div class="dot-box" data-bs-toggle="dropdown">
                                                <i class="bi bi-three-dots-vertical"></i>

                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item">Edit Post</a></li>
                                                    <li><a class="dropdown-item">Delete</a></li>
                                                </ul>
                                            </div>

                                            <!-- <div class="d-flex gap-5 w-100">
                                                        <div class="calories-title"><i class="bi bi-flag me-1"></i> <span>100 Posts</span>  </div>
                                                    </div> -->


                                        </div>
                                    </div>


                                    <p class="post-txt">
                                        {{nutrition?.description}}
                                    </p>

                                </div>
                                <figure class="nutrition-img nutrition-img1 ">
                                    <img class="card-img-top"
                                        [src]="nutrition?.file ? nutrition?.file : ' https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'"
                                        alt="Card image cap">
                                </figure>
                                <div class="card-header bg-white border-0">
                                    <!-- <i class="bi bi-hand-thumbs-up-fill"></i> -->
                                    <div class="calories-title"><i class="bi bi-hand-thumbs-up me-2"></i>
                                        <span>{{nutrition?.likes_count}}
                                            Likes</span> </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>

    </div>

</div>