.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.card {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
    padding: 15px;
}
.ch-box-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ch-title h6 {
    margin-bottom: 0px;
    color: #E16F00;
    font-size: 15px;
    font-weight: 700;
}
.easy-title {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.card table tr {
    line-height: 2.1;
}
.des-text{
    font-size: 14px;
}
.ch-banner{
    height: 250px;
    overflow: hidden;
}
.card-thumb {
    height: 50px;
    width: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.card-thumb img {
    height: 100%;
}
.card-content p {
    color: #7C7C7C;
    font-size: 15px;
}
.participants-list p{
    margin-top: 0px;
    color: #7C7C7C;
    font-size: 15px;
    margin-bottom: 0px;
}
.text-green {
    color: #00A849 !important;
    font-weight: 500;
}


