<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Challenge Details</h3>
    </div>
    <div class="workout-section mt-4 p-3">
        <div class="row">
            <div class="col-lg-5">
                <div class="card-slider">
                    <owl-carousel-o [options]="challengesBanner">
                        <ng-template carouselSlide>
                            <div class="ch-banner">
                                <img [src]= "challengeData?.image1 ? challengeData?.image1 : 'assets/images/video_PosterImage.png'" alt="banner" class="img-fluid">
                            </div>
                        </ng-template>
                        <!-- <ng-template carouselSlide>
                            <div class="ch-banner">
                                <img src="assets/images/video_PosterImage.png" alt="banner" class="img-fluid">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="ch-banner">
                                <img src="assets/images/video_PosterImage.png" alt="banner" class="img-fluid">
                            </div>
                        </ng-template> -->

                    </owl-carousel-o>
                </div>
                <div class="card">
                    <div class="easy-title">Easy walk journey to a healthy lifestyle</div>
                    <table>
                        <tr>
                            <td>Type:</td>
                            <td>{{challengeData?.type}}</td>
                        </tr>
                        <tr>
                            <td>Start Date :</td>
                            <td>{{challengeData?.start_date}}</td>
                        </tr>
                        <tr>
                            <td>End Date :</td>
                            <td>{{challengeData?.end_date}}</td>
                        </tr>
                        <tr>
                            <td>Duration (In Days) :</td>
                            <td>{{challengeData?.duration}}</td>
                        </tr>
                        <tr>
                            <td>Daily Step Goal :</td>
                            <td>{{challengeData?.daily_steps_goal}}</td>
                        </tr>
                        <tr>
                            <td>Ultimate Goal :</td>
                            <td>{{challengeData?.ultimate_goal}}</td>
                        </tr>
                        <tr>
                            <td>Registration Start Date :</td>
                            <td>{{challengeData?.registration_start_date}}</td>
                        </tr>
                        <tr>
                            <td>Last Date to Register :</td>
                            <td>{{challengeData?.registration_end_date}}</td>
                        </tr>
                        <tr>
                            <td>Registration link :</td>
                            <!-- <td><a href="#">https://www.googleform.com</a></td> -->
                            <td><a>{{challengeData?.external_registration_link}}</a></td>
                        </tr>
                        <tr>
                            <td>Location :</td>
                            <td>{{challengeData?.location}}</td>
                        </tr>
                        <tr>
                            <td>Paid Challenges :</td>
                            <td>{{challengeData?.registration_price}} SAR</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="card mt-1">
                    <div class="easy-title">Description</div>
                    <p class="des-text">{{challengeData?.description}}</p>
                </div>

                <div class="card mt-3">
                    <div class="easy-title">Participants</div>
                    <div class="table-responsive">
                        <table class="table memberDatas table-bordered">
                            <thead>
                                <tr class="part-row">
                                    <td>S.No.</td>
                                    <td>User Name</td>
                                    <td>Gender</td>
                                    <td>Date of Birth</td>
                                    <td>Country</td>
                                    <td>Participated On</td>
                                    <td>Paid Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>Male</td>
                                    <td>17/02/1990</td>
                                    <td>Country</td>
                                    <td>12/08/224</td>
                                    <td class="text-green">550 SAR</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>Male</td>
                                    <td>17/02/1990</td>
                                    <td>Country</td>
                                    <td>12/08/224</td>
                                    <td class="text-green">550 SAR</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="easy-title">Result</div>
                    <div class="table-responsive">
                        <table class="table memberDatas table-bordered">
                            <thead>
                                <tr class="part-row">
                                    <td>S.No.</td>
                                    <td>User Name</td>
                                    <td>Number of steps</td>
                                    <td>Screenshot</td>
                                    <td>Ultimate Goal</td>
                                    <td>Edit</td>
                                    <td>Last Time Result</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>500</td>
                                    <td></td>
                                    <td>2210</td>
                                    <td> <img src="assets/images/calories/add.svg" alt="view" class="img-fluid"></td>
                                    <td>12/08/224</td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>