<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Add a Member</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/my-members">Back</button>
        </div>
        <div class="card-bg">
            <div class="row">
                <div *ngIf="AddCustomerSendOtpError" class="alert alert-danger" role="alert">
                    {{AddCustomerSendOtpError}}
                  </div>
               <div class="col-lg-6">
                <mat-card>
                    <form [formGroup]="addMemberForm">
                        <div class="member-card-add">
                            <p>Enter member's  basic details to create their account on Harwalah Platform</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="First Name" formControlName="first_name">
                                    </mat-form-field>
                                    <!-- {{getError('first_name')}} -->
                                    <div *ngIf="submitted && getError('first_name')?.errors" class="text-danger">
                                        First Name is Required.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Last Name" formControlName="last_name">
                                    </mat-form-field>
                                    <div *ngIf="submitted && getError('last_name')?.errors" class="text-danger">
                                        Last Name is Required.
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput type="email" placeholder="Email Address" formControlName="email">
                                    </mat-form-field>
                                    <div *ngIf="submitted && getError('email')?.errors" class="text-danger">
                                        <div *ngIf="getError('email')['errors']?.['required']" class="text-danger">
                                            Email is Required.
                                        </div>
                                        <div *ngIf="getError('email')['errors']?.['email']" class="text-danger">
                                            Email must be valid.
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input d-flex" appearance="outline">
                                        <span matPrefix><div class="flagNumber" [matMenuTriggerFor]="menu">{{country[0].mobile_code}}</div></span>
                                        <input type="text" minlength="8" maxlength="13" class="telInput" matInput formControlName="mobile" placeholder="Mobile Number"/>
                                    </mat-form-field>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor = "let i of country" value = "i.country_id">{{i?.mobile_code}}</button>
                                    </mat-menu>

                                    <div *ngIf="submitted && getError('mobile')?.errors" class="text-danger">
                                        <div *ngIf="getError('mobile')?.errors?.['required']" class="text-danger">
                                            Mobile Number is Required.
                                        </div>
                                        <div *ngIf="getError('mobile')?.errors?.['minlength']" class="text-danger">
                                            Mobile Number must be minimum 8 length.
                                        </div>
                                        <div *ngIf="getError('mobile')?.errors?.['maxlength']" class="text-danger">
                                            Mobile Number must be maximum 13 length.
                                        </div>
                                    </div>
                                </div> -->

                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input d-flex" appearance="outline">
                                        <span matPrefix>
                                            <div class="flagNumber" [matMenuTriggerFor]="menu">{{selectedCountryCode}}</div>
                                        </span>
                                        <input type="text" minlength="8" maxlength="13" class="telInput" matInput formControlName="mobile" placeholder="Mobile Number"/>
                                    </mat-form-field>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor="let i of country" (click)="selectCountryCode(i.mobile_code)">{{i?.mobile_code}}</button>
                                    </mat-menu>
                                
                                    <div *ngIf="submitted && getError('mobile')?.errors" class="text-danger">
                                        <div *ngIf="getError('mobile')?.errors?.['required']" class="text-danger">
                                            Mobile Number is Required.
                                        </div>
                                        <div *ngIf="getError('mobile')?.errors?.['minlength']" class="text-danger">
                                            Mobile Number must be minimum 8 length.
                                        </div>
                                        <div *ngIf="getError('mobile')?.errors?.['maxlength']" class="text-danger">
                                            Mobile Number must be maximum 13 length.
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12 mt-3">
                                    <mat-form-field appearance="outline" class="login-select">
                                        <mat-select  form aria-placeholder="Select Country" formControlName="country_id"
                                            placeholder="Select Country">
                                            <mat-option value="">Select Country</mat-option>
                                            <mat-option *ngFor="let country of country" [value]="country.country_id">
                                                {{country.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="submitted && getError('country_id')?.errors" class="text-danger">
                                        Country is Required.
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field appearance="outline" class="login-input">
                                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Create Password" formControlName="password">
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide">
                                            <img [src]="hide ? 'assets/images/M2_Trainee_Assets/password_hide.png' : 'assets/images/M2_Trainee_Assets/password_show.png'" />
                                        </button>
                                    </mat-form-field>
                                    <div *ngIf="submitted && getError('password')?.errors" class="text-danger">
                                        Password is Required.
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field appearance="outline" class="login-input">
                                        <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirm_password">
                                        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide1">
                                            <img [src]="hide1 ? 'assets/images/M2_Trainee_Assets/password_hide.png' : 'assets/images/M2_Trainee_Assets/password_show.png'" />
                                        </button>
                                    </mat-form-field>
                                    <div *ngIf="submitted" class="text-danger">
                                        <div *ngIf="getError('confirm_password')?.errors;else confirmPasswordElse" class="text-danger">
                                            Confirm Password is Required.
                                        </div>
                                        <ng-template #confirmPasswordElse class="text-danger">
                                            <div *ngIf="pwdMatchValidator()">
                                                Password and Confirm Password must be same.
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="all-btn text-center">
                                        <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                                        <button mat-flat-button color="primary" class="primary-btn" (click)="Verifyemail()">Next</button>
                                    </div>
                                </div>

                            </div>
                    
                        </div>
                    </form>
                </mat-card>
               </div>
            </div>
           

        </div>


    </div>

</section>
