<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Recipes Details</h3>
        <div class="trainee-common-wapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="nutrition-grid">
                            <img src="assets/images/video_PosterImage.png" alt="image" class="img-fluid">
                        </div>

                        <div class="card-body">
                            <h6 class="diet-title">Zucchini meal stuffed with chickpeas and oats</h6>
                            <div class="diet-type"><span>Diet Type:</span> Low Fat Diet, Balance Diet, Lecto-OVO
                                Vegeterian</div>
                            <div class="Breakfast-title">
                                <h5>Breackfast</h5>
                                <h5>20 SAR<sub>Paid</sub></h5>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="time-pnl text-center">
                                        <h6>Perparation Time</h6>
                                        <div><img src="assets/images/bestCoach/time_workout.png"> 5 Minutes</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="time-pnl text-center">
                                        <h6>Cook Time</h6>
                                        <div><img src="assets/images/bestCoach/time_workout.png"> 30 Minutes</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="time-pnl text-center bg-white">
                                        <img src="assets/images/goal_weight_loss/goal_weight_loss.png">
                                        <div>Fat<span class="cal-title">12</span></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="time-pnl text-center bg-white">
                                        <div class="calories-title"><img src="assets/images/calories/calories.png">
                                        </div>
                                        <div>Calories (In one bowl)<span class="cal-title">340</span></div>
                                    </div>
                                </div>
                            </div>

                            <table class="table">
                                <tr>
                                    <td>Fruits Included :</td>
                                    <td>Banana, Watermelon</td>
                                </tr>
                                <tr>
                                    <td>Vegetables Included :</td>
                                    <td>Carrot, Zucchini</td>
                                </tr>
                                <tr>
                                    <td>Recipe Allergens :</td>
                                    <td>Nuts, Egg, Soy</td>
                                </tr>
                                <tr>
                                    <td>Carbohydrates or starches Included :</td>
                                    <td>Sorghum, Sweet Potato</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="Breakfast-title p-4">
                        <div class=""></div>
                        <div>
                            <p>Unlock the recipe and get comprehensive info.</p>
                            <p>Enjoy the food & Stay healthy</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="pay-panle">
                            <h3>Choose the payment method that suits you best</h3>
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel class="mb-3" (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <div class="exp-pnl">
                                            <div>
                                                <img src="assets/images/website_icons_user/card.svg" alt="icon"> Credit
                                                Card
                                            </div>
                                            <img src="assets/images/website_icons_user/checked_tick.png"
                                                class="tickimg">
                                        </div>
                                    </mat-expansion-panel-header>
                                    <div class="pay-box">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="Enter Card Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="Expiry Date">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="CVV">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel class="mb-3" (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <div class="exp-pnl">
                                            <div>
                                                <img src="assets/images/website_icons_user/mada-ic.png" alt="icon"> Mada
                                            </div>
                                            <img src="assets/images/website_icons_user/checked_tick.png"
                                                class="tickimg">
                                        </div>
                                    </mat-expansion-panel-header>
                                    <div class="pay-box">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="Enter Card Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="Expiry Date">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="CVV">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <div class="exp-pnl">
                                            <div>
                                                <img src="assets/images/website_icons_user/stcpay.png" alt="icon"> STC
                                                Pay
                                            </div>
                                            <img src="assets/images/website_icons_user/checked_tick.png"
                                                class="tickimg">
                                        </div>
                                    </mat-expansion-panel-header>
                                    <div class="pay-box">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="Enter Card Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="Expiry Date">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="login-input" appearance="outline">
                                                    <input matInput placeholder="CVV">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <div class="mb-3 mt-4">
                                <button class="w-100" mat-flat-button color="primary">Pay
                                   20 SAR </button>
                            </div>

                        </div>
                    </div>



                </div>

            </div>
        </div>



    </div>

</div>