.Breakfast-title {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: #ffecde;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
}

.Breakfast-title h5 {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 3px;
}
.time-pnl {
    background: #F4F4F4;
    padding: 11px;
    border-radius: 8px;
    font-size: 17px;
    margin: 10px 0px;
}
.time-pnl div {
    color: #E16F00;
    font-weight: 600;
}
.time-pnl h6 {
    font-size: 12px;
}
.diet-type {
    font-size: 15px;
    color: #383838;
}
.diet-title {
    color: #535353;
    font-weight: 700;
}
.time-pnl.bg-white {
    box-shadow: 0px 3px 6px #DBDBDB29;
    border: 1px solid #FFEBD8;
    border-radius: 8px;
    padding: 14px 0px;
}
.time-pnl.text-center.bg-white div {
    color: #333;
    font-size: 13px;
    line-height: 2;
}
.cal-title {
    color: #f2721c;
    margin-left: 4px;
    font-weight: 800;
}

.exp-pnl {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #F6F6F6;
    padding: 11px;
    border-radius: 7px;
}
.pay-title{
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    color: #C3C3C3;
}
.login-input{
    margin: 7px 0px;
}
.pay-panle{
    padding: 20px;
}
.pay-panle h3{
    font-size: 14px;
}
::ng-deep .mat-expansion-panel-header{
    padding: 0px 0px !important;
}
.Breakfast-title p {
    margin-bottom: 0px;
    font-size: 14px;
}
