<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
       
        <div class="membertab-common position-relative">
            <div class="row">
                <div class="col-lg-2">
                    <div class="member-header2 mb-3">
                        <h3 class="title-hd mb-0">Member Details</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <ul class="nav nav-pills mb-3 d-flex justify-content-center member-Tab" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Activities</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Member Details</button>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="add-tabs">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="activities-workout">
                            <button *ngIf="tab_select == 0" class="btn btn-circle" routerLink="/coach-layout/add-workout/{{member_user_id}}"><span class="pluse-box"><i class="bi bi-plus"></i></span> Add Workout</button>
                            <button *ngIf="tab_select == 1" class="btn btn-circle" routerLink="/coach-layout/my-members/add-running/{{member_user_id}}"><span class="pluse-box"><i class="bi bi-plus"></i></span> Add Running</button>
                        </div>
                        <div class="activities-workout d-none">
                            <button class="btn btn-circle" routerLink="/coach-layout/add-workout/"><span class="pluse-box"><i class="bi bi-plus"></i></span> Add Running</button>
                        </div>

                        <div class="card-bg">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="submember chat-page">

                                        <div class="chat-icon" (click)="goToChat()">
                                            <i class="bi bi-chat-left-dots"></i>
                                        </div>

                                        <mat-tab-group (selectedIndexChange)="selectTab($event)" mat-stretch-tabs="false" animationDuration="0ms">
                                            <mat-tab label="Workouts">
                                                <div class="workout-mb mt-3">
                                                    <div class="workplan">
                                                        <h4>You made workouts plan(s)for him</h4>
                                                        <ng-container *ngIf="!coach_workout_list || (coach_workout_list && coach_workout_list.length == 0)">
                                                            <div class="Dumbell-img mb-2">
                                                                <img src="assets/images/bestCoach/workout_ic_grey.png" alt="image">
                                                            </div>
                                                            <h6>No workout added yet</h6>
                                                            <div class="w-mbtn" routerLink="/coach-layout/add-workout/{{member_user_id}}"><i class="bi bi-plus-lg"></i> Add Workout</div>
                                                        </ng-container>
                                                        <div class="row">
                                                            <div *ngFor="let i_item of coach_workout_list;let i = index" class="col-lg-6" (click)="goToWorkOutDetail(i_item)">
                                                                <mat-card  class="matcard-box cursor-point">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]=" i_item?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            {{i_item?.time_required | secondsToMinutes}} min.
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">{{i_item?.name}}</div>
                                                                    <div class="quick-span">{{i_item?.level?.name}} <img src="assets/images/bestCoach/level_easy.png" alt="image"></div>
                                                                    <div class="bench-pnl" >
                                                                        <div class="quick-bench" *ngFor="let j_item of i_item?.equipments">
                                                                            <img [src]="j_item?.equipment?.image || 'assets/images/bestCoach/dumble-ic.svg'" alt="image">
                                                                            {{j_item?.equipment?.name}}
                                                                        </div>
                                                                        <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div> -->
                                                                    </div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="quick">Quick Workouts to add for him</div>
                                                    <div class="quick-work workplan workplan-height">
                                                        <ng-container *ngFor="let item of admin_workout_list;let i = index">
                                                            <div class="quick-title">{{item?.name}}</div>
                                                            <div class="row">
                                                                <div *ngFor="let i_item of admin_workout_list[i]?.workouts;let j = index" class="col-lg-6 col-md-6" (click)="goTOAdminEditWorkOut(i_item)">
                                                                    <mat-card class="matcard-box">
                                                                        <div class="quick-header">
                                                                            <div class="Dumbell-img-2">
                                                                                <img [src]="i_item?.workout?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                                                            </div>
                                                                            <div class="quick-timer">
                                                                                <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                                {{i_item?.workout?.time_required | secondsToMinutes}} min.
                                                                            </div>
                                                                        </div>
                                                                        <div class="quick-title-work">{{i_item?.workout?.name}}</div>
                                                                        <div class="quick-span">{{i_item?.workout?.level?.name}} <img src="assets/images/bestCoach/level_easy.png" alt="image"></div>
                                                                        <div class="bench-pnl">
                                                                            <div *ngFor="let j_item of i_item?.workout?.equipments" class="quick-bench">
                                                                                <img [src]="j_item?.equipment?.image || 'assets/images/bestCoach/dumble-ic.svg'" alt="image">
                                                                                {{j_item?.equipment?.name}}
                                                                            </div>
                                                                            <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div> -->
                                                                        </div>
                                                                    </mat-card>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                        
                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab label="Running">
                                                <div class="workout-mb mt-3">
                                                    <div class="workplan">
                                                        <h4>You made running plan(s)for him</h4>
                                                    
                                                        <ng-container *ngIf="!coach_running_list || (coach_running_list && coach_running_list.length == 0)">
                                                            <div class="Dumbell-img mb-2">
                                                                <img src="assets/images/bestCoach/running_ic_grey.svg" alt="image">
                                                            </div>
                                                            <h6>No running added yet</h6>
                                                            <div class="w-mbtn mb-3" routerLink="/coach-layout/my-members/add-running/{{member_user_id}}"><i class="bi bi-plus-lg"></i> Add Running</div>
                                                        </ng-container>

                                                        <div class="row">
                                                            <div *ngFor="let i_item of coach_running_list;let i = index"  class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box" (click)="goToRunningDetail(i_item)">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]=" i_item?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer" *ngIf="i_item?.running_type == '1'">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            {{i_item?.duration}} {{i_item?.duration_unit}}
                                                                        </div>
                                                                        <div class="quick-timer" *ngIf="i_item?.running_type == '3'">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            {{i_item?.time}} {{'hrs'}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">{{running_type[i_item?.running_type]}}</div>
                                                                    <div *ngIf="i_item?.running_type == 1" class="distance-title">Distance : <span>{{i_item?.distance}} {{i_item?.distance_unit}}</span></div>
                                                                    <div *ngIf="i_item?.running_type == 2" class="distance-title">Warmup Distance : <span>{{i_item?.warmup_distance}} {{i_item?.warmup_distance_unit}}</span></div>
                                                                    <div *ngIf="i_item?.running_type == 3" class="distance-title">Race Type : <span>{{i_item?.race_type | titlecase}}</span></div>
                                                                </mat-card>
                                                            </div>
                                                            <!-- <div class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            08:35 min.
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">Easy Run</div>
                                                                    <div class="distance-title">Distance : <span>5 Km</span></div>
                                                                </mat-card>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="quick">Quick Workouts to add for him</div>
                                                    <div *ngIf="admin_easy_running_list && admin_easy_running_list.length" class="quick-work workplan workplan-height">
                                                        <div class="quick-title">Easy Run</div>
                                                        <div class="row">
                                                            <div *ngFor="let item of admin_easy_running_list;let i = index" class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box" (click)="goTOAdminEditRunning(item,'1')" >
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            {{item?.duration}} {{item?.duration_unit}}.
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">{{item?.name}}</div>
                                                                    <div class="distance-title">Distance : <span>{{item?.distance}} {{item?.distance_unit}}</span></div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="admin_quality_running_list && admin_quality_running_list.length"  class="quick-work workplan workplan-height">
                                                        <div class="quick-title">Quality Session</div>
                                                        <div class="row">
                                                            <div *ngFor="let item of admin_quality_running_list;let i = index" class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box" (click)="goTOAdminEditRunning(item,'2')">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <!-- <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            08:35 min.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="quick-title-work">{{item?.name}}</div>
                                                                    <div class="distance-title">Warmup Distance : <span>{{item?.warmup_distance}} {{item?.warmup_distance_unit}}</span></div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="admin_race_running_list && admin_race_running_list.length"  class="quick-work workplan workplan-height">
                                                        <div class="quick-title">Race</div>
                                                        <div class="row">
                                                            <div *ngFor="let item of admin_race_running_list;let i = index" class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box" (click)="goTOAdminEditRunning(item,'3')">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <!-- <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            08:35 min.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="quick-title-work">{{item?.name}}</div>
                                                                    <div class="distance-title">Race Type : <span>{{item?.race_type | titlecase}}</span></div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab label="Nutrition"></mat-tab>

                                            <mat-tab label="Challenges">
                                               
                                                <div class="workplan">
                                                    <h4>Participated In</h4>
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6" *ngFor="let challenges of challengesListData">

                                                          <div class="card" *ngIf = challengesListData.length != 0>
                                                              <div class="position-relative">
                                                                  <figure class="join-banner">
                                                                      <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                                                  </figure>
                                                                  <div class="distance-offer">Steps Challenge</div>
                                                              </div>
                                                              <figcaption>
                                                                  <div class="ch-title">Challenge yourself with {{challenges?.ultimate_goal}} steps for {{challenges?.duration}} day</div>
                                                                  <div class="start-pnl">
                                                                      <div class="start-date">Start : <span>{{challenges?.start_date}}</span></div>
                                                                      <div class="start-date end-title">End :<span>{{challenges?.end_date}}</span></div>
                                                                  </div>
                                                                  <div class="cha-sub-img">
                                                                      <div class="sha-img">
                                                                          <img [src]="challenges?.participants[0] ? challenges?.participants[0].detail?.profile_image : 'assets/images/bestCoach/2.jpg'" class="img-cha">
                                                                          <!-- <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                                                          <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2"> -->
                                                                      </div>
                                                                      <div>{{challenges?.participants_count}} participants</div>
                                                                  </div>
                                                                  <button type="button" class="joint-btn w-100">Invite to Join</button>
                                                              </figcaption>
                                                          </div>
                                                          
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="workplan">
                                                    <h4> Invite to Participate </h4>
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6" *ngFor="let challenges of InviteToChallengesList">
                                                          <div class="card">
                                                              <div class="position-relative">
                                                                  <figure class="join-banner">
                                                                      <img src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                                                  </figure>
                                                                  <div class="distance-offer">Steps Challenge</div>
                                                              </div>
                                                              <figcaption>
                                                                  <div class="ch-title">Challenge yourself with {{challenges?.ultimate_goal}} steps for {{challenges?.duration}} day</div>
                                                                  <div class="start-pnl">
                                                                      <div class="start-date">Start : <span>{{challenges?.start_date}}</span></div>
                                                                      <div class="start-date end-title">End :<span>{{challenges?.end_date}}</span></div>
                                                                  </div>
                                                                  <div class="cha-sub-img">
                                                                      <div class="sha-img">
                                                                          <img [src]="challenges.participants[0] ? challenges?.participants[0].detail?.profile_image : 'assets/images/bestCoach/2.jpg'" class="img-cha">
                                                                          <!-- <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                                                          <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2"> -->
                                                                      </div>
                                                                      <div>{{challenges?.participants_count}} participants</div>
                                                                  </div>
                                                                  <button type="button" class="joint-btn w-100">Invite to Join</button>
                                                              </figcaption>
                                                          </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </mat-tab>

                                        </mat-tab-group>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="choose-date-active">
                                        <mat-card class="demo-inline-calendar-card">
                                            <mat-calendar></mat-calendar>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        <div class="activities-workout">
                            <button class="btn btn-circle"><span class="pluse-box"><i class="bi bi-plus"></i></span> Activities</button>
                        </div>

                        <div class="card-bg">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="submember">
                                        <mat-tab-group mat-stretch-tabs="false"  animationDuration="0ms">
                                            <mat-tab label="Account Details">
                                                <div class="workout-mb mt-3">
                                                    <div class="workplan">
                                                         <h4>General Information</h4>
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Full name :</td>
                                                                    <td>Rizwan Ahmad</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Type :</td>
                                                                    <td>Beginner</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of Birth :</td>
                                                                    <td>10 Oct, 1993</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Email Address :</td>
                                                                    <td>ahmed.mokhtar@gmail.com</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Phone No. :</td>
                                                                    <td>+996 0126636674</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Country :</td>
                                                                    <td>Kingdom of Saudi Arabia</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>City :</td>
                                                                    <td>Riyadh</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>District :</td>
                                                                    <td>Al Madinah</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Street :</td>
                                                                    <td>124/3 E nanidhand edfaye</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab label="Performance"></mat-tab>
                                            <mat-tab label="Notes"></mat-tab>
                                            <mat-tab label="Conditions"></mat-tab>
                                        </mat-tab-group>
                                    </div>

                                </div>
                                <div class="col-lg-5">
                                    <div class="choose-date-active">
                                        <mat-card class="demo-inline-calendar-card">
                                            <mat-calendar></mat-calendar>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
               
                </div>

            </div>
            

        </div>
       


    </div>

</section>

