.workplan {
    background: #fff;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #E06F0021;
}
.card-bg {
    background: #FCFCFC 0% 0% no-repeat;
    padding: 15px;
}
.workplan h4 {
    font-size: 17px;
}
.workplan h6 {
    font-size: 15px;
    color: #7c7c7cb5;
}
.w-mbtn {
    color: #E06F00;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}
.quick {
    background:#e6e6e67a ;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}
.activities-workout {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    position: absolute;
    right: 0px;
    top: -5px;
}
/* .workplan-height{
    height: 400px;
    overflow-Y: scroll;
} */
.matcard-box{
    cursor: pointer;
}
.distance-title {
    font-size: 13px;
    font-weight: 600;
    color: #7C7C7C;
}
.distance-title span {
    color: #111;
}

/* update */ 

.running-title{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0px;
}
figure.join-banner {
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 0px;
}
.card {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
}
figcaption {
    padding: 11px;
    background: #fff;
    border-radius: 10px;
    margin-top: 0px;
}
.ch-title {
    font-size: 14px;
    font-weight: 800;
}
.start-pnl {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 10px 0px;
}
.start-date {
    background: #61b92b29;
    padding: 5px;
    border-radius: 6px;
}
.end-title {
    background: #e16f001c !important;
}
.start-date span {
    color: #61B92B;
    font-weight: 500;
}
.start-date.end-title span {
    color: #E16F00;
    font-weight: 500;
}
.joint-btn {
    background: transparent linear-gradient(262deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 100px;
    color: #fff;
    border: none;
    padding: 3px 0px;
}
.distance-offer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #c24d0096 0% 0% no-repeat;
    border-radius: 4px;
    color: #fff;
    padding: 6px;
    font-size: 12px;
}
