.equipment-header {
    display: flex;
    justify-content: space-between;
}
.equipment-header h6 {
    font-size: 14px;
}
.workLists {
    font-size: 14px;
}
.group-img{
    display: flex;
    align-items: center;
}
.bannerUpload {
    height: 80px;
    width: 80px;
    background: transparent linear-gradient(132deg, #f5e3d5 0%, #f9eae2 100%) 0% 0% no-repeat;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.upload-title label {
    font-size: 17px;
    color: #E06F00;
    font-weight: 500;
    cursor: pointer;
    display: block;
    position: relative;
}
.upload-title input {
    position: absolute;
    left: 1px;
    opacity: 0;
    width: 120px;
    z-index: 1;
}
.bannerUpload img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
textarea.form-control {
    border-radius: 15px;
    font-size: 14px;
}

/**/
.work-details-pnl {
    font-size: 15px;
}
.work-card-img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    background: transparent linear-gradient(132deg, #d3752b40 0%, #b4552021 100%) 0% 0% no-repeat;
    border-radius: 6px;
    padding: 1px;
}
.work-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.work-card-body {
    display: flex;
}
.easy-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.easy-flex ul li {
    display: inline-flex;
}
.Dumbbell-icon li {
    float: left;
    margin: 0px 3px;
}
.quick-tainer {
    background: #E6E6E6 0% 0% no-repeat;
    text-align: center;
    padding: 4px;
    font-size: 15px;
    margin: 10px 0px;
}
.des-text{
    font-size: 15px;
}
.m-grid {
    height: 82px;
    width: fit-content;
    padding: 5px;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
}
.m-grid img{
    height: 50px;
    width: 50px;
}
.m-grid div {
    font-size: 14px;
}
.muscles-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.muscles-title {
    font-size: 15px;
    padding: 7px 0px;
    margin-bottom: 0px;
    color: #7C7C7C;
    font-weight: 500;
}
.workout-check ::ng-deep .mat-button-toggle-checked {
    background-color: #fff5ec;
    color: #000 !important;
}