<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Add Workout</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/member-details">Back</button>
        </div>
        <div class="card-bg p-4">
            <div class="row">
                <div class="col-lg-7">
                    <mat-card>
                        <form [formGroup]="workOutForm" (ngSubmit)="submit()">
                            <div class="member-card-add">

                                <div *ngIf="workOutDataForShow" class="exercise-pnl">
                                    <div class="work-details-pnl">
                                        <div class="work-date">
                                            <p><b>Weight loss exercise</b></p>
                                        </div>
                                        <div class="work-card-body">
                                            <div class="work-card-img">
                                                <img [src]="workOutDataForShow?.workout?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                            </div>
                                            <div class="work-card-content">
                                                <div class="quick-title-work">{{workOutDataForShow?.workout?.name}}</div>
                                                <div class="quick-timer">
                                                    <img src="assets/images/bestCoach/time_workout.png" alt="image">{{workOutDataForShow?.workout?.time_required | secondsToMinutes}} min.
                                                </div>
                                                <div class="easy-flex">
                                                    <ul class="list-inline mb-0">
                                                        <li class="Level-title" style="color: #B2B4B6;">Level : {{workOutDataForShow?.workout?.level?.name}}</li>
                                                        <li><div class="quick-span ms-2"><img src="assets/images/bestCoach/level_easy.png" alt="image"></div></li>
                                                        <li class="Level-title" style="color: #B2B4B6;">
                                                            Type : <span *ngFor="let type of workOutDataForShow?.workout?.types" class="text-black mx-1" >{{type?.types?.name}}</span>
                                                        </li>
                                                    </ul>
                                                    
                                                </div>
                                                <div class="bench-pnl" >
                                                    <div class="quick-bench me-2" *ngFor="let eq of workOutDataForShow?.workout?.equipments">
                                                        <img [src]="eq?.equipment?.image || 'assets/images/bestCoach/chair-ic.svg'" alt="image">
                                                        {{eq?.equipment?.name}}
                                                    </div> 
                                                    <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div>  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick-tainer">Description</div>
                                    <p class="des-text">{{workOutDataForShow?.workout?.description}}</p>
                                
                                    <h5 class="muscles-title">Anterior Muscles</h5>
                                    <div class="muscles-grid">
                                        <ng-container *ngFor="let am of workOutDataForShow?.workout?.muscles">
                                            <div *ngIf="am?.muscles?.type == 1" class="m-grid text-center">
                                                <img [src]="am?.muscles?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="images">
                                                <div>{{am?.muscles?.name}}</div>
                                            </div>
                                        </ng-container>
                                        <!-- <div class="m-grid text-center">
                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="images">
                                            <div>Chest</div>
                                        </div> -->
                                    </div>
                                    <h5 class="muscles-title">Posterior Muscles</h5>
                                    <div class="muscles-grid mb-3">
                                        <ng-container *ngFor="let am of workOutDataForShow?.workout?.muscles">
                                            <div *ngIf="am?.muscles?.type == 2" class="m-grid text-center">
                                                <img [src]="am?.muscles?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="images">
                                                <div>{{am?.muscles?.name}}</div>
                                            </div>
                                        </ng-container>
                                        <!-- <div class="m-grid text-center">
                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="images">
                                            <div>Back</div>
                                        </div> -->
                                    </div>
                                </div>

                                <p>Enter the details to create workout for your member</p>
                                <div class="row">
                                    <ng-container *ngIf="!workOutDataForShow">
                                        <div class="col-md-12 mt-2 mb-4">
                                            <div class="group-img">
                                                <div>
                                                    <div class="bannerUpload">
                                                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview">
                                                    </div>
                                                </div>
                                                <div class="upload-title">
                                                    <label  for="groupimg">Feature Image
                                                        <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field class="login-input" appearance="outline">
                                                <input matInput formControlName="name" placeholder="Enter Workout Name">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="login-input-area">
                                                <textarea rows="3" class="form-control" formControlName="description" placeholder="Write Description......">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <mat-select  placeholder="Select Level" formControlName="level_id">
                                                    <!-- <mat-option value="Running">Running</mat-option> -->
                                                    <mat-option *ngFor="let item of levels" [value]="item?.level_id">{{item?.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <mat-select multiple placeholder="Select Type" formControlName="types">
                                                    <!-- <mat-option value="Running">Running</mat-option> -->
                                                    <mat-option *ngFor="let item of types" [value]="item?.type_id">{{item?.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <mat-select multiple [(ngModel)]="front"  [ngModelOptions]="{standalone: true}"  placeholder="Select Anterior Muscles" >
                                                    <!-- <mat-option value="Running">Running</mat-option> -->
                                                    <mat-option *ngFor="let item of frontMuscles" [value]="item?.muscles_id">{{item?.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <mat-select multiple [(ngModel)]="back"  [ngModelOptions]="{standalone: true}"  placeholder="Select Posterior Muscles" >
                                                    <!-- <mat-option value="Running">Running</mat-option> -->
                                                    <mat-option *ngFor="let item of bankMuscles" [value]="item?.muscles_id">{{item?.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="equipment-header">
                                                <h6>Equipment Required</h6>
                                                <mat-slide-toggle (change)="EquipmentRequired($event)" [checked]="isEquipmentRequired"></mat-slide-toggle>
                                            </div>
                                            <div class="workout-check" *ngIf="isEquipmentRequired">
                                                <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
                                                    <mat-button-toggle *ngFor="let item of equipments" [value]="item?.equipment_id"  (change)="selectEquipment($event)" [checked]="checkEquipment(item?.equipment_id)">
                                                        <div class="workLists">
                                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">{{item?.name}}</div>
                                                        </div>
                                                    </mat-button-toggle>
                                                    <!-- <mat-button-toggle value="1">
                                                        <div class="workLists">
                                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image"> Pair of weights</div>
                                                        </div>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="1">
                                                        <div class="workLists">
                                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image"> Bench / Chair</div>
                                                        </div>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="1">
                                                        <div class="workLists">
                                                            <div class="workTitle"><img src="assets/images/bestCoach/chair-ic.svg" alt="image"> Pair of weights</div>
                                                        </div>
                                                    </mat-button-toggle> -->
                                                </mat-button-toggle-group>
                                            </div>
                                        </div>
                                    </ng-container>

                                    
                                    <div class="col-md-12 mt-3">
                                        <div class="equipment-header">
                                            <h6>For How Many Days & Week</h6>
                                        </div>
                                        <div class="week-days">
                                            <mat-checkbox value="Sun" (click)="selectDay($event)" [checked]="checkDay('Sun')" class="example-margin">Sun</mat-checkbox>
                                            <mat-checkbox value="Mon" (click)="selectDay($event)" [checked]="checkDay('Mon')" class="example-margin">Mon</mat-checkbox>
                                            <mat-checkbox value="Tue" (click)="selectDay($event)" [checked]="checkDay('Tue')" class="example-margin">Tue</mat-checkbox>
                                            <mat-checkbox value="Wed" (click)="selectDay($event)" [checked]="checkDay('Wed')" class="example-margin">Wed</mat-checkbox>
                                            <mat-checkbox value="Thu" (click)="selectDay($event)" [checked]="checkDay('Thu')" class="example-margin">Thu</mat-checkbox>
                                            <mat-checkbox value="Fri" (click)="selectDay($event)" [checked]="checkDay('Fri')" class="example-margin">Fri</mat-checkbox>
                                            <mat-checkbox value="Sat" (click)="selectDay($event)" [checked]="checkDay('Sat')" class="example-margin">Sat</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select formControlName="weeks" placeholder="Select Week">
                                                <mat-option value="1">1 Week</mat-option>
                                                <mat-option value="2">2 Week</mat-option>
                                                <mat-option value="3">3 Week</mat-option>
                                                <mat-option value="4">4 Week</mat-option>
                                                <mat-option value="5">5 Week</mat-option>
                                                <mat-option value="6">6 Week</mat-option>
                                                <mat-option value="7">7 Week</mat-option>
                                                <mat-option value="8">8 Week</mat-option>
                                                <mat-option value="9">9 Week</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="all-btn text-center">
                                            <button mat-flat-button color="primary"
                                                class="primary-btn-cancel primary-btn" (click)="goBack()">Cancel</button>
                                            <button mat-flat-button color="primary" class="primary-btn" type="submit" >Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>


        </div>


    </div>

</section>