<div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <!-- Form Binding -->
          <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
            <div class="from-group mb-4">
              <div class="upload-container">
                <!-- File Input -->
                <input
                  class="upload-input"
                  type="file"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                  [hidden]="imageUrl !== ''"
                />
  
                <!-- Upload Button -->
                <div *ngIf="!imageUrl" class="upload-btn">
                  <div class="d-flex justify-content-center mb-3">
                    <img src="assets/images/favicon.png" alt="Upload" />
                  </div>
                  <span>+ Attach a cover</span>
                </div>
  
                <!-- Remove Button -->
                <button *ngIf="imageUrl" class="del-btn" (click)="removeImage()">
                  <i class="bi bi-x-lg"></i>
                </button>
  
                <!-- Image Preview -->
                <div *ngIf="imageUrl" class="image-preview">
                  <img [src]="imageUrl" alt="Image Preview" class="image-preview-img" />
                </div>
              </div>
            </div>
  
            <!-- Group Name Input -->
            <div class="form-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Group name"
                formControlName="name"
              />
            </div>
  
            <!-- Group Description Input -->
            <div class="form-group">
              <textarea
                class="form-control mb-4"
                rows="5"
                placeholder="Write group description"
                formControlName="description"
              ></textarea>
            </div>
  
            <!-- Submit Button -->
            <button
              class="w-100"
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="groupForm.invalid"
            >
              Create Group
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  