.card{
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: none;
}



/* / image-upload.component.css / */
.upload-container {
    position: relative;
    display: inline-block;
    text-align: center;

    border-radius: 20px;
    opacity: 1;
    width: 100%;
    height: 200px;
    padding: 15px 20px;

    background: #F2F2F2 0% 0% no-repeat padding-box;

  }
  


  .image-preview{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
}
  
  .image-preview-img {
    width: 100%;
    height: 100%;
  }
  
  .del-btn {
    position: absolute;
    top: 9px;
    right: 9px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .del-btn .bi {
    font-size: 13px;
  }

  .bi-x-lg::before {
    font-weight: bold !important;
}

  .upload-input{
    width: 100%;
    height: 86px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;             
    cursor: pointer; 
  }
  
  .upload-btn{
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .upload-btn span{
    margin-top: 5px;
    margin-bottom: 0px;
    border: 1px solid #B1B1B1;
    border-radius: 23px;
    font-size:15px;
    font-weight: bold;
    color: #B1B1B1;
    padding: 6px 10px;

  }

  .upload-btn i{
    font-size: 40px;
     color: #E06F00;
     line-height: 0;
  }

  .upload-btn img{
    width: 40px;
    height: 43px;
  }

/* upload css end */

.form-group .form-control{
    border: 0.5px solid #949494;
    border-radius: 15px;
    background-color: transparent;
    padding: 12px;
    font-size:15px;
}

.form-control::placeholder{
    color: #949494;
}

.form-control:focus{
    box-shadow: none;
    border-color: #E06F00!important;
}