.common-sub-2 h5 {
    font-size: 16px;
    color: #F75959;
}
.pack-2 {
    background: transparent linear-gradient(255deg, #e06f0024 0%, #fbe3cb 100%) 0% 0% no-repeat;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 30px;
}
.upgrad-btn {
    border: 1px solid #E06F00;
    border-radius: 42px;
    color: #e06f00;
    width: 100%;
    padding: 9px;
}
.pack-2 p {
    font-size: 14px;
}
.matrenew {
    direction: rtl;
    display: flex;
    justify-content: end;
}
