<div class="container">
    <form [formGroup]="step_four_form" (ngSubmit)="submit()">
    <div class="row gx-0">
        <div class="col-md-12">
            <h5>More About You</h5>
            <p class="lng_right_sub_heading">Tell us more about yourself</p>
        </div>

        <div class="col-md-12 mb-5">
            <div class="mb-3">
                <div class="bannerUpload">
                    <label class="bannerHoverable " for="bannerUpload">
                        <img class="Banner" [src]="url1 ? url1 : 'assets/images/Coach/upload_coverpage.png'"
                            alt="profileImage">
                            <p class="coverImage commonCenter">Upload Cover Page</p>
                            <p class="fileName commonCenter">Supported file : jpeg, jpg, png -2MB</p>
                    </label>
                    <input id="bannerUpload" type='file' accept="image/*" (change)="onSelectBanner($event)">

                    <div class="profileImage d-flex gap-3 align-items-center">
                        <div class="profilesection">
                            <label class="profile-pic " for="profileUpload">
                                <img class="pic" [src]="profileUrl ? profileUrl : 'assets//images/Coach/upload_profile_pic.png'"
                                    alt="profileImage">
                                  
                            </label>
                            <input id="profileUpload" type='file' accept="image/*" (change)="onSelectProfile($event)">
                        </div>
                        <div class="profile-description">
                            <p class="coverImage">Upload Profile Picture</p>
                            <p class="fileName">Supported file : jpeg, jpg, png -2MB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 mb-3 mt-1">
            <mat-form-field class="matTextArea" appearance="outline">
                <textarea matInput placeholder="Write About Yourself" formControlName="about"></textarea>
              </mat-form-field>
              <mat-error *ngIf="getError('about')">
                About is Required.
            </mat-error>
        </div>
        


        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput  (keydown)="mobileNumberValidation($event)"  maxlength="3" placeholder="Years Of Experience" formControlName="experience">
                <span class="link" matTextSuffix>Yrs</span>
            </mat-form-field>
            <mat-error *ngIf="getError('experience')">
                Experience is Required.
            </mat-error>
        </div>

        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput placeholder="Your Certificate (Optional)">
            </mat-form-field>
        </div>


        <div class="col-md-12">
            <div class="mb-3">
                <button type="submit" class="w-100" mat-flat-button color="primary">Next</button>
            </div>
        </div>
    </div>
    </form>
</div>