ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="radio"][id^="cb"] {
  display: none;
}

label {
  /* border: 1px solid #ddd; */
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 50px;
  width: 100%;
  object-fit: contain;
}



:checked + label {
  border-color: var(--primary-color);
}

:checked + label:before {
  content: "â";
  background-color: var(--primary-color);
  transform: scale(1);
  font-size: 12px;
  font-weight: bold;
}

:checked + label img {
  z-index: -1;
}

.customCheckBox p {
  font-size: 11px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

/*--------------------- cover image upload  starts----------------------------*/

label img {
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
}
.bannerHoverable {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 157px;
  padding: 4px 0;
  align-items: center;
  flex-direction: column;
  /* width: 100px; */
  color: var(--primary-color);
}
.bannerHoverable .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.bannerHoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.bannerHoverable:hover .hover-text {
  display: block;
}
.bannerHoverable:hover .background {
  display: block;
}

#bannerUpload {
  display: none;
}

.bannerUpload {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 1px dashed #707070;
  border-radius: 8px;
  position: relative;
}

/* CSS ENDS */
.bannerHoverable img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .img {
width: 150px;
height: 100px;
border-radius: 0%;
} */

.upload_image {
  display: inline-block;
}

.coverImage {
  font: normal normal normal 14px/14px Almarai;
  letter-spacing: 0px;
  color: #e06f00;
  margin-bottom: 5px;
}
.fileName {
  font: normal normal normal 12px/14px Almarai;
  letter-spacing: 0px;
  color: #c3c3c3;
  margin-bottom: 0;
}

.commonCenter {
  position: absolute;
  bottom: 16px;
}
.fileName.commonCenter {
  bottom: 5px;
}
/*--------------------- cover image upload  starts----------------------------*/

/*--------------------- profile upload  starts----------------------------*/
.profileImage {
  position: absolute;
  bottom: -50px;
  left: 0;
  /* background-color: #707070; */
  height: 50px;
  width: 100%;
}

.profile-pic img {
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
}
.profile-pic {
  position: relative;
  cursor: pointer;
  height: 62px;
  width: 62px;
  padding: 4px 0;
  background: #7c7c7c 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 15px;
}
.profile-pic .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.profile-pic .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.profile-pic:hover .hover-text {
  display: block;
}
.profile-pic:hover .background {
  display: block;
}

#profileUpload {
  display: none;
}

/* CSS ENDS */
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .img {
width: 150px;
height: 100px;
border-radius: 0%;
} */

.upload_image {
  display: inline-block;
}

.coverImage {
  font: normal normal normal 14px/14px Almarai;
  letter-spacing: 0px;
  color: #e06f00;
  margin-bottom: 5px;
}
.fileName {
  font: normal normal normal 12px/14px Almarai;
  letter-spacing: 0px;
  color: #c3c3c3;
  margin-bottom: 0;
}

/*--------------------- profile upload  ends----------------------------*/

/* profile upload end  */
