<mat-dialog-content class="mat-typography">
    <div class="card-body">
    <div class="card-header-pnl text-center py-4">
        <h4>You are rejected</h4>
    </div>
    <div class="all-btn text-center mt-4">
        <button mat-flat-button color="primary" class="primary-btn">OK</button>
        <button mat-flat-button mat-dialog-close color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
    </div>
    </div>
</mat-dialog-content>