<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Calendar</h3>
        </div>
        <div class="card-bg">
          
            <div class="workouts-wapper">
               <div class="p-3">
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="card border-0">
                            <div class="card-body ">
                                
                            <div class="custom-calender">
                                <full-calendar [options]="calendarOptions"></full-calendar>
                            </div>

                            </div>
                        </div>
                        
                    </div>


                    <div class="col-lg-6">
                        <div class="main-card">
                            <div class="card participants-list mb-2">
                                <div class="card-body">
                                    <div class="card-lists d-flex gap-3">
                                        <div>
                                            <div class="card-thumb">
                                                <img src="assets/images/Coach/tutorial_graphic_b.png" alt="image"
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="card-content w-100">
                                                <div class="u-title">7-minute exercises</div>
                                                <div class="step-count">
                                                    <div class="nostep my-2"> <img src="assets/images/bestCoach/time_workout.png"
                                                            alt="image"> 08:35</div>
                                                </div>
        
        
        
                                                <div class="d-flex justify-content-between mb-2">
        
                                                    <div class="quick-span">
                                                        <label class="lightgray me-1">Level :</label>
                                                        Easy 
                                                        <img src="assets/images/bestCoach/level_easy.png" alt="image">
                                                    </div>
                
                                                    <div class="pat-title">
                                                        <label class="lightgray me-1">Type :</label>
                                                        Resistance
                                                    </div>
                                                </div>
        
                                            <div class="dumbell-icon d-flex gap-3">
                                                <div> <img src="assets/images/bestCoach/dumble-ic.svg" alt="image">
                                                   <span class="text-org">Dumbbell</span> </div>
                                                <div><img src="assets/images/bestCoach/chair-ic.svg" alt="image">
                                                  <span class="text-org">Bench/Chair</span>  </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
    
                            </div>
    
    
                            <div class="card">
                                <div class="card-body">
                                    <div class="title-head">
                                        <h4>Description</h4>
                                    </div>
    
                                    <div class="content-txt">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
                                    </div>
    
                                </div>
                            </div>
    
    
                            <div class="card">
                                <div class="card-body">
                                    <div class="title-head">
                                        <h4>Background Music</h4>
                                    </div>
    
                                    <div class="meal-box">
                                        <div class="d-flex gap-3 align-items-center">
                                            <figure>
                                                <img src="assets/images/video_PosterImage.png" alt="img">
                                            </figure>
                                            <div class="meal-title">Cardio exercise using dumbbells</div>
                                        </div>
                                        <div class="bin-icon">
                                            <span>Change</span>
                                        </div>
                                    </div>
    
                                  
    
                                </div>
                            </div>
    
                            <div class="card">
                                <div class="card-body">
                                    <div class="title-head">
                                        <h4>Workouts</h4>
                                    </div>
    
                                    <div class="meal-box mb-3" *ngFor="let meal of [1,2,3]">
                                        <div class="d-flex gap-3 align-items-center">
                                            <figure>
                                                <img src="assets/images/video_PosterImage.png" alt="img">
                                            </figure>
                                            <div class="meal-title">Cardio exercise using dumbbells</div>
                                        </div>
                                        <div class="bin-icon">
                                            <span>00:45</span>
                                        </div>
                                    </div>
    
                                  
    
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-body">
                                <button class="w-100" mat-flat-button color="primary">Start Workout</button>
                            </div>
                        </div>

                    </div>

                </div>
               </div>
            </div>

        </div>


    </div>

</section>
