.card {
    border-radius: 10px;
    border: none;
    /* padding: 1px; */
    background-color: transparent;
}

.card-thumb {
    height: 130px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.card-thumb img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.card-content p {
    color: #7C7C7C;
    font-size: 15px;
}
.card-content {
    font-size: 14px;
}
.u-title {
    font-size: 16px;
    font-weight: 600;
}

.text-org{
    color: #e06f00;

}

.nostep {
    color: #e06f00;
    font-size: 16px;
}
.nostep img{
    height: 20px;
}

.lightgray{
    font-weight: 500;
    color: #B2B4B6;
}

.title-head{
    background-color: #E6E6E6;
    padding: 2px;
    margin-bottom: 15px;
}

.title-head h4{
    text-align: center;
    font-size: 12px;
    color: #7C7C7C;
    margin-bottom: 0;
    font-weight: 500;
}


.content-txt{
    max-height: 250px;
    overflow-y: auto;
}

.content-txt p{
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.28px;
    color: #383838;
    margin-bottom: 0px;
}


.meal-box {
    box-shadow: 0px 3px 6px #DBDBDB29;
    border-radius: 7px;
    background: #fff;
    padding: 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}
.meal-box figure {
    width: 42px;
    overflow: hidden;
    height: 42px;
    border-radius: 9px;
    margin-bottom: 0px;
}
.meal-box figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bin-icon span{
    cursor: pointer;
    text-decoration: underline!important;
    font-size: 14px;
    font-weight: bold!important;
    color: #E16F00;
}

.main-card{
    height: 70vh;
    overflow-y: auto;
}