<div class="container">
    <div class="row gx-0">
        <div class="col-md-12">
            <h5>Service description</h5>
            <p class="lng_right_sub_heading">Detailed description of the service provided</p>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <textarea class="form-control" [(ngModel)]="service_description" placeholder="Write Description" rows="4"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <button class="w-100"  type="submit" (click)="submit()" mat-flat-button color="primary" >Next</button>
            </div>
        </div>
    </div>
</div>