.reason-pnl {
    box-shadow: 0px 4px 19px #BEBEBE29;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    padding: 11px;
}
.reason-pnl h5 {
    font-size: 15px;
    margin-bottom: 0px;
}
.reason-img img {
    width: 40px;
}
.basic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-btn {
    height: 23px;
    cursor: pointer;
}
.basic-pnl ul li {
    line-height: 2;
    font-size: 15px;
    color: #7C7C7C;
}
.basic-pnl ul li span {
    color: #000;
    margin-left: 5px;
}
.userphoto input {
    opacity: 0;
    position: absolute;
    left: 25px;
    width: 130px;
}

.userphoto label {
    border: 1px solid #df6e00;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: #e06f00;
    margin: auto;
}
.userPic{
    height: 90px;
    width: 90px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.basic-header h6 {
    font-size: 14px;
}
.health-wapper p{
    font-size: 14px;
}
.health-wapper {
    h5{
        font-size: 14px !important;
    }
   
}
.intake-pnl {
    display: flex;
    justify-content: space-between;
}