<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">My Account</h3>
        </div>
        <div class="card-bg">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
                <mat-tab label="Personal Info">
                    <div class="workout-section mt-4 p-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="userphoto text-center">
                                    <div *ngIf="imagePreview" class="userPic">
                                        <img [src]="imagePreview" alt="Image Preview" />
                                    </div>
                                    <!-- <label>
                                        Upload Image
                                        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                                    </label> -->
                                </div>

                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Basic information</h6>
                                        <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"
                                            (click)="updateprofile()"> -->
                                    </div>
                                    <ul class="list-inline">
                                        <li>First Name:<span>{{localStorageData?.first_name}}  </span></li>
                                        <li>Last Name:<span>{{localStorageData?.last_name}}</span></li>
                                        <li>Email:<span>{{localStorageData?.email}}</span></li>
                                        <li>Mobile Number:<span>{{localStorageData?.mobile}}</span></li>
                                        <li>Country:<span>{{localStorageData?.country?.name}}</span></li>
                                    </ul>
                                </div>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Date Of birth</h6>
                                        <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"> -->
                                    </div>
                                    <p>{{localStorageData?.dob}}</p>
                                </div>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Gender</h6>
                                        <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"> -->
                                    </div>
                                    <p>{{(localStorageData?.gender) ? localStorageData?.gender : "Male" }}</p>
                                </div>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Reason to Use App</h6>
                                        <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"> -->
                                    </div>
                                    <div class="reason-pnl" >
                                        <div class="reason-img">
                                            <!-- <img src="assets/images/goal_body_shape/goal_body_shape.png" alt="img"> -->
                                        </div>
                                        <h5 *ngFor = "let i of localStorageData?.reasons">{{i?.title}}</h5>
                                    </div>
                                    <!-- <div class="reason-pnl">
                                        <div class="reason-img">
                                            <img src="assets/images/goal_body_shape/goal_body_shape.png" alt="img">
                                        </div>
                                        <h5>Dietary systems & recipes</h5>
                                    </div> -->
                                </div>

                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Fitness Goal</h6>
                                        <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"> -->
                                    </div>
                                    <div class="reason-pnl">
                                        <div class="reason-img">
                                            <!-- <img src="assets/images/weight_kg/weight_kg.png" alt="img"> -->
                                        </div>
                                        <h5 *ngFor = "let i of localStorageData?.goals">{{i?.title}}</h5>
                                    </div>
                                    <div class="reason-pnl">
                                        <div class="reason-img">
                                            <!-- <img src="assets/images/goal_body_shape/goal_body_shape.png" alt="img"> -->
                                        </div>
                                        <h5>Muscle Building</h5>
                                    </div>
                                </div>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Fitness Level</h6>
                                        <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"> -->
                                    </div>
                                    <p><span></span>{{localStorageData?.fitness_level | uppercase}}</p>
                                </div>



                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Health Status">
                    <div class="workout-section mt-4 p-3">
                        <div class="row">
                            <div class="col-lg-8 health-wapper">
                                <div class="health-pnl">
                                    <div class="basic-pnl">
                                        <div class="basic-header">
                                            <h6>Health Status : </h6>
                                            <!-- <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn"
                                                (click)="healthdialog()"> -->
                                        </div>
                                    </div>
                                    <div class="basic-pnl">
                                        <h6>Injuries</h6>
                                        <p> {{localStorageData?.allergens ? localStorageData?.allergens : 'NA'}}</p>
                                    </div>
                                    <div class="basic-pnl">
                                        <h6>Chronic Diseases</h6>
                                        <p>{{localStorageData?.diseases ? localStorageData?.diseases : 'NA'}}</p>
                                    </div>
                                    <div class="basic-pnl">
                                        <h6>Emergency Communication</h6>
                                        <p>{{(localStorageData?.emergency_comm_name) ? localStorageData?.emergency_comm_name : 'NA'}}, {{(localStorageData?.emergency_comm_name) ? localStorageData?.emergency_comm_name : 'NA'}}</p>
                                    </div>
                                </div>

                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Calculated calories</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="reason-pnl d-block text-center">
                                                <div class="reason-img">
                                                    <img src="assets/images/M2_Trainee_Assets/calories.png" alt="img">
                                                </div>
                                                <small>2559</small>
                                                <h5>Current Calories</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="reason-pnl d-block text-center">
                                                <div class="reason-img">
                                                    <img src="assets/images/weight_kg/weight_kg.png" alt="img">
                                                </div>
                                                <small>2559</small>
                                                <h5>Body Mass</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="reason-pnl d-block text-center">
                                                <div class="reason-img">
                                                    <img src="assets/images/weight_kg/weight_kg.png" alt="img">
                                                </div>
                                                <small>2559</small>
                                                <h5>Ideal weight kg</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="reason-pnl d-block text-center">
                                                <div class="reason-img">
                                                    <img src="assets/images/M2_Trainee_Assets/calories.png" alt="img">

                                                </div>
                                                <small>2559</small>
                                                <h5>Suggested Calories</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Calculating body fat percentage</h6>
                                    </div>
                                    <p>The body fat percentage calculator is of great importance in assessing the health level and level of physical fitness of a person, as it has been proven that having a body fat mass above the normal level is associated with many health risks and diseases. But on the other hand, our body needs fats and they are very important to it, so we have provided you with a fat calculator with a table to know the natural percentage of fats in your body. To maintain an excellent level of health, and keep the fat percentage within the normal range, browse the list of exercises on the jogging platform to control the fat percentage and maintain an ideal body.</p>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Category</td>
                                            <td>Men</td>
                                            <td>Woman</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Essential Fats</td>
                                            <td>2 – 4%</td>
                                            <td>10 – 12%</td>
                                        </tr>
                                        <tr>
                                            <td>Essential Fats</td>
                                            <td>2 – 4%</td>
                                            <td>10 – 12%</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="basic-pnl">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia inventore facilis quaerat quo impedit sunt recusandae assumenda sapiente, ipsa molestias esse corrupti architecto quis labore accusamus nemo aperiam doloremque!</p>
                                </div>

                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Body fat percentage</h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Body Status</h6>
                                        <img src="assets/images/weight_kg/edit-icon.svg" alt="img" class="edit-btn">
                                    </div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Weight</td>
                                                <td>{{localStorageData?.weight}} kg</td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td>{{localStorageData?.height}} cm</td>
                                            </tr>
                                            <tr>
                                                <td>Sporting activity</td>
                                                <td>{{(localStorageData?.sporting_activity) ? localStorageData?.sporting_activity : "NA"}}</td>
                                            </tr>
                                            <tr>
                                                <td>Neck width</td>
                                                <td>{{(localStorageData?.neck_width) ? localStorageData?.neck_width : 'NA'}} cm</td>
                                            </tr>
                                            <tr>
                                                <td>Waist width</td>
                                                <td>{{(localStorageData?.waist_width) ? localStorageData?.waist_width : "NA"}} cm</td>
                                            </tr>
                                            <tr>
                                                <td>Hip width</td>
                                                <td>{{(localStorageData?.hip_width) ? localStorageData?.hip_width : 'NA'}} cm</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Intake</h6>
                                    </div>
                                    <div class="intake-pnl">
                                        <div class="intake-title">
                                            <div class="intake-text">The type of diet I prefer</div>
                                            <p>Balanced Diet</p>
                                        </div>
                                        <div class="intake-btn">
                                            <img src="assets/images/M2_Trainee_Assets/checked_tick.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="intake-pnl">
                                        <div class="intake-title">
                                            <div class="intake-text">Allergens</div>
                                            <p>{{localStorageData?.allergens ? localStorageData?.allergens : 'NA'}}</p>
                                        </div>
                                        <div class="intake-btn">
                                            <img src="assets/images/M2_Trainee_Assets/checked_tick.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-pnl">
                                    <div class="basic-header">
                                        <h6>Goal</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="reason-pnl d-block text-center">
                                                <div class="reason-img">
                                                    <img src="assets/images/weight_kg/weight_kg.png" alt="img">
                                                </div>
                                                <h5>Weight loss</h5>
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-3">
                                            <div class="reason-pnl d-block text-center">
                                                <div class="reason-img">
                                                    <img src="assets/images/goal_body_shape/goal_body_shape.png" alt="img">

                                                </div>
                                                <h5>Muscle Building</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>


    </div>

</section>