.quick-tainer {
    background: #E6E6E6 0% 0% no-repeat;
    text-align: center;
    padding: 4px;
    font-size: 15px;
    margin: 10px 0px;
}
.des-text{
    font-size: 15px;
}
.workplan h4 {
    font-size: 15px;
}
.workplan {
    padding: 15px;
}
.card-bg p {
    font-size: 14px;
}
.running-box {
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #E4F0F9 0% 0% no-repeat;
}
.running-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bannerUpload {
    height: 80px;
    width: 80px;
    background: transparent linear-gradient(132deg, #f5e3d5 0%, #f9eae2 100%) 0% 0% no-repeat;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.upload-title label {
    font-size: 17px;
    color: #E06F00;
    font-weight: 500;
    cursor: pointer;
    display: block;
    position: relative;
}
.upload-title input {
    position: absolute;
    left: 1px;
    opacity: 0;
    width: 120px;
    z-index: 1;
}
.bannerUpload img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.group-img{
    display: flex;
    align-items: center;
}
.planned{
    color: #B1B1B1;
}
.quality-panel {
    background: #F4F4F4;
    padding: 10px;
}
.quality-panel .col {
    width: 25%;
}
.quality-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}
.quality-link {
    color: #E16F00;
    cursor: pointer;
    font-weight: 500;
}
.quality-panel .login-input {
    background: #fff;
}
.quality-panel .login-select {
    background: #fff;
}
.quality-panel mat-label {
    font-size: 14px;
}
.table>:not(caption)>*>*{
    background-color: #f4f4f4;
}
.reps-table .form-control {
    border-radius: 31px;
}
.input-group-text{
    border-radius: 31px;
}
.reps-table {
    width: 50%;
    margin-top: 15px;
}


/* //  addedd by me  */
.quality-pnl{
    border: 1px solid hsla(0, 0%, 96%, 0.4);
    border-radius: 10px;
}

.resps-pnl p {
    margin-bottom: 0px;
}

.resps-pnl{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.easy-list{
    color: #000;
    font-size: 16px;
}
.easy-list span{
    color: #B2B4B6;
}
.text-easy{
    color: #61B92B;
}

.resps-list {
    color: #B2B4B6;
    background-color: #E6E6E6;
    margin: 0px 10px;
}
.resps-list span{
    color: #333;
    margin: 0px 10px;

}