<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Add Running</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/member-details">Back</button>
        </div>
        <div class="card-bg p-2">
            <div class="row">
                <!-- Here Display none currently because this is admin running. ## Start  ### -->
                <div *ngIf="runningDataForShow" class="col-lg-5 ">
                    <div class="running-box">
                        <img [src]="runningDataForShow?.image || 'assets/images/bestCoach/2.jpg'" alt="running" class="img-fluid">
                    </div>
                    <mat-card>
                        <div class="workplan">
                            <h4>{{runningDataForShow?.name}}</h4>
                           <table class="table">
                               <tbody>
                                   <tr>
                                       <td>Running Type :</td>
                                       <td>{{running_type[runningDataForShow?.running_type]}}</td>
                                   </tr>
                                   <tr *ngIf="runningDataForShow?.running_type == '1'" >
                                       <td>Distance :</td>
                                       <td>{{runningDataForShow?.distance}} {{runningDataForShow?.distance_unit}}</td>
                                   </tr>
                                   <tr *ngIf="runningDataForShow?.running_type == '1'">
                                       <td>Duration :</td>
                                       <td>{{runningDataForShow?.duration}} {{runningDataForShow?.duration_unit}}</td>
                                   </tr>
                                   <tr *ngIf="runningDataForShow?.running_type == '1'">
                                       <td>Actual Pace :</td>
                                       <td>{{runningDataForShow?.actual_pace}} /{{runningDataForShow?.actual_pace_unit}}</td>
                                   </tr>
                                   <tr *ngIf="runningDataForShow?.running_type == '1'">
                                       <td>Planned :</td>
                                       <td>{{runningDataForShow?.planned_pace || '4.06 ~ 4.31/km'}}</td>
                                   </tr>
                                   <ng-container *ngIf="runningDataForShow?.running_type == '3'">
                                    <tr>
                                        <td>Warmup Distance :</td>
                                        <td>{{runningDataForShow?.warmup_distance}} {{runningDataForShow?.warmup_distance_unit}}</td>
                                    </tr>
                                    <tr>
                                        <td>Race Type :</td>
                                        <td>{{runningDataForShow?.race_type | titlecase }} </td>
                                    </tr>
                                    <tr>
                                        <td>Cooldown Distance :</td>
                                        <td>{{runningDataForShow?.cooldown_distance}} {{runningDataForShow?.cooldown_distance_unit}} </td>
                                    </tr>
                                    <tr>
                                        <td>Time :</td>
                                        <td>{{runningDataForShow?.time}} Hrs </td>
                                    </tr>
                                    <tr>
                                        <td>VO2 Max :</td>
                                        <td>{{runningDataForShow?.vo2}} </td>
                                    </tr>
                                   </ng-container>
                                   <ng-container *ngIf="runningDataForShow?.running_type == '2'">
                                    <tr>
                                        <td>Warmup Distance :</td>
                                        <td>{{runningDataForShow?.warmup_distance}} {{runningDataForShow?.warmup_distance_unit}} </td>
                                    </tr>
                                    <tr>
                                        <td>Cooldown Distance :</td>
                                        <td>{{runningDataForShow?.cooldown_distance}} {{runningDataForShow?.cooldown_distance_unit}}</td>
                                    </tr>
                                   </ng-container>

                                   <!-- <tr>
                                       <td>Est. Distance :</td>
                                       <td>0.80 KM</td>
                                   </tr>
                                   <tr>
                                       <td>Est. Time :</td>
                                       <td>1 hr : 20 Min</td>
                                   </tr> -->
                               </tbody>
                           </table>
                       </div>
                    </mat-card>
                    <ng-container *ngIf="runningDataForShow?.running_type == 2">
                        <div *ngFor="let item of runningDataForShow?.sets" class="quality-pnl mt-3">
                            <div class="resps-pnl">
                                <div class="easy-list"><span>Reps x Distance </span>
                                <p class="quick-timer"> {{item?.reps}} X {{item?.distance}} {{item?.distence_unit}}</p>
                                </div>
                                <div class="easy-list"><span>Avg. Pace  </span>
                                    <p>{{item?.avg_pace}}</p>
                                </div>
                                <div class="easy-list"><span>Effort</span>
                                <p class="text-easy"> {{item?.effort | titlecase }}</p>
                                </div>
                                <div class="easy-list"><span>Recovery Between Reps</span>
                                    <p>{{item?.recovery_between_reps}} {{item?.recovery_between_reps_unit}}</p>
                                </div>
                            </div>
                            <div *ngFor="let i_item of item?.pace;let i = index" class="resps-card">
                                <div class="resps-list">Rep :<span>{{i+1}}</span> Pace <span>{{i_item?.pace}} {{i_item?.pace_unit}}</span>{{ i_item?.pace | diffBetMin : item?.avg_pace }}</div>
                                <!-- <div class="resps-list">Rep :<span>2</span> Pace <span>3 km</span>- 3.03</div> -->
                            </div>
                        </div>
                    </ng-container>
                    <div class="quick-tainer">Description</div>
                    <p>
                        {{runningDataForShow?.description}}
                    </p>
                    <div class="all-btn text-center">
                        <button mat-flat-button color="primary"
                            class="primary-btn-cancel primary-btn">Cancel</button>
                        <button mat-flat-button color="primary" (click)="submit()" class="primary-btn">Save</button>
                    </div>
                
                </div>

                <!-- ###  End  ### -->

                <div *ngIf="!runningDataForShow" class="col-lg-5">
                    <form [formGroup]="runningForm">
                        <mat-card>
                            <div class="card-body p-3">
                                <h6>Enter the details to create running for your member</h6>
                                <div class="row">
                                    <div class="col-md-12 mt-2 mb-4">
                                        <div class="group-img">
                                            <div>
                                                <div class="bannerUpload">
                                                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview">
                                                </div>
                                            </div>
                                            <div class="upload-title">
                                                <label  for="groupimg">Upload Images
                                                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  placeholder="Running" (selectionChange)="selectionChange($event)" formControlName="running_type"  >
                                                <mat-option value="1">Easy Running</mat-option>
                                                <mat-option value="2">Quality Session</mat-option>
                                                <mat-option value="3">Race</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput formControlName="name" placeholder="Enter Running Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="login-input-area">
                                            <textarea rows="3" formControlName="description" class="form-control" placeholder="Write Description......">
                                            </textarea>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="_running_type_ == 1">
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <!-- <mat-select  placeholder="Distance">
                                                    <mat-option value="Running">Running</mat-option>
                                                </mat-select> -->
                                                <input matInput (keydown)="mobileNumberValidation($event)"  formControlName="distance" maxlength="3" placeholder="Distance (Km)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <!-- <mat-select  placeholder="Duration">
                                                    <mat-option value="Running">Duration</mat-option>
                                                </mat-select> -->
                                                <input matInput (keydown)="mobileNumberValidation($event)"  maxlength="5"  formControlName="duration" placeholder="Duration (Min)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field class="login-input" appearance="outline">
                                                <input matInput formControlName="actual_pace" (keydown)="selectActualPaceForHourAndMin($event,'actual_pace')"  placeholder="Actual Pace KM">
                                            </mat-form-field>
                                        </div>
                                        <div class="text-center mt-3">
                                            <div class="planned">Planned - 4:06 ~ 4:31 / km</div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="_running_type_ == 2">
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <!-- <mat-select  placeholder="Warmup Distance">
                                                    <mat-option value="Running">Running</mat-option>
                                                </mat-select> -->
                                                <input matInput (keydown)="mobileNumberValidation($event)"  formControlName="warmup_distance" maxlength="3"  placeholder="Warmup Distance (Km)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <!-- <mat-select  placeholder="Cooldown Distance">
                                                    <mat-option value="Running">Duration</mat-option>
                                                </mat-select> -->
                                                <input matInput (keydown)="mobileNumberValidation($event)" maxlength="3"  formControlName="cooldown_distance" placeholder="Cooldown Distance (Km)">
                                            </mat-form-field>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="_running_type_ == 3">
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <!-- <mat-select  placeholder="Warmup Distance">
                                                    <mat-option value="Running">Running</mat-option>
                                                </mat-select> -->
                                                <input matInput (keydown)="mobileNumberValidation($event)" maxlength="3" formControlName="warmup_distance" placeholder="Warmup Distance (Km)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <mat-select  placeholder="Race Type" formControlName="race_type" (selectionChange)="selectionRaceType($event)">
                                                    <mat-option *ngFor="let item of running_vo2_max" [value]="item?.show_value_for_race_type">{{item?.show_value}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field class="login-input" appearance="outline">
                                                <input matInput formControlName="time" (keydown)="selectActualPaceForHourAndMin($event,'time')" placeholder="Time">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-form-field appearance="outline" class="login-select">
                                                <!-- <mat-select  placeholder="Cooldown Distance">
                                                    <mat-option value="Running">Duration</mat-option>
                                                </mat-select> -->
                                                <input matInput (keydown)="mobileNumberValidation($event)" maxlength="3" formControlName="cooldown_distance" placeholder="Cooldown Distance (Km)">
                                            </mat-form-field>
                                        </div>

                                        <div class="text-center mt-3" *ngIf="runningForm.value.vo2">
                                            <div class="planned">VO2 Max Equivalent - {{runningForm.value.vo2}}</div>
                                        </div>
                                    </ng-container>

                                    <div class="col-md-12 mt-3">
                                        <div class="all-btn text-center">
                                            <button mat-flat-button color="primary"
                                                class="primary-btn-cancel primary-btn">Cancel</button>
                                            <button mat-flat-button color="primary" class="primary-btn" type="submit" (click)="submit()">Save</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </mat-card>
                    </form>
                    
                </div>

                <div *ngIf="_running_type_ == 2 && !runningDataForShow" class="col-lg-7">
                    <div class="quality-panel">
                        <div class="quality-title">
                            <h6>Quality Session</h6>
                            <!-- <div class="quality-link"><i class="bi bi-plus"></i> Add More Set</div> -->
                        </div>
                        <ng-container *ngFor="let item of sets;let i = index">
                            <div class="row g-2">
                                <div class="col">
                                    <mat-label>Reps Set</mat-label>
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput (keydown)="addRepsData($event,i)" [(ngModel)]="item.reps">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-label>Distance (Km)</mat-label>
                                    <mat-form-field appearance="outline"  class="login-select">
                                        <!-- <mat-select  placeholder="Distance" [(ngModel)]="item.reps">
                                            <mat-option value="Running">Distance</mat-option>
                                        </mat-select> -->
                                        <input matInput (keydown)="mobileNumberValidation($event)" maxlength="3" [(ngModel)]="item.distance">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-label>Effort</mat-label>
                                    <mat-form-field appearance="outline" class="login-select">
                                        <mat-select  placeholder="Effort" [(ngModel)]="item.effort"  (selectionChange)="selectionChangeOfEffort($event,i)">
                                            <mat-option *ngFor="let rqsv of RunningQualitySectionValues" [value]="rqsv.value">
                                                {{rqsv?.showValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-label>Avg. Pace</mat-label>
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput readonly [(ngModel)]="item.avg_pace">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-label>Recovery Between Reps</mat-label>
                                    <mat-form-field appearance="outline" class="login-select">
                                        <input matInput (keydown)="mobileNumberValidation($event)" maxlength="2" [(ngModel)]="item.recovery_between_reps">
                                        <!-- <mat-select  placeholder="Effort">
                                            <mat-option value="Running">Effort</mat-option>
                                        </mat-select> -->
                                    </mat-form-field>
                                </div>
        
                                </div>
                                <div *ngIf="item?.reps_data && item?.reps_data.length" class="reps-table">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <td>Reps</td>
                                                <td>Pace</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let repData of item?.reps_data;let j = index">
                                                <td width="60px">{{repData?.rep}}</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" (keydown)="selectPaceForRepsSetForHourAndMin($event,i,j)" 
                                                            (keyup)="selectPaceForRepsKeyUp($event,i,j)" [(ngModel)]="repData.pace" 
                                                            class="form-control"
                                                        >
                                                        <!-- <span class="input-group-text">/km &nbsp;{{repData?.differenceReps | secondsToMinutes}}</span> -->
                                                        <span class="input-group-text">/km &nbsp;{{repData.pace | diffBetMin : item?.avg_pace}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Rep 1</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control">
                                                        <span class="input-group-text">/km</span>
                                                    </div>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                    <!-- <div class="quality-link"><i class="bi bi-plus"></i> Add Rest Set</div> -->
                                </div>
                            <!-- <div *ngIf="!item?.isSet;else resetSetElse" class="row">
                                <div class="col-lg-6">
                                    <mat-label>Rest Set Duration</mat-label>
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput [(ngModel)]="item.distance" class="form-control">
                                    </mat-form-field>
                                </div>
                            </div> -->

                            <div class="quality-title py-3">
                                <!-- <div class="quality-link"><i class="bi bi-plus"></i>Add Rest Set</div> -->
                                <div class="quality-link text-red" (click)="removeSet(i)"><i class="bi bi-x-lg"></i> Remove</div>
                            </div>
                        </ng-container>

                       

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="quality-link" (click)="addSet()"><i class="bi bi-plus"></i> Add Set</div>
                            </div>
                            <div class="col-sm-3">
                                <!-- <div class="quality-link" (click)="addResetSet()"><i class="bi bi-plus"></i> Add Rest Set</div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>

</section>