.blog-detail {
  .detail-image {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ensure the image fills the container without distortion */
    border-radius: 10px; /* Add rounded corners */
    margin-right: 10px;
  }

  .title-date-wrapper {
    display: flex;
    justify-content: space-between; /* Align title and date on opposite sides */
    align-items: center;
    margin: 20px 0;

    .blog-title {
      margin: 0;
      font-size: 24px;
    }

    .blog-date {
      display: flex;
      align-items: center;
      color: green; /* Set the date color to green */
      font-weight: bold;
      
      i {
        margin-right: 5px; /* Add spacing between the icon and the text */
      }
    }
  }

  p {
    font-size: 16px;
  }
}
