<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
      <div class="blog-detail">
        <img [src]="blogData?.image" alt="Blog image" class="detail-image" />
        <div class="title-date-wrapper">
          <h1 class="blog-title">{{ blogData?.title }}</h1>
          <div class="blog-date">
            <i class="fa fa-calendar"></i>
            <span>{{ blogData?.created_at }}</span>
          </div>
        </div>
        <p>{{ blogData?.content }}</p>
      </div>
    </div>
  </div>
  