<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Runnings</h3>
        </div>
        <div class="card-bg">
            <div class="search-panel p-3 mb-2">
                <div class="search-field">
                    <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                        <span matPrefix class="me-33"><mat-icon matSuffix> search</mat-icon></span>
                        <input type="text" matInput placeholder="Search running by name"  (keyup) = "onSearch($event)"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="workouts-wapper">
               <div class="p-3">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6" *ngFor="let workouts of runningDataSave">
                                <div class="work-card-body" (click)="goToRunningDetail(workouts)">
                                    <div class="mini-workout">
                                        <div class="work-card-img">
                                            <img [src]="workouts?.image ?  workouts?.image  : 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                        </div>
                                        <div class="quick-timer">
                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">{{workouts?.workout?.time_required | secondsToMinutes}} min.
                                        </div>
                                    </div>

                                    <div class="work-card-content mt-2">
                                        <div class="quick-title-work">{{workouts?.name}}</div>
                                        <p class="mb-0">Distance :{{workouts?.distance}} {{workouts?.distance_unit}}</p>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="coach-filter">
                            <div class="filter-title">
                                <h6>Filter</h6>
                                <div class="clear-text">Clear Filter</div>
                            </div>
                            <div class="from-group mb-2 mt-3">
                                <label>Running Type</label>
                                <mat-form-field appearance="outline" class="login-select mt-2">
                                    <mat-select  form aria-placeholder="Select A Group Type" placeholder="Select Level">
                                        <mat-option value="Running">Running</mat-option>
                                        <mat-option value="Workout">Workout</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="from-group mb-2">
                                <label>Running Time</label>
                                <mat-form-field class="login-input mt-2" appearance="outline">
                                    <input matInput  placeholder="Running Time" >
                                </mat-form-field>
                            </div>
                            <div class="from-group mb-2">
                                <label>Distance</label>
                                <mat-form-field appearance="outline" class="login-select mt-2">
                                    <mat-select  form aria-placeholder="Select A Group Type" placeholder="Select Level">
                                        <mat-option value="Running">Running</mat-option>
                                        <mat-option value="Workout">Workout</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                           
                            <div class="all-btn text-center mt-4">
                                <button type="submit" mat-flat-button color="primary" class="primary-btn">Apply Filter</button>
                            </div>

                        </div>
                    </div>

                </div>
               </div>
            </div>

        </div>


    </div>

</section>
