
.work-card-img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    background: transparent linear-gradient(132deg, #d3752b40 0%, #b4552021 100%) 0% 0% no-repeat;
    border-radius: 6px;
    padding: 1px;
}
.work-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.easy-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.easy-flex ul li {
    display: inline-flex;
}
.Dumbbell-icon li {
    float: left;
    margin: 0px 3px;
}
.mini-workout{
    display: flex;
    justify-content: space-between;
}
.work-card-body {
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    margin-bottom: 10px;
}
.coach-filter h6 {
    font-size: 15px;
}
.workTitle {
    font-size: 14px;
}
.workLists h6 {
    font-size: 13px;
}
.tri-img{
    height: 60px;
    width: 70px;
    overflow: hidden;
    margin-top: 6px;
}
.coach-filter {
    background: #F4F4F4;
    padding: 15px;
}
.filter-title{
    display: flex;
    justify-content: space-between;
}