<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
      <div class="member-header mb-3">
        <h3 class="title-hd mb-0">Challenge</h3>
        <button class="btn btn-circle" routerLink="/coach-layout/create-challenge">
          <span class="pluse-box"><i class="bi bi-plus"></i></span> Create Challenge
        </button>
      </div>
      <div class="card-bg">
        <div class="tabsAll">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            
            <!-- Happening Challenges Tab -->
            <mat-tab label="Happening">
              <div class="search-panel">
                <div class="search-field">
                  <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                    <span matPrefix class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                    <input type="text" matInput placeholder="Search Challenge" [(ngModel)]="searchHappening" (keyup)="filterHappeningChallenges($event)" />
                  </mat-form-field>
                </div>
              </div> 
              <div class="table-responsive">
                <table class="table memberDatas">
                  <thead>
                    <tr class="bg-row">
                      <td>S.No.</td>
                      <td>Image</td>
                      <td>Challenge Name</td>
                      <td>Type</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                      <td>Ultimate Goal</td>
                      <td>Entry Type</td>
                      <td>Participants</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let challenge of filteredHappeningChallenges; let i = index">
                      <td>{{i+1}}</td>
                      <td>
                        <img [src]="challenge.image1  ? challenge.image1 : 'assets/images/Coach/upload_profile_pic.png'" alt="user" height="40px" class="avtar-circle">
                      </td>
                      <td>{{challenge?.name}}</td>
                      <td>{{challenge?.type}}</td>
                      <td>{{challenge?.start_date}}</td>
                      <td>{{challenge?.end_date}}</td>
                      <td>{{challenge?.ultimate_goal}}</td>
                      <td>{{challenge?.is_paid == 0 ? 'Free' : 'Paid' }}</td>
                      <td>{{challenge?.participants_count}}</td>
                      <td>
                        <div class="view-btn-img" (click)="goToDetails(challenge)">
                          <img src="assets/images/Coach/view.svg" alt="view" class="img-fluid">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
  
            <!-- Upcoming Challenges Tab -->
            <mat-tab label="Upcoming">
              <div class="search-panel">
                <div class="search-field">
                  <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                    <span matPrefix class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                    <input type="text" matInput placeholder="Search Challenge" [(ngModel)]="searchUpcoming" (keyup)="filterUpcomingChallenges()" />
                  </mat-form-field>
                </div>
              </div> 
              <div class="table-responsive">
                <table class="table memberDatas">
                  <thead>
                    <tr class="bg-row">
                      <td>S.No.</td>
                      <td>Image</td>
                      <td>Challenge Name</td>
                      <td>Type</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                      <td>Ultimate Goal</td>
                      <td>Entry Type</td>
                      <td>Registration Start in</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let challenge of filteredUpcomingChallenges; let i = index">
                      <td>{{i+1}}</td>
                      <td>
                        <img [src]="challenge.image1  ? challenge.image1 : 'assets/images/Coach/upload_profile_pic.png'" alt="user" height="40px" class="avtar-circle">
                      </td>
                      <td>{{challenge?.name}}</td>
                      <td>{{challenge?.type}}</td>                                       
                      <td>{{challenge?.start_date}}</td>
                      <td>{{challenge?.end_date}}</td>
                      <td>{{challenge?.ultimate_goal}}</td>
                      <td>{{challenge?.is_paid == 0 ? 'Free' : 'Paid' }}</td>
                      <td style="color: #FC7A6F;">00:23:57:12</td>
                      <td>
                        <div class="actionBtn d-flex gap-2">
                          <a><img src="assets/images/calories/view-ic.svg"></a>
                          <a><img src="assets/images/calories/delete.svg"></a>
                          <a><img src="assets/images/calories/edit.svg"></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
  
            <!-- Past Challenges Tab -->
            <mat-tab label="Past">
              <div class="search-panel">
                <div class="search-field">
                  <mat-form-field class="login-input search-itp w-25 me-4" appearance="outline">
                    <span matPrefix class="me-33"><mat-icon matSuffix>search</mat-icon></span>
                    <input type="text" matInput placeholder="Search Challenge" [(ngModel)]="searchPast" (keyup)="filterPastChallenges()" />
                  </mat-form-field>
                </div>
              </div> 
              <div class="table-responsive">
                <table class="table memberDatas">
                  <thead>
                    <tr class="bg-row">
                      <td>S.No.</td>
                      <td>Image</td>
                      <td>Challenge Name</td>
                      <td>Type</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                      <td>Ultimate Goal</td>
                      <td>Entry Type</td>
                      <td>Participants</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let challenge of filteredPastChallenges; let i = index">
                      <td>{{i+1}}</td>
                      <td>
                        <img [src]="challenge.image1  ? challenge.image1 : 'assets/images/Coach/upload_profile_pic.png'" alt="user" height="40px" class="avtar-circle">
                      </td>
                      <td>{{challenge?.name}}</td>
                      <td>{{challenge?.type}}</td>
                      <td>{{challenge?.start_date}}</td>
                      <td>{{challenge?.end_date}}</td>
                      <td>{{challenge?.ultimate_goal}}</td>
                      <td>{{challenge?.is_paid == 0 ? 'Free' : 'Paid' }}</td>
                      <td>{{challenge?.participants_count}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </section>
  