<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Create Recipes</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/recipes">Back</button>
        </div>

        <div class="card-bg p-4">
            <div class="row">
               <div class="col-lg-7">
                <mat-card>
                    <mat-stepper labelPosition="bottom" #stepper>
                        <mat-step>
                            <div class="member-card-add">
                                <p>Enter the details to create recipes</p>
    
                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <div class="group-img">
                                            <div>
                                                <div class="bannerUpload">
                                                    <label class="bannerHoverable" for="groupimg">
                                                        <img  src="" class="Banner"  >
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="upload-title">
                                                Upload image
                                                <input type="file" id="groupUpload"/>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Enter Recipe Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  form aria-placeholder="Select A Group Type"
                                                 placeholder="Diet Type (Multiple Selection)">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  form aria-placeholder="Select A Group Type"
                                                 placeholder="Meal Period (Multiple Selection)">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  form aria-placeholder="Select A Group Type"
                                                 placeholder="Fruits Included In The Recipe (Multiple Selection)">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  form aria-placeholder="Select A Group Type"
                                                 placeholder="Vegetables Included In The Recipe (Multiple Selection)">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  form aria-placeholder="Select A Group Type"
                                                 placeholder="Does The Recipe Contain Allergens? (Multiple Selection)">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select  form aria-placeholder="Select A Group Type"
                                                 placeholder="Carbohydrates Or Starches Contained (Multiple Selection)">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Other Ingredients In The Recipe">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Total Calories">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Quantity (Facts Of Measure)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Preparation Time">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Cooking Time">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Enter Price">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="all-btn text-center mt-4">
                                    <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                                    <button mat-flat-button color="primary" class="primary-btn" matStepperNext>Next</button>
                                </div>
                            </div>
                        </mat-step>

                        <mat-step>
                            <div class="member-card-add">
                                <p>Nutritional values ​​per serving</p>

                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Flats">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Protein">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Carbohydrate">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Dietary Fiber">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Cholesterol">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Iron">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Sodium">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Calcium">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field appearance="outline" class="login-select">
                                            <mat-select placeholder="Gram">
                                                <mat-option value="Running">Running</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="all-btn text-center mt-4">
                                    <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                                    <button mat-flat-button color="primary" class="primary-btn" matStepperNext>Next</button>
                                </div>
                            </div>
                         
                        </mat-step>

                        <mat-step>
                             <div class="member-card-add">
                                <p>Add Component</p>

                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <mat-form-field class="login-input" appearance="outline">
                                            <input matInput placeholder="Component Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <div class="d-flex">
                                            <mat-form-field class="login-input" appearance="outline">
                                                <input matInput placeholder="Dosage">
                                            </mat-form-field>

                                            <div class="add-btn">
                                                <img src="assets/images/bestCoach/add.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                <p>Add Steps</p>
                                </div>

                                <div class="setp-body">
                                    <div class="step-header">
                                        <h6>Step</h6>
                                        <div class="add-btn">
                                            <img src="assets/images/bestCoach/add.png">
                                        </div>
                                    </div>
                                    <div class="step-content mt-2">
                                        <textarea class="form-control" cols="4" rows="4" placeholder="Write Clearly To Define Step"></textarea>
                                    </div>
                                </div>
                                
                                <div class="all-btn text-center mt-4">
                                    <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                                    <button mat-flat-button color="primary" class="primary-btn">Add Recipe</button>
                                </div>
                            </div>

                        </mat-step>
                      </mat-stepper>

                      

                </mat-card>
               </div>
            </div>
           

        </div>


    </div>

</section>
