.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.male {
  background-image: url('src/assets/images/website_icons_user/gender_male_active.png');
  background-position: center;

}
.female {
  background-image: url('src/assets/images/website_icons_user/gender_female_active.png');
  background-position: center;
}

.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
   border-radius: 15px;
  border: 1px solid var(--primary-color);
}

.cc-selector input:checked + .drinkcard-cc::after{

}
.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 170px;
  height: 132px;
  border-radius: 15px;
  border: 1px solid gray;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
  position: relative;
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}



.drinkcard-cc:after{
  content: url(src/assets/images/website_icons_user/checked_tick.png);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  /* border: 1px solid gray; */
  position: absolute;
}