<div class="aside-coach">
    <div class="aside-list">
         <div class="links-tabs" routerLink="/trainee-layout/dashboard" routerLinkActive="active">Dashboard</div>
        <div *ngIf="userData?.plan" class="links-tabs" routerLink="/trainee-layout/subscription-pnl" routerLinkActive="active">Subscription</div>
        <div *ngIf="!userData?.plan" class="links-tabs" routerLink="/trainee-layout/subscription-list" routerLinkActive="active">Subscription</div>
        <div class="links-tabs" routerLink="/trainee-layout/workouts" routerLinkActive="active">Workouts</div>
        <div class="links-tabs" routerLink="/trainee-layout/running" routerLinkActive="active">Running</div>
        <div class="links-tabs" routerLink="/trainee-layout/nutrition-diet" routerLinkActive="active">Nutrition/Diet</div>
        <div class="links-tabs" routerLink="/trainee-layout/food-recipes" routerLinkActive="active">Food Recipes</div>
        <div class="links-tabs" routerLink="/trainee-layout/coach-trainer" routerLinkActive="active">Coach</div>
        <div class="links-tabs" routerLink="/trainee-layout/calender" routerLinkActive="active">Calendar</div>
        <div class="links-tabs" routerLink="/trainee-layout/groups" routerLinkActive="active">Groups</div>
        <div class="links-tabs" routerLink="/trainee-layout/challenges" routerLinkActive="active">Challenges</div>
        <div class="links-tabs" routerLink="/trainee-layout/community" routerLinkActive="active">Community</div>
        <div class="links-tabs" routerLink="/trainee-layout/blog" routerLinkActive="active">Blog</div>




    </div>
</div>
