.custom-bg {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 14px 26px #e06f0021;
  height: 500px;
}


.bmi-body{
    background: #FFF7EF 0% 0% no-repeat padding-box;
    padding: 40px;
    width: 103%;
}
.bmi-item {
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 19px #bebebe29;
  border-radius: 15px;
  width: 100px;
  height: 113px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bmi-item .icon {
  width: 28.83px;
  height: 41.29px;
  object-fit: contain;
}
.bmi-item .value {
  font: normal normal bold 14px/22px Almarai;
  letter-spacing: 0px;
  color: #e16f00;
  margin-bottom: 0;
}

.bmi-item .name {
  font: normal normal bold 14px/22px Almarai;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 0;
}


