<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="row custom-bg">
                <div class="col-md-6">
                    <img src="" alt="">
                    <div>
                        <p>start your journey to find out which exercises are right for you</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bmi-body mb-3">
                        <h5>You are all done</h5>
                        
                        <div class="d-flex gap-3">
                            <div class="bmi-item">
                                <img class="icon" src="assets/images/calories/calories.png" alt="">
                                <p class="value">300</p>
                                <p class="name">Calories</p>
                            </div>
                            <div class="bmi-item">
                                <img class="icon" src="assets/images/weight_kg/weight_kg.png" alt="">
                                <p class="value">25</p>
                                <p class="name">Kg</p>
                            </div>
                            <div class="bmi-item">
                                <img class="icon" src="assets/images/steps/steps.png" alt="">
                                <p class="value">3,00,000</p>
                                <p class="name">Steps</p>
                            </div>
                            <div class="bmi-item">
                                <img class="icon" src="assets/images/kilometer/kilometer.png" alt="">
                                <p class="value">5</p>
                                <p class="name">kilometer</p>
                            </div>
                        </div>
                    </div>
                    <div class="bmi-img mb-3">
                        <img class="img-fluid" src="assets/images/Group 122919/Group 122919.png" alt="">
                    </div>

                    <div class="mb-3">
                            <button class="w-100" mat-flat-button color="primary" (click)="submit()">Take me to Homepage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>