<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Challenge Details</h3>
    </div>

    <mat-tab-group *ngIf="type === 'showTab'" mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Details">
            <ng-container *ngTemplateOutlet="detailsContent"></ng-container>
        </mat-tab>
        <mat-tab label="Participants">
            <div class="workout-section mt-4 p-3">
                <div class="card participants-list mb-3" *ngFor="let participants of challengesDetail?.participants">
                    <div class="card-lists d-flex gap-3">
                        <div class="card-thumb">
                            <img [src]="participants?.detail?.profile_image ? participants?.detail?.profile_image : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'"
                                alt="image" class="img-fluid">
                        </div>
                        <div class="card-content">
                            <div class="u-title">{{participants?.detail?.first_name}} {{participants?.detail?.last_name}} </div>
                            <p>{{participants?.detail?.gender | uppercase}}: {{participants?.detail?.dob}}</p>
                        </div>
                    </div>
                    <!-- <p>Participated On : 12/08/224</p> -->
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Result">
            <div class="workout-section mt-4 p-3">
                <div class="card participants-list mb-3" *ngFor="let participants of challengesDetail?.participants">
                    <div class="card-lists d-flex gap-3">
                        <div class="card-thumb">
                            <img [src]="participants?.detail?.profile_image ? participants?.detail?.profile_image : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'"
                                alt="image" class="img-fluid">
                        </div>
                        <div class="card-content">
                            <div class="u-title">{{participants?.detail?.first_name}} {{participants?.detail?.last_name}} </div>
                            <div class="pat-title"><span>26364</span> Steps</div>
                        </div>
                        <div class="step-count">
                            <div class="nostep">221</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <!-- Show only Details content if type != 'showTab' -->
    <div *ngIf="type !== 'showTab'">
        <ng-container *ngTemplateOutlet="detailsContent"></ng-container>
    </div>

    <!-- Template for Details content -->
    <ng-template #detailsContent>
        <div class="workout-section mt-4 p-3">
            <div class="row">
                <div class="col-lg-5">
                    <div class="card-slider">
                        <owl-carousel-o [options]="challengesBanner">
                            <ng-template carouselSlide>
                                <div class="ch-banner">
                                    <img src="assets/images/video_PosterImage.png" alt="banner" class="img-fluid">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="ch-banner">
                                    <img src="assets/images/video_PosterImage.png" alt="banner" class="img-fluid">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="ch-banner">
                                    <img src="assets/images/video_PosterImage.png" alt="banner" class="img-fluid">
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                    <div class="card">
                        <div class="easy-title">Easy walk journey to a healthy lifestyle</div>
                        <table>
                            <tr>
                                <td>Type:</td>
                                <td>{{challengesDetail?.type | uppercase}}</td>
                            </tr>
                            <tr>
                                <td>Start Date :</td>
                                <td>{{challengesDetail?.start_date}}</td>
                            </tr>
                            <tr>
                                <td>End Date :</td>
                                <td>{{challengesDetail?.end_date}}</td>
                            </tr>
                            <tr>
                                <td>Registration Start Date :</td>
                                <td>{{challengesDetail?.registration_start_date}}</td>
                            </tr>
                            <tr>
                                <td>Last Date to Register :</td>
                                <td>{{challengesDetail?.registration_end_date}}</td>
                            </tr>
                            <tr>
                                <td>Registration link :</td>
                                <td><a>{{challengesDetail?.external_registration_link ? challengesDetail?.external_registration_link : "--"}}</a></td>
                            </tr>
                            <tr>
                                <td>Location :</td>
                                <td>{{challengesDetail?.location ? challengesDetail?.location  : '--'}}</td>
                            </tr>
                            <tr>
                                <td>Paid Challenges :</td>
                                <td>{{challengesDetail?.registration_price}} SAR</td>
                            </tr>
                        </table>
                        <button *ngIf="type !== 'showTab'" type="button" class="joint-btn w-100 mt-3" (click) = "joinChallenges()">Join</button>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="ch-box-grid">
                                    <div class="img-icon">
                                        <img src="assets/images/calories/chl_duration.png" alt="icon"
                                            class="img-fluid">
                                    </div>
                                    <div class="ch-title">
                                        <h6>{{challengesDetail?.duration}} Days</h6>
                                        <p>Duration</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="ch-box-grid">
                                    <div class="img-icon">
                                        <img src="assets/images/calories/chl_participants.png" alt="icon"
                                            class="img-fluid">
                                    </div>
                                    <div class="ch-title">
                                        <h6>{{challengesDetail?.participants.length}}</h6>
                                        <p>Participants</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="ch-box-grid">
                                    <div class="img-icon">
                                        <img src="assets/images/calories/chl_daily_step.png" alt="icon"
                                            class="img-fluid">
                                    </div>
                                    <div class="ch-title">
                                        <h6>{{challengesDetail?.daily_steps_goal}}</h6>
                                        <p>Daily Step Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="ch-box-grid">
                                    <div class="img-icon">
                                        <img src="assets/images/calories/chl_goal.png" alt="icon" class="img-fluid">
                                    </div>
                                    <div class="ch-title">
                                        <h6>{{challengesDetail?.ultimate_goal}}</h6>
                                        <p>Ultimate Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="easy-title">Description</div>
                        <p class="des-text">{{challengesDetail?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
