<div class="rating-pnl">
    <div class="rating-header">
        <h6>Trainer Reviews</h6>
    </div>
    <div class="review-lists">
        <div class="review-img">
            <img src="assets/images/video_PosterImage.png" alt="image" class="img-fluid">
        </div>
        <div class="review-content">
            <div class="review-title">Vijay Rana</div>
            <div class="satr-reviwe">
                <div>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
            </div>
            <p>This is one of the best trainers I have ever trained with. He is very serious about his work and committed</p>
        </div>

    </div>




</div>
