.review-img{
    height: 50px;
    width: 50px;
    border-radius: 8px;
    overflow: hidden;
}
.review-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.review-lists{
    background-color: #fff;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
}
.rating-pnl{
    padding: 10px;
    background-color: #eee;
}
.rating-header{
    padding: 10px;
}
.review-content p {
    margin-bottom: 0px;
    font-size: 14px;
}
.satr-reviwe i {
    color: #fa8513;
    font-size: 14px;
    margin: 1px;
}
.review-title {
    font-size: 15px;
    font-weight: 600;
}