<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Workouts</h3>
       
        <div class="workout-section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="work-details-pnl">
                        <div class="work-date">
                            <p><b>10 Apr 2024 - 10 May 2024</b></p>
                            <div class="d-flex addcalendar d-none">
                                <img src="assets/images/bestCoach/added_calendar.png"> Added to calendar
                                <div><i class="bi bi-x-lg"></i></div>
                            </div>
                            <div class="d-flex addcalendar add-border">
                                <i class="bi bi-calendar4-week"></i> Add to calendar
                            </div>
                            <div class="d-flex add-blue" (click)="goToEditWorkout()">
                                <img src="assets/images/Coach/edit.svg"> Edit Workout
                            </div>
                        </div>
                        <div class="work-card-body">
                            <div class="work-card-img">
                                <img [src]="workoutData?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                            </div>
                            <div class="work-card-content">
                                <div class="quick-title-work"></div>
                                <div class="quick-timer">
                                    <img src="assets/images/bestCoach/time_workout.png" alt="image">{{workoutData?.time_required | secondsToMinutes}} min.
                                </div>
                                <div class="easy-flex">
                                    <ul class="list-inline mb-0">
                                        <li class="Level-title" style="color: #B2B4B6;">Level : {{workoutData?.level?.name}}</li>
                                        <li><div class="quick-span"><img src="assets/images/bestCoach/level_easy.png" alt="image"></div></li>
                                    </ul>
                                    <div class="w-50">
                                    <!-- <p class="Level-title mb-0"><span  style="color: #B2B4B6;">Type</span> : <span></span></p> -->
                                    </div>
                                   
                                </div>
                                <div class="bench-pnl" >
                                    <div *ngFor="let j_item of workoutData?.equipments" class="quick-bench"><img [src]="j_item?.equipment?.image || 'assets/images/bestCoach/dumble-ic.svg'" alt="image"></div>
                                    <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div> -->
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="quick-tainer">Description</div>
                    <div class="work-details-pnl">
                        <p>{{workoutData?.description}}</p>
                    </div>
                    <div class="quick-tainer">Comments</div>
                    <div class="work-details-pnl">
                        <div class="comment-chat d-flex">
                            <mat-form-field class="login-input" appearance="outline">
                                <input matInput placeholder="Write Comment......">
                            </mat-form-field>
                            <button type="button" class="btn btn-circle-send"><i class="bi bi-send"></i></button>
                        </div>
                        <div class="comment-chat-pnl">
                            <div class="user-chat-box">
                                <div class="user-chat-name">
                                    <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                    <span>Majed Al-Sayed</span>
                                </div>
                                <div class="user-chat-date"><i class="bi bi-calendar"></i>August 2,2023 at 10:00pm </div>
                            </div>
                            <p>Light running and walking exercises were added for 10 days</p>
                        </div>
                        <div class="comment-chat-pnl">
                            <div class="user-chat-box">
                                <div class="user-chat-name">
                                    <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                    <span>Majed Al-Sayed</span>
                                </div>
                                <div class="user-chat-date"><i class="bi bi-calendar"></i>August 2,2023 at 10:00pm <span class="remove-text">Remove</span></div>
                            </div>
                            <p>Light running and walking exercises were added for 10 days</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="quick-tainer">Workout</div>
                    <div class="work-details-pnl">
                        <div class="workout-chart">
                            <mat-stepper labelPosition="bottom" #stepper>
                                <mat-step>
                                  <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Workout</ng-template>
                                </mat-step>
                            </mat-stepper>
                        </div>



                        <div class="user-chat-box play-m">
                            <div class="user-chat-name">
                                <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                                <span>Cardio exercise using dumbbells</span>
                            </div>
                            <div class="user-chat-date">00:05</div>
                        </div>
                        <div class="user-chat-box play-m">
                            <div class="user-chat-name">
                                <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                                <span>Cardio exercise using dumbbells</span>
                            </div>
                            <div class="user-chat-date">00:05</div>
                        </div>
                        <div class="user-chat-box play-m">
                            <div class="user-chat-name">
                                <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                                <span>Cardio exercise using dumbbells</span>
                            </div>
                            <div class="user-chat-date">00:05</div>
                        </div>
                        <div class="user-chat-box play-m">
                            <div class="user-chat-name">
                                <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                                <span>Cardio exercise using dumbbells</span>
                            </div>
                            <div class="user-chat-date">00:05</div>
                        </div>
                        <div class="user-chat-box play-m">
                            <div class="user-chat-name">
                                <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                                <span>Cardio exercise using dumbbells</span>
                            </div>
                            <div class="user-chat-date">00:05</div>
                        </div>

                        <div class="sub-price mb-0 pb-0">
                            <button mat-flat-button color="primary" class="primary-btn-2 w-100">Start Workout</button>
                        </div>
                    </div>
                    
                </div>

            </div>
            
        </div>


    </div>


</div>

