<!-- <section id="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="banner-content">
          <h1><span class="orange-txt">Feel Great.</span> Body and Mind</h1>
          <p>Choose from hundreds of workouts, healthy recipes, relaxing meditations, and expert articles, for a whole
            body and mind approach to feeling great</p>
          <button *ngIf='!loginData' color="primary" mat-flat-button class="primary-btn">Join Now</button>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section id="hero-section">
  <video id="background-video" autoplay loop muted>
    <source src="assets/images/pexels-tima-miroshnichenko-5319099 (1080p).mp4" type="video/mp4" />
  </video>


  <div class="banner-content text-center">
    <h1><span class="orange-txt">Feel Great.</span> Body and Mind</h1>
    <p>Choose from hundreds of workouts, healthy recipes, relaxing meditations, and expert articles, for a whole
      body and mind approach to feeling great</p>
    <button *ngIf='!loginData' color="primary" mat-flat-button class="primary-btn">Join Now</button>
  </div>

</section>


<section id="about">
  <div class="container-fluid">
    <div class="row mx-3">
      <div class="col-md-6 col-lg-3 my-3">
        <div class="about-card">
          <div class="about-img">
            <img src="assets/images/walking_running_enthusiasts.svg" alt="dumbell">
          </div>
          <h5>Walking/Running Enthusiasts</h5>
          <p>The sports professionals at Harawla have prepared what suits you according to your level to start
            practicing the sport you love!!</p>
        </div>
      </div>


      <div class="col-md-6 col-lg-3 my-3">
        <div class="about-card">
          <div class="about-img">
            <img src="assets/images/home_fitness_exercises.svg" alt="dumbell">
          </div>
          <h5>Home Fitness Exercises</h5>
          <p>
            We have prepared a large library of video exercises and step-by-step instructions for you to practice at
            home
          </p>
        </div>
      </div>


      <div class="col-md-6 col-lg-3 my-3">
        <div class="about-card">
          <div class="about-img">
            <img src="assets/images/eliminate_fat.svg" alt="dumbell">
          </div>
          <h5>Eliminate Fat</h5>
          <p>
            Special exercise schedules for those who want to burn the largest amount of fat through customized exercises
            that increase with you every day in difficulty level </p>
        </div>
      </div>


      <div class="col-md-6 col-lg-3 my-3">
        <div class="about-card">
          <div class="about-img">
            <img src="assets/images/perfect_weight.svg" alt="dumbell">
          </div>
          <h5>Perfect Weight</h5>
          <p>
            Exercises specially designed to maintain your ideal weight and fitness </p>
        </div>
      </div>
    </div>
  </div>
</section>








<section id="sports">
  <div class="container-fluid">
    <div class="row justify-content-evenly">

      <div class="sports-heading text-center">
        <h2>Because We <span class="orange-txt">Understand Sports</span></h2>
        <p>Exercises for adults and children, beginners and professionals</p>
      </div>


      <div class="col-md-6 my-3">
        <div class="sports-card">
          <div class="card">
            <div class="card-body">
              <img src="assets/images/minute_exercises.png" alt="dumbell">
              <h4>7-Minute Exercises</h4>
              <p><strong>Level</strong> : Beginner, Intermediate, Advanced</p>
              <p><strong>Type</strong> : Home exercises, general fitness exercises</p>
              <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-6 my-3">
        <div class="sports-card">
          <div class="card">
            <div class="card-body">
              <img src="assets/images/lose_weight_and_burn_calories.png" alt="lose_weight">
              <h4>Lose Weight And Burn Calories</h4>
              <p><strong>Level</strong> : Beginner, Intermediate, Advanced</p>
              <p><strong>Type</strong> : Fat burning, endurance, general fitness exercises...</p>
              <button mat-flat-button color="primary" class="primary-btn me-3">Weekly Plan</button>
              <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>



<section id="works">
  <div class="container-fluid">
    <div class="row justify-content-evenly">
      <div class="col-md-10">

        <div class="works-heading text-center">
          <h2>What Does Harwalah <span class="orange-txt">Offer You As An Athlete?</span></h2>
          <p>
            We have prepared sports programs for all groups, for those who love exercising at home or those who exercise
            in gyms and gyms. We have also allocated exercises for walking enthusiasts and running professionals.
            Harwalah contains exercises for fitness practitioners - CrossFit, or even recreational exercises such as
            yoga, and all exercises are supported by video materials. All of this and more is available once you
            register with us!
          </p>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 my-4 d-flex justify-content-center align-items-center ">
        <div class="works-card">
          <div class="card">
            <div class=" card-body">
              <div>
                <img src="assets/images/img_1.png" alt="running" width="240px" height="200px">
                <h4>Running And Endurance Exercises</h4>
                <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-4 d-flex justify-content-center align-items-center ">
        <div class="works-card">
          <div class="card">
            <div class=" card-body">
              <div>
                <img src="assets/images/img_2.png" alt="work" width="240px" height="200px">
                <h4>Office/Work <br> Exercises</h4>
                <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>

              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="col-md-6 col-lg-4 my-4 d-flex justify-content-center align-items-center ">
        <div class="works-card">
          <div class="card">
            <div class=" card-body">
              <div>
                <img src="assets/images/img_3.png" alt="home" width="240px" height="200px">
                <h4>Home Exercises And General Fitness</h4>
                <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>

              </div>
            </div>
          </div>

        </div>
      </div>



      <!-- <div class="col-md-6 col-lg-4 my-4 d-flex justify-content-center align-items-center ">
        <div class="works-card">
          <div class="card">
            <div class=" card-body">
              <div>
                <img src="assets/images/img_2.png" alt="work" width="240px" height="200px">
                <h4>Office/Work <br> Exercises</h4>
                <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>

              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-6 col-lg-4 my-4 d-flex justify-content-center align-items-center ">
        <div class="works-card">
          <div class="card">
            <div class=" card-body">
              <div>
                <img src="assets/images/img_3.png" alt="home" width="240px" height="200px">
                <h4>Home Exercises And General Fitness</h4>
                <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>

              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="col-md-6 col-lg-4 my-4 d-flex justify-content-center align-items-center ">
        <div class="works-card">
          <div class="card">
            <div class=" card-body">
              <div>
                <img src="assets/images/img_1.png" alt="running" width="240px" height="200px">
                <h4>Running And Endurance Exercises</h4>
                <button mat-flat-button color="primary" class="primary-btn">View Exercises</button>

              </div>
            </div>
          </div>

        </div>
      </div> -->


    </div>
  </div>
</section>


<section id="timer">
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-md-6 col-lg-3 my-4 d-flex justify-content-center align-items-center ">
        <div class="timer-txt">
          <h3>10+</h3>
          <p>Years of Experience</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 my-4 d-flex justify-content-center align-items-center ">
        <div class="timer-txt">
          <h3>650+</h3>
          <p>Exercises Available</p>
        </div>
      </div>



      <div class="col-md-6 col-lg-3 my-4 d-flex justify-content-center align-items-center ">
        <div class="timer-txt">

          <h3>150+</h3>
          <p>Sports Program</p>
        </div>
      </div>


      <div class="col-md-6 col-lg-3 my-4 d-flex justify-content-center align-items-center ">
        <div class="timer-txt">

          <h3>100%</h3>
          <p>Always Your Data Safe</p>
        </div>
      </div>




    </div>
  </div>
</section>



<section id="topics">
  <div class="container-fluid">
    <div class="row mx-3 justify-content-evenly">
      <div class="col-md-10">

        <div class="works-heading text-center">

          <h2>Latest <span class="orange-txt">Topics</span></h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>




      <div class="topic-wrapper">
        <div class="topic-card">
          <div class="card card-1">
            <div class=" card-body">
              <div class="topic-txt ">
                <h4>Running Clothes</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="topic-card">
          <div class="card card-2">
            <div class=" card-body">
              <div class="topic-txt ">
                <h4>Daily Nutrition</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="topic-card">
          <div class="card card-3">
            <div class=" card-body">
              <div class="topic-txt ">
                <h4>Running Technique & Style</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="topic-card">
          <div class="card">
            <div class=" card-body">
              <div class="topic-txt ">
                <h4>Running Clothes</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="topic-card">
          <div class="card">
            <div class=" card-body">
              <div class="topic-txt ">
                <h4>Running Clothes</h4>
              </div>
            </div>
          </div>
        </div>



      </div>






    </div>
  </div>
</section>





<!-- <section id="banner">
 



  <video autoplay muted loop id="myVideo">
    <source src="/assets/images/banner-video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  
  <div class="content">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
  </div>
  





</section> -->



<app-footer></app-footer>