/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }


  #banner{
    width: 100%;
    height: 100vh;
    margin-top: 150px;
  }
  
  .content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    width: 50%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  } */
/* 
#banner {
  background-image: url("src/assets/images/video_PosterImage.png");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /overflow-x: hidden;
   /margin-top: 85px; 
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
} */

#hero-section {
  position: relative;
}

#background-video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-content h1 {
  font-size: 52px;
  color: var(--white-color);
}

.orange-txt {
  color: var(--primary-color);
}

.banner-content p {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  color: var(--white-color);
  opacity: 1;
}

#about {
  background-color: #f4f4f4;
  padding: 25px 0px;
}

.about-card {
  text-align: center;
}

.about-card h5 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #e06f00;
  text-transform: capitalize;
  opacity: 1;
  margin-bottom: 15px;
}

.about-card p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #383838;
}

.about-card img {
  margin-bottom: 15px;
}

#sports {
  padding: 25px 0px;
}

.sports-heading {
  padding: 30px 0px;
}

.sports-heading h2 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.sports-heading p {
  font-size: 18px;
  letter-spacing: 2px;
  color: #383838;
  opacity: 1;
}

.sports-card .card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 23px 26px #dbdbdb73;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  min-height: 401px;
}

.sports-card .card .card-body {
  padding: 30px;
}

.sports-card .card .card-body img {
  width: 235px;
  height: auto;
}

.sports-card .card .card-body h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #22243c;
  text-transform: capitalize;
  opacity: 1;
  margin: 20px 0px;
}

.sports-card .card .card-body p {
  font: 25px;
  letter-spacing: 1.1px;
  color: #383838;
}

#works {
  padding: 50px 0px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
}

.works-heading h2 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.works-heading p {
  font-size: 25px;
  letter-spacing: 2px;
  color: #383838;
  line-height: 50px;
}

.work-txt {
  font-size: 20px !important;
  letter-spacing: 2px;
  color: #22243c;
  text-transform: capitalize;
  opacity: 1;
}

.works-card .card .card-body h4 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #22243c;
  text-transform: capitalize;
  opacity: 1;
  margin: 20px 0px;
}

.works-card .card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 23px 26px #dbdbdb73;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  width: 380px;
  height: 450px;
}

.works-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  /* / height: 00px; / */
  padding: 100px 0px;
  background-image: url("src/assets/images/count_bg.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.timer-txt {
  text-align: center;
}

.timer-txt h3 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--primary-color);
}

.timer-txt p {
  font-size: 15px;
  letter-spacing: 0px;
  color: var(--white-color);
}

#topics {
  padding: 50px 0px;
}

.topic-wrapper {
  display: flex;
  gap: 72px;
  width: 100%;
  overflow-x: scroll;
  justify-content: space-between;
  padding: 0;
}

.topic-card .card {
  /* / margin-right: 30px; / */
  background: linear-gradient(180deg, #00000000 0%, #000000 100%),
    url("src/assets/images/video_PosterImage.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 380px;
  height: 450px;
  position: relative;
  border-radius: 0px;
  border: none;
  margin-bottom: 20px;
}

.topic-txt h4 {
  text-align: center;
  font-size: 30px;
  color: var(--white-color);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.topic-txt {
  position: absolute;
  bottom: 60px;
  display: block;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* / width / */
.topic-wrapper::-webkit-scrollbar {
  width: 20px;
}

/* / Track / */
.topic-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: #e6e6e6;
  border-radius: 21px;
}

/* / Handle / */
.topic-wrapper::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 21px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #background-video {
    width: 100%;
    aspect-ratio: 0.5;
    object-fit: cover;
  }
  .banner-content {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}
