
.quick-tainer {
    padding: 7px;
    text-align: center;
    font-size: 15px;
    background: #e6e6e663 0% 0% no-repeat;
    color: #7C7C7C;
}

.work-details-pnl {
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 2px 3px #E06F0021;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    position: relative;
}
.work-card-img {
    height: 130px;
    width: 135px;
    margin-right: 10px;
    background: transparent linear-gradient(132deg, #d3752b40 0%, #b4552021 100%) 0% 0% no-repeat;
    border-radius: 6px;
    padding: 1px;
}
.work-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.work-card-body {
    display: flex;
}
.easy-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.easy-flex ul li {
    display: inline-flex;
}
.Dumbbell-icon li {
    float: left;
    margin: 0px 3px;
}

.quick-tainer {
    padding: 7px;
    text-align: center;
    font-size: 15px;
    background: #e6e6e663 0% 0% no-repeat;
    color: #7C7C7C;
}

.user-chat-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-chat-name img {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 40px;
    margin-right: 10px;
}
.user-chat-name span {
    font-size: 14px;
    font-weight: 600;
}
.user-chat-date {
    font-size: 14px;
}
.user-chat-date i {
    color: #8BC34A;
    margin-right: 5px;
}
.comment-chat-pnl {
    background: #FCFCFC 0% 0% no-repeat;
    border-radius: 10px;
    padding: 8px;
    margin-top: 15px;
}
.comment-chat-pnl p {
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 5px;
}
.play-m {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 9px;
    margin-bottom: 10px;
}
.play-m .user-chat-date {
    font-size: 14px;
    color: #df6e00;
    cursor: pointer;
}
.btn-circle-send {
    height: 40px;
    width: 40px;
    border: 1px solid #e06f00;
    border-radius: 50%;
    margin: 0px 11px;
    color: #e06f00;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-circle-send:hover {
    border: 1px solid #e06f00;
    color: #e06f00;
}
.work-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.addcalendar {
    border: 1px solid #C3C3C3;
    border-radius: 20px;
    padding: 3px;
    color: #C3C3C3;
    font-size: 13px;
}
.addcalendar img {
    height: 16px;
    margin: 3px;
}
.addcalendar i {
    color: #e06f00;
    margin: 5px;
    cursor: pointer;
}
.remove-text{
    color: #e06f00;
    font-weight: 500;
    margin: 4px;
    cursor: pointer;
}
.add-border{
    border: 1px solid #df6e00;
    color: #e06f00;
    cursor: pointer;
    padding: 3px 10px;
}
.add-border i {
    margin: 0px 4px !important;
}
.add-blue {
    color: #0099FF;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 57px;
    cursor: pointer;
}
.add-blue img {
    height: 20px;
    margin: 1px;
}
.easy-list{
    color: #000;
    font-size: 14px;
}
.easy-list span{
    color: #B2B4B6;
}
.easy-title {
    color: #383838;
    font-weight: 600;
    margin-bottom: 5px;
}
.mark-ornage {
    color: #e06f00;
}
.mark-ornage i {
    background: #e06f0033;
    padding: 5px;
    border-radius: 6px;
    margin-right: 6px;
}
.text-gray {
    color: #C3C3C3;
}
.border-red {
    color: #FC7A6F;
    border: 1px solid #FC7A6F;
    border-radius: 20px;
    padding: 2px 13px;
}
.text-gray i {
    background: #eee;
    padding: 5px;
    border-radius: 6px;
    margin-right: 6px;
}
.modify-title {
    color: #0099FF;
    cursor: pointer;
    width: fit-content;
    align-items: center;
}
.resps-pnl{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}
.quality-pnl{
    border: 1px solid #F4F4F4;
    border-radius: 10px;
}
.text-easy{
    color: #61B92B;
}
.resps-card {
    background: #F4F4F4 0% 0% no-repeat;
    border-radius: 0px 0px 10px 10px;
    padding: 7px;
}
.resps-pnl p {
    margin-bottom: 0px;
}
.resps-list {
    color: #B2B4B6;
    margin: 0px 10px;
    font-size: 14px;
}
.resps-list span{
    color: #333;
    margin: 0px 10px;
}
.sub-price-2 {
    text-align: right;
    padding-right: 20px;
}
.for-cursor{
    cursor: pointer;
}