<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Running</h3>
        <div class="workout-section ">
            <div class="card-bg">
                <div class="row m-2">
                    <div class="col-lg-8">
                        <div class="running-box  bg-white p-3 mt-4">
                            <div class="work-date mb-3">
                                <div class="d-flex mark-ornage ">
                                    <span><i class="bi bi-check2-circle"></i></span> Mark as Completed
                                </div>
                                <div class="d-flex text-gray">
                                    <span><i class="bi bi-x-circle"></i></span> Skip Activity
                                </div>
                                <div class="d-flex border-red for-cursor">
                                    <i class="bi bi-trash3"></i> Delete This Workout
                                </div>

                                <div *ngIf="isCalenderShow" class="d-flex addcalendar" (click)="addToCalender()">
                                    <img src="assets/images/bestCoach/added_calendar.png"> Added to calendar
                                    <div><i class="bi bi-x-lg"></i></div>
                                </div>
                                <div *ngIf="!isCalenderShow" class="d-flex addcalendar add-border" (click)="addToCalender()">
                                    <i class="bi bi-calendar4-week"></i> Add to calendar
                                </div>
                                <!-- <div class="d-flex add-blue">
                                    <img src="assets/images/Coach/edit.svg"> Edit Workout
                                </div> -->
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="running-user">
                                        <div class="work-card-img">
                                            <img [src]="runningData?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image"
                                                class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="running-user">
                                        <div class="easy-title">{{runningData?.name || "Easy Run Running Name"}}</div>
                                        <ng-container *ngIf="runningData?.running_type == 1">
                                            <div  class="quick-timer">
                                                <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                {{runningData?.duration}} {{runningData?.duration_unit}}
                                            </div>
                                            <div class="easy-list"><span>Distance:</span>{{runningData?.distance}} {{runningData?.distance_unit}}</div>
                                        </ng-container>
                                        <ng-container *ngIf="runningData?.running_type == 2 || runningData?.running_type == 3">
                                            <div class="easy-list"><span>Warmup Distance:</span> {{runningData?.warmup_distance}} {{runningData?.warmup_distance_unit}}</div>
                                            <div class="easy-list"><span>Cooldown Distance:</span> {{runningData?.cooldown_distance}} {{runningData?.cooldown_distance_unit}}</div>
                                        </ng-container>
                                        <ng-container *ngIf="runningData?.running_type == 3">
                                            <div class="easy-list"><span>Race Type:</span> {{runningData?.race_type | titlecase}} </div>
                                            <div class="easy-list"><span>VO2 Max:</span> {{runningData?.vo2}}</div>
                                        </ng-container>
                                        <div *ngIf="runningData?.running_type == 1" class="easy-list"><span>Planned:</span> 4.06 ~ 4.31/km</div>
                                        <!-- <div class="easy-list"><span>Actual Pace:</span>10 KM </div>
                                        <div class="easy-list"><span>Planned:</span>4:06 ~ 4:31 / km</div> -->
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="running-user">
                                        <div class="d-flex modify-title">
                                            <img src="assets/images/Coach/edit.svg" alt="image" class="me-1"> Modify
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  *ngIf="runningData?.running_type == 1" class="d-flex gap-4 mt-3 ">
                                <div class="easy-list"><span>Est. Distance: </span>0.80KM</div>
                                <div class="easy-list"><span>Est. Time : </span>1 hr : 20 Min</div>
                            </div>

                            <ng-container *ngIf="runningData?.running_type == 2">
                                <div *ngFor="let item of runningData?.sets" class="quality-pnl mt-3">
                                    <div class="resps-pnl">
                                        <div class="easy-list"><span>Reps x Distance </span>
                                        <p class="quick-timer"> {{item?.reps}} X {{item?.distance}} {{item?.distence_unit}}</p>
                                        </div>
                                        <div class="easy-list"><span>Avg. Pace  </span>
                                            <p>{{item?.avg_pace}}</p>
                                        </div>
                                        <div class="easy-list"><span>Effort</span>
                                        <p class="text-easy"> {{item?.effort | titlecase }}</p>
                                        </div>
                                        <div class="easy-list"><span>Recovery Between Reps</span>
                                            <p>{{item?.recovery_between_reps}} {{item?.recovery_between_reps_unit}}</p>
                                        </div>
                                    </div>
                                    <div *ngFor="let i_item of item?.pace;let i = index" class="resps-card">
                                        <div class="resps-list">Rep :<span>{{i+1}}</span> Pace <span>{{i_item?.pace}} {{i_item?.pace_unit}}</span>{{ i_item?.pace | diffBetMin : item?.avg_pace }}</div>
                                        <!-- <div class="resps-list">Rep :<span>2</span> Pace <span>3 km</span>- 3.03</div> -->
                                    </div>
                                </div>
                            </ng-container>    

                        </div>

                        <div class="quick-tainer">Description</div>
                        <div class="work-details-pnl bg-white p-3">
                            <p>
                                {{runningData?.description}}
                            </p>
                        </div>
                    </div>
                    <div  class="col-lg-4">
                        <div class="card mt-4" *ngIf="isCalenderShow">
                            <div class="calendar-card">
                                <mat-calendar [(selected)]="selectedDate" ></mat-calendar>
                            </div>
                            <div class="sub-price-2 mb-3">
                                <button  mat-flat-button color="primary" class="primary-btn" (click)="dateChange()"> Select Date</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>