<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">VO2 Max Calculator</h3>
        </div>
    </div>

    <div class="vo2-max-container">
        <!-- Header -->
        <h1 class="title">VO2 Max Calculator</h1>
      
        <!-- Summary Section -->
        <div class="summary">
          <div class="details">
            <p>Time: <strong>53.45</strong></p>
            <p>Temp. Effect: <strong>(56 °F)</strong></p>
            <p>Pace: <strong>10.20/km (+0.00/km)</strong></p>
          </div>
          <div class="vo2-max-card">
            <div class="circle">
              <span>15.6</span>
              <p>VO2 Max</p>
            </div>
          </div>
        </div>
      
        <!-- Tabs Section -->
        <div class="tabs">
          <button
            class="tab"
            *ngFor="let tab of tabs; let i = index"
            [class.active]="activeTab === i"
            (click)="setActiveTab(i)"
          >
            {{ tab }}
          </button>
        </div>
      
        <!-- Table Section -->
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Distance</th>
                <th>Pace</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of activeTableData">
                <td>{{ row.distance }}</td>
                <td>{{ row.pace }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
</section>