.vo2-max-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .vo2-max-container .title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .vo2-max-container .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }
  
  .vo2-max-container .summary .details p {
    margin: 0.5rem 0;
  }
  
  .vo2-max-container .summary .vo2-max-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vo2-max-container .summary .vo2-max-card .circle {
    width: 80px;
    height: 80px;
    border: 2px solid #f7931e;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  
  .vo2-max-container .summary .vo2-max-card .circle span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #f7931e;
  }
  
  .vo2-max-container .summary .vo2-max-card .circle p {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
  }
  
  .vo2-max-container .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
  }
  
  .vo2-max-container .tabs .tab {
    flex: 1;
    padding: 0.8rem;
    text-align: center;
    cursor: pointer;
    background: #f4f4f4;
    border: none;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  .vo2-max-container .tabs .tab.active {
    background: #f7931e;
    color: #fff;
  }
  
  .vo2-max-container .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .vo2-max-container .table-container table th,
  .vo2-max-container .table-container table td {
    text-align: left;
    padding: 0.8rem;
    border: 1px solid #ddd;
  }
  
  .vo2-max-container .table-container table thead th {
    background: #f7931e;
    color: #fff;
  }
  
  .vo2-max-container .table-container table tbody tr:nth-child(even) {
    background: #f9f9f9;
  }
  