<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">

        <div class="membertab-common position-relative">
            <div class="row">
                <div class="col-lg-2">
                    <div class="member-header2 mb-3">
                        <h3 class="title-hd mb-0">Group Details</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <ul class="nav nav-pills mb-3 d-flex justify-content-center member-Tab" id="pills-tab"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Activities</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Member Details</button>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="add-tabs">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="activities-workout">
                            <button *ngIf="tab_select == 0" class="btn btn-circle"
                                routerLink="/coach-layout/add-workout/{{member_user_id}}"><span class="pluse-box"><i
                                        class="bi bi-plus"></i></span> Add Workout</button>
                            <button *ngIf="tab_select == 1" class="btn btn-circle"
                                routerLink="/coach-layout/my-members/add-running/{{member_user_id}}"><span
                                    class="pluse-box"><i class="bi bi-plus"></i></span> Add Running</button>
                        </div>
                        <div class="activities-workout d-none">
                            <button class="btn btn-circle" routerLink="/coach-layout/add-workout/"><span
                                    class="pluse-box"><i class="bi bi-plus"></i></span> Add Running</button>
                        </div>

                        <div class="card-bg">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="submember chat-page">

                                        <div class="chat-icon" (click)="goToChat()">
                                            <i class="bi bi-chat-left-dots"></i>
                                        </div>

                                        <mat-tab-group (selectedIndexChange)="selectTab($event)"
                                            mat-stretch-tabs="false" animationDuration="0ms">
                                            <mat-tab label="Workouts">
                                                <div class="quick">You Made workouts plan(s) for him</div>

                                                <ng-container>
                                                    <div class="quick-title">User 1</div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <mat-card class="matcard-box">
                                                                <div class="quick-header">
                                                                    <div class="Dumbell-img-2">
                                                                        <img [src]="'assets/images/bestCoach/muscle_ic.png'"
                                                                            alt="image" class="img-fluid">
                                                                    </div>
                                                                    <div class="quick-timer">
                                                                        <img src="assets/images/bestCoach/time_workout.png"
                                                                            alt="image">
                                                                        55:10 min.
                                                                    </div>
                                                                </div>
                                                                <div class="quick-title-work">Testing User</div>
                                                                <div class="quick-span">Hard<img
                                                                        src="assets/images/bestCoach/level_easy.png"
                                                                        alt="image"></div>
                                                                <div class="bench-pnl">
                                                                    <div class="quick-bench">
                                                                        <img [src]="'assets/images/bestCoach/dumble-ic.svg'"
                                                                            alt="image">
                                                                        Push Up Handles
                                                                    </div>
                                                                    <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div> -->
                                                                </div>
                                                            </mat-card>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <div class="workout-mb mt-3">
                                                    <div class="quick">Quick Workouts to add for him</div>
                                                    <div class="quick-work workplan workplan-height">
                                                        <ng-container
                                                            *ngFor="let item of admin_workout_list;let i = index">
                                                            <div class="quick-title">{{item?.name}}</div>
                                                            <div class="row">
                                                                <div *ngFor="let i_item of admin_workout_list[i]?.workouts;let j = index"
                                                                    class="col-lg-6 col-md-6"
                                                                    (click)="goTOAdminEditWorkOut(i_item)">
                                                                    <mat-card class="matcard-box">
                                                                        <div class="quick-header">
                                                                            <div class="Dumbell-img-2">
                                                                                <img [src]="i_item?.workout?.image || 'assets/images/bestCoach/muscle_ic.png'"
                                                                                    alt="image" class="img-fluid">
                                                                            </div>
                                                                            <div class="quick-timer">
                                                                                <img src="assets/images/bestCoach/time_workout.png"
                                                                                    alt="image">
                                                                                {{i_item?.workout?.time_required |
                                                                                secondsToMinutes}}
                                                                                min.
                                                                            </div>
                                                                        </div>
                                                                        <div class="quick-title-work">
                                                                            {{i_item?.workout?.name}}</div>
                                                                        <div class="quick-span">
                                                                            {{i_item?.workout?.level?.name}} <img
                                                                                src="assets/images/bestCoach/level_easy.png"
                                                                                alt="image"></div>
                                                                        <div class="bench-pnl">
                                                                            <div *ngFor="let j_item of i_item?.workout?.equipments"
                                                                                class="quick-bench">
                                                                                <img [src]="j_item?.equipment?.image || 'assets/images/bestCoach/dumble-ic.svg'"
                                                                                    alt="image">
                                                                                {{j_item?.equipment?.name}}
                                                                            </div>
                                                                            <!-- <div class="quick-bench"><img src="assets/images/bestCoach/chair-ic.svg" alt="image">Bench / Chair</div> -->
                                                                        </div>
                                                                    </mat-card>
                                                                </div>
                                                            </div>
                                                        </ng-container>

                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab label="Running">
                                                <div class="workout-mb mt-3">
                                                    <div class="workplan">
                                                        <h4>You made running plan(s)for him</h4>

                                                        <ng-container
                                                            *ngIf="!coach_running_list || (coach_running_list && coach_running_list.length == 0)">
                                                            <div class="Dumbell-img mb-2">
                                                                <img src="assets/images/bestCoach/running_ic_grey.svg"
                                                                    alt="image">
                                                            </div>
                                                            <h6>No running added yet</h6>
                                                            <div class="w-mbtn mb-3"
                                                                routerLink="/coach-layout/my-members/add-running/{{member_user_id}}">
                                                                <i class="bi bi-plus-lg"></i> Add Running
                                                            </div>
                                                        </ng-container>

                                                        <div class="row">
                                                            <div *ngFor="let i_item of coach_running_list;let i = index"
                                                                class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box"
                                                                    (click)="goToRunningDetail(i_item)">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]=" i_item?.image || 'assets/images/bestCoach/muscle_ic.png'"
                                                                                alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer"
                                                                            *ngIf="i_item?.running_type == '1'">
                                                                            <img src="assets/images/bestCoach/time_workout.png"
                                                                                alt="image">
                                                                            {{i_item?.duration}}
                                                                            {{i_item?.duration_unit}}
                                                                        </div>
                                                                        <div class="quick-timer"
                                                                            *ngIf="i_item?.running_type == '3'">
                                                                            <img src="assets/images/bestCoach/time_workout.png"
                                                                                alt="image">
                                                                            {{i_item?.time}} {{'hrs'}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">
                                                                        {{running_type[i_item?.running_type]}}</div>
                                                                    <div *ngIf="i_item?.running_type == 1"
                                                                        class="distance-title">Distance :
                                                                        <span>{{i_item?.distance}}
                                                                            {{i_item?.distance_unit}}</span>
                                                                    </div>
                                                                    <div *ngIf="i_item?.running_type == 2"
                                                                        class="distance-title">Warmup Distance :
                                                                        <span>{{i_item?.warmup_distance}}
                                                                            {{i_item?.warmup_distance_unit}}</span>
                                                                    </div>
                                                                    <div *ngIf="i_item?.running_type == 3"
                                                                        class="distance-title">Race Type :
                                                                        <span>{{i_item?.race_type | titlecase}}</span>
                                                                    </div>
                                                                </mat-card>
                                                            </div>
                                                            <!-- <div class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            08:35 min.
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">Easy Run</div>
                                                                    <div class="distance-title">Distance : <span>5 Km</span></div>
                                                                </mat-card>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="quick">Quick Workouts to add for him</div>
                                                    <div *ngIf="admin_easy_running_list && admin_easy_running_list.length"
                                                        class="quick-work workplan workplan-height">
                                                        <div class="quick-title">Easy Run</div>
                                                        <div class="row">
                                                            <div *ngFor="let item of admin_easy_running_list;let i = index"
                                                                class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box"
                                                                    (click)="goTOAdminEditRunning(item,'1')">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'"
                                                                                alt="image" class="img-fluid">
                                                                        </div>
                                                                        <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png"
                                                                                alt="image">
                                                                            {{item?.duration}} {{item?.duration_unit}}.
                                                                        </div>
                                                                    </div>
                                                                    <div class="quick-title-work">{{item?.name}}</div>
                                                                    <div class="distance-title">Distance :
                                                                        <span>{{item?.distance}}
                                                                            {{item?.distance_unit}}</span>
                                                                    </div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="admin_quality_running_list && admin_quality_running_list.length"
                                                        class="quick-work workplan workplan-height">
                                                        <div class="quick-title">Quality Session</div>
                                                        <div class="row">
                                                            <div *ngFor="let item of admin_quality_running_list;let i = index"
                                                                class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box"
                                                                    (click)="goTOAdminEditRunning(item,'2')">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'"
                                                                                alt="image" class="img-fluid">
                                                                        </div>
                                                                        <!-- <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            08:35 min.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="quick-title-work">{{item?.name}}</div>
                                                                    <div class="distance-title">Warmup Distance :
                                                                        <span>{{item?.warmup_distance}}
                                                                            {{item?.warmup_distance_unit}}</span>
                                                                    </div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="admin_race_running_list && admin_race_running_list.length"
                                                        class="quick-work workplan workplan-height">
                                                        <div class="quick-title">Race</div>
                                                        <div class="row">
                                                            <div *ngFor="let item of admin_race_running_list;let i = index"
                                                                class="col-lg-6 col-md-6">
                                                                <mat-card class="matcard-box"
                                                                    (click)="goTOAdminEditRunning(item,'3')">
                                                                    <div class="quick-header">
                                                                        <div class="Dumbell-img-2">
                                                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'"
                                                                                alt="image" class="img-fluid">
                                                                        </div>
                                                                        <!-- <div class="quick-timer">
                                                                            <img src="assets/images/bestCoach/time_workout.png" alt="image">
                                                                            08:35 min.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="quick-title-work">{{item?.name}}</div>
                                                                    <div class="distance-title">Race Type :
                                                                        <span>{{item?.race_type | titlecase}}</span>
                                                                    </div>
                                                                </mat-card>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab label="Nutrition"></mat-tab>
                                        </mat-tab-group>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="choose-date-active">
                                        <mat-card class="demo-inline-calendar-card">
                                            <mat-calendar></mat-calendar>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                        <div class="activities-workout">
                            <button class="btn btn-circle"><span class="pluse-box"><i class="bi bi-plus"></i></span>
                                Activities</button>
                        </div>

                        <div class="card-bg">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="submember">
                                        <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
                                            <mat-tab label="Group Details">
                                                <div class="workout-mb mt-3">
                                                    <div class="workplan">
                                                        <h5>Group Details</h5>
                                                        <div class="group-panel">
                                                            <div class="group-title">Group Photo</div>
                                                            <div class="group-photo">
                                                                <img [src]="groupData ? groupData.image : 'assets/images/Coach/upload_profile_pic.png'"
                                                                    alt="user" class="avtar-circle">
                                                            </div>
                                                            <div class="group-title">Group Type:<span>
                                                                    {{groupData?.type}}</span></div>
                                                            <div class="group-title">Group Name:<span>
                                                                    {{groupData?.name}}</span></div>
                                                            <hr>
                                                            <div class="group-title">About Group</div>
                                                            <p>{{groupData?.about}}</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab label="Performance">

                                            </mat-tab>
                                            <mat-tab label="Notes">
                                                <mat-card class="p-3 mt-4">
                                                    <div class="notepanle">
                                                        <div class="note-header d-flex justify-content-between">
                                                            <h4>Add Notes</h4>
                                                            <button class="addbtn-2" (click)="addNotes()">Add</button>
                                                        </div>
                                                        <div class="notetext mt-4">
                                                            <textarea class="form-control" rows="4"
                                                                placeholder="Write your notes.."
                                                                [(ngModel)]="notes"></textarea>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="note-des mb-3" *ngFor="let notes of notesList">
                                                        <p>{{notes?.note}}</p>
                                                        <div class="note-remove d-flex justify-content-between">
                                                            <h6>{{notes?.created_at}}</h6>
                                            <div class="noteBtn" (click)="removeNotes(notes)">Remove</div>
                                        </div>
                                                    </div>

                                                </mat-card>

                                            </mat-tab>

                                            <mat-tab label="Members">
                                                <div class="mt-3">
                                                    <div class="member-des d-flex justify-content-between mb-3">
                                                        <h6>{{groupData?.members.length}} Members in this group</h6>
                                                        <button class="btn btn-more" (click)="moreAdd()">+ Add
                                                            More</button>
                                                    </div>

                                                    <div class="card-member mb-3"
                                                        *ngFor="let member of groupData?.members">
                                                        <div class="ch-box-grid">
                                                            <div class="d-flex">
                                                                <div class="img-icon">
                                                                    <img [src]="member?.members?.profile_image ? member?.members?.profile_image : 'assets/images/calories/chl_duration.png'"
                                                                        alt="icon" class="img-fluid">
                                                                </div>
                                                                <div class="ch-title">
                                                                    <h6>{{member?.members?.first_name}}
                                                                        {{member?.members?.last_name}}</h6>
                                                                    <p>Monthly Package</p>
                                                                </div>
                                                            </div>
                                                            <div class="cardRemove">
                                                                <i class="bi bi-person-dash-fill"
                                                                    (click)="removeUser(member)"></i> Remove
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </mat-tab>

                                        </mat-tab-group>
                                    </div>

                                </div>
                                <div class="col-lg-5">
                                    <div class="choose-date-active">
                                        <mat-card class="demo-inline-calendar-card">
                                            <mat-calendar></mat-calendar>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>



    </div>

</section>