.workplan {
    background: #fff;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #E06F0021;
}
.card-bg {
    background: #FCFCFC 0% 0% no-repeat;
    padding: 15px;
}
.workplan h4 {
    font-size: 17px;
}
.workplan h6 {
    font-size: 15px;
    color: #7c7c7cb5;
}
.w-mbtn {
    color: #E06F00;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}
.quick {
    background:#e6e6e67a ;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}
.activities-workout {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    position: absolute;
    right: 0px;
    top: -5px;
}
/* .workplan-height{
    height: 400px;
    overflow-Y: scroll;
} */
.matcard-box{
    cursor: pointer;
}
.distance-title {
    font-size: 13px;
    font-weight: 600;
    color: #7C7C7C;
}
.distance-title span {
    color: #111;
}

.group-title {
    color: #C3C3C3;
}
.group-title span {
    color: #000;
}
.workplan h5 {
    font-size: 17px;
}
.group-photo {
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 50px;
    overflow: hidden;
    margin: 20px 0px;
}
.group-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.group-panel p {
    font-size: 14px;
}

.note-des{
    background: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
}
.noteBtn{
    color: #E06F00;
    cursor: pointer;
}

.card-member {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
    padding: 12px;
    background: #fff;
}
.ch-box-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-more {
    color: #e06f00;
    border: 1px solid #e06f00;
    border-radius: 50px;
    padding: 5px;
    font-size: 15px;
}
.btn-more:hover{
    color: #e06f00;
    border: 1px solid #e06f00;
    border-radius: 50px;
    padding: 5px;
    font-size: 15px;
}
.cardRemove {
    color: #F75959;
    font-size: 16px;
    cursor: pointer;
}

.img-icon{
    height: 50px;
    width: 50px;
    overflow: hidden;
    background: #fff;
    margin-right: 20px;
}
.ch-title h6 {
    font-size: 15px;
    margin-bottom: 0px;
}
.ch-box-grid p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #383838;
}
