<div class="container">
    <div class="row gx-0">
        <div class="col-md-12">
            <h5>Verify Your Email</h5>
            <p class="lng_right_sub_heading">Enter a 4 digit code sent to your email address</p>
        </div>
     
        <div *ngIf="error" class="alert alert-danger" role="alert">
            {{error}}
          </div>
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{successMessage}}
          </div>
          
        <div class="col-md-12">
            <div class="mb-3">
                <mat-form-field class="login-input" appearance="outline">
                    <input matInput [(ngModel)]="otp" (keydown)="mobileNumberValidation($event)" maxlength="4" placeholder="Enter OTP">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12 mb-3 text-end">
            <a (click)="resendOtp()" class="link">Resend OTP</a>
        </div>
       
        <div class="col-md-12">
            <div class="mb-3">
                <button type="submit" (click)="submit()" class="w-100" mat-flat-button color="primary" >Next</button>
            </div>
        </div>
    </div>
</div>