.faq-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0;
  
    .faq-question {
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      span {
        transition: transform 0.3s;
      }
  
      span.open {
        transform: rotate(180deg);
      }
    }
  
    .faq-answer {
      margin-top: 0.5rem;
      color: #555;
      line-height: 1.6;
    }
  }


  