<div class="container padtop-60">
<div class="faq-container">
    <h1>FAQs</h1>
    <div *ngFor="let faq of faqs" class="faq-item">
      <div class="faq-question" (click)="toggleAnswer(faq)">
        {{ faq.question }}
        <span [class.open]="faq.isOpen">&#x25BC;</span>
      </div>
      <div class="faq-answer" *ngIf="faq.isOpen">
        {{ faq.answer }}
      </div>
    </div>
  </div>
  </div>