<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Community</h3>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Feeds">
                <div class="workout-section">
                 
                    <div class="Individual-Workouts py-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="workout-heading">
                                <div class="running-title">Your Joined Feeds</div>
                                <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                            </div>
    
                            <h6 class="see mb-0" routerLink="/trainee-layout/community/see-all" >See All</h6>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let nutrition of youJoinFeedData">
                                <div class="card mb-2"  (click) = "goToPage('/trainee-layout/community/join-group',nutrition)">
                                    <figure class="nutrition-img">
                                        <img class="card-img-top" [src]="nutrition?.cover ? nutrition?.cover : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="Card image cap">
                                    </figure>

                                    <div class="card-body">
                                        <!-- <figure class="nutrition-img">
                                            <img class="" src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure> -->
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <div class="recipe-title">{{nutrition?.name}}</div>
                                            </div>
                                            <div class="nutrition-date d-flex justify-content-between mt-2">
                                                <div class="d-flex justify-content-between w-100">
                                                    <div class="calories-title"><i class="bi bi-people me-1"></i> <span>{{nutrition?.members_count}} Members </span> </div>
                                                    <div class="calories-title"><i class="bi bi-flag me-1"></i> <span>{{nutrition?.posts_count}} Posts</span>  </div>
                                                </div>
                                                    <!-- <button  mat-flat-button color="primary" routerLink="/trainee-layout/food-recipes/details" class="primary-btn">Unlock - 20 SAR</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="workout-heading head-bg p-2 text-center">
                                    <div class="running-title">Feeds you may join</div>
                                    <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                                </div>
                            </div>

                          

                        </div>


                        <div class="row" *ngFor="let nutrition of feedMayJoinList">
                            <div class="col-lg-4 mx-auto my-3" >
                                <div class="card mb-2">
                                    <figure class="nutrition-img nutrition-img1 ">
                                        <img class="card-img-top"  [src]="nutrition ? nutrition.cover :'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="Card image cap">
                                    </figure>

                                    <div class="card-body">
                                        <!-- <figure class="nutrition-img">
                                            <img class="" src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure> -->
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <div class="recipe-title">{{nutrition?.name}}</div>
                                            </div>
                                            <div class="nutrition-date mt-2">
                                                <div class="d-flex gap-5 w-100">
                                                    <div class="calories-title"><i class="bi bi-people me-1"></i> <span>{{nutrition?.members_count}} Members </span> </div>
                                                    <div class="calories-title"><i class="bi bi-flag me-1"></i> <span>{{nutrition?.posts_count}} Posts</span>  </div>
                                                </div>

                                                    <button  mat-flat-button color="primary"  class="primary-btn w-100 mt-3" (click) = "goToPage('/trainee-layout/community/join-group',nutrition)">Join Group</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </mat-tab>

            <mat-tab label="My Feeds">
                <div class="workout-section">
                 
                    <div class="Individual-Workouts py-4">
                       


                        <div class="row">

                            <div class="col-12 mb-3 text-end">
                                <div class="plus-btn d-flex justify-content-end">
                                    <button mat-flat-button color="primary" routerLink="/trainee-layout/community/create-group"> <i class="bi bi-plus-circle-fill"></i> Create Group </button>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let nutrition of myCreatedFeeds">
                                <div class="card mb-2"  (click) = "goToPage('/trainee-layout/community/my-group-post',nutrition)" >
                                    <figure class="nutrition-img">
                                        <img class="card-img-top" [src]="nutrition?.cover ? nutrition?.cover : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="Card image cap">
                                    </figure>

                                    <div class="card-body">
                                        <!-- <figure class="nutrition-img">
                                            <img class="" src="https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp" alt="image" class="img-fluid">
                                        </figure> -->
                                        <div class="nutrition-content">
                                            <div class="nutrition-panle">
                                                <div class="recipe-title">{{nutrition?.name}}</div>
                                            </div>
                                            <div class="nutrition-date d-flex justify-content-between mt-2">
                                                <div class="d-flex justify-content-between w-100">
                                                    <div class="calories-title"><i class="bi bi-people me-1"></i> <span>{{nutrition?.members_count}} Members </span> </div>
                                                    <div class="calories-title"><i class="bi bi-flag me-1"></i> <span>{{nutrition?.posts_count}} Posts</span>  </div>
                                                </div>
                                                    <!-- <button  mat-flat-button color="primary" routerLink="/trainee-layout/food-recipes/details" class="primary-btn">Unlock - 20 SAR</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>

