<section class="successfully-pnl">
    <div class="container">
        <div class="success-grid">
            <img src="assets/images/success_done_check.gif" alt="icon" class="img-fluid">
            <h3>You have successfully subscribed to the<br> monthly package</h3>
            <h4>You can now browse all the features of the monthly package and it will be automatically renewed every month!</h4>
            <div class="succss-btn">
                <button class="w-75" mat-flat-button color="primary" routerLink="/coach-layout/dashboard">Take me to Dashboard</button>
            </div>
        </div>
    </div>
</section>
