<div class="container">
  <form [formGroup]="step_seven_form" (ngSubmit)="submit()">
    <div class="row gx-0">
      <div class="col-md-12">
        <h5>Height & Weight</h5>
        <p class="lng_right_sub_heading">Enter your current height and weight</p>
      </div>
  
      <div class="col-md-12">
        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline">
                <input (keydown)="mobileNumberValidation($event)" maxlength="3" matInput placeholder="Enter You Height" formControlName="height">
                <span class="link" matTextSuffix>CM</span>
            </mat-form-field>
            <mat-error *ngIf="getError('height')">
              Height is Required.    
            </mat-error>
        </div>
      </div>

      <div class="col-md-12">
        <div class="mb-3">
            <mat-form-field class="login-input" appearance="outline" >
                <input (keydown)="mobileNumberValidation($event)" maxlength="3" matInput placeholder="Enter You Weight" formControlName="weight">
                <span class="link" matTextSuffix>KG</span>
            </mat-form-field>
            <mat-error *ngIf="getError('weight')">
               Weight is Required.    
             </mat-error>

        </div>
      </div>
  
      <div class="col-md-12">
        <div class="mb-0">
          <button type="submit" class="w-100" mat-flat-button color="primary" >Next</button>
        </div>
      </div>
    </div>
  </form>
  </div>