<div class="container main_wapper">
    <div class="row justify-content-center my-3">
        <div class="col-md-10">


            <div class="row wrapper auth-card-wrapper gx-0 my-3">
                <div class="col-md-6 left-side">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="carousel-bady">
                                <div class="img_section mb-4">
                                    <img src="assets/images/Coach/tutorial_graphic_a.png" alt="">
                                </div>
                                <div class="text-center">
                                    <h4>We help you guide your clients</h4>
                                    <p class="lng_left_description">Provide complete lifestyle guidance by taking
                                        intakes, setting exercise plans, setting goals, tracking and monitoring their
                                        progress.</p>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="carousel-bady">
                                <div class="img_section mb-4">
                                    <img src="assets/images/Coach/tutorial_graphic_b.png" alt="">
                                </div>
                                <div class="text-center">
                                    <h4>We help you manage your clients</h4>
                                    <p class="lng_left_description">Manage personal information and billing details or
                                        create notes and reminders.</p>
                                </div>
                            </div>
                        </ng-template><ng-template carouselSlide>
                            <div class="carousel-bady">
                                <div class="img_section mb-4">
                                    <img src="assets/images/Coach/tutorial_graphic_c.png" alt="">
                                </div>
                                <div class="text-center">
                                    <h4>Your customer platform</h4>
                                    <p class="lng_left_description">The Harwalah platform for captains syncs with the
                                        Harwalah for users, where your clients can see their workout and nutrition
                                        plans, manage their profile and record their progress.</p>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
                <div class="col-md-6 right-side">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="d-flex gap-5  justify-content-center">
                <a routerLink="" class="link">Join us as a Trainee</a>
                <a routerLink="" class="link">Login to your Account</a>
            </div>
        </div>

    </div>
</div>