

.left-side {
  background-color: #fcfcfc;
  height: 465px;
}

.right-side {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 10px #e06f0021;
  height: 465px;
}

.link {
  color: #e06f00;
}

.continue_with {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.register_now{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
}

.social-media-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media-wrapper .item {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #e06f0021;
  border: 1px solid #e6e6e6;
  border-radius: 41px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.Harwalah_login_log{
  width: 100%;
  aspect-ratio: 6/4;
}