<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
                <mat-tab label="I am a Trainee">
                    <div class="row wrapper auth-card-wrapper gx-0">
                        <div class="col-md-6 left-side">
                            <div class="text-center">
                                <img class="Harwalah_login_log" src="assets/images/login_logo.svg" alt="" />
                                <h5>Because We Understand Sports</h5>
                                <p class="lng_left_description">
                                    We have prepared sports programs for all groups, for those who
                                    love exercising at home.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 right-side">
                            <div *ngIf="error" class="alert alert-danger" role="alert">
                                {{error}}
                              </div>
                            <h6>
                                Login to get access more <span class="link">for fitness</span>
                            </h6>
                            <p class="lng_right_sub_heading">Let's start your healthy life with Harwalah</p>
                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="mb-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Enter Email Address" formControlName = "email" />
                                    </mat-form-field>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"  formControlName = "password"/>
                                        <button mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <img [src]="hide ? 'assets/images/M2_Trainee_Assets/password_hide.png' : 'assets/images/M2_Trainee_Assets/password_show.png'" />
                                        </button>
                                    </mat-form-field>
                                </div>
    
                                <div class="mb-3 d-flex justify-content-between align-items-center">
                                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                                    <a routerLink="/forget-password/USER" class="link">Forget Password?</a>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="w-100" mat-flat-button color="primary">
                                        Login
                                    </button>
                                </div>
                            </form>
                            
                            <div class="mb-3">
                                <p class="continue_with mb-2">Or Continue With</p>
                                <div class="social-media-wrapper mb-2">
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets//lgn_google.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets/lgn_x.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets/lgn_facebook.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets/lgn_apple.png" alt="">
                                    </div>
                                </div>
                                <p class="register_now">
                                    New at Harwalah Platform?
                                    <a routerLink="/trainee/create-account/step-1" class="link">Register Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-5  justify-content-center">
                        <a routerLink="" class="link">Join us as a Coach</a>
                    </div>
                </mat-tab>
                <mat-tab label="I am a Coach">
                    <div class="row wrapper auth-card-wrapper gx-0">
                        <div class="col-md-6 left-side">
                            <div class="text-center">
                                <img class="Harwalah_login_log" src="assets/images/login_logo.svg" alt="" />
                                <h5>Because We Understand Sports</h5>
                                <p class="lng_left_description">
                                    We have prepared sports programs for all groups, for those who
                                    love exercising at home.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 right-side">
                            <div *ngIf="error" class="alert alert-danger" role="alert">
                                {{error}}
                              </div>
                            <h6>
                                Login to get access more <span class="link">for fitness</span>
                            </h6>
                            <p class="lng_right_sub_heading">Let's start your healthy life with Harwalah</p>
                            <form [formGroup]="loginForm" (ngSubmit)="login('coach')">
                                <div class="mb-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Enter Email Address" formControlName = "email"/>
                                    </mat-form-field>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName = "password" />
                                        <button mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <img [src]="hide ? 'assets/images/M2_Trainee_Assets/password_hide.png' : 'assets/images/M2_Trainee_Assets/password_show.png'" />
                                        </button>
                                    </mat-form-field>
                                </div>

                                <div class="mb-3 d-flex justify-content-between align-items-center">
                                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                                    <a routerLink="/forget-password/COACH" class="link">Forget Password?</a>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="w-100" mat-flat-button color="primary" >
                                        Login
                                    </button>
                                </div>
                            </form>
                            <div class="mb-3">
                                <p class="continue_with mb-2">Or Continue With</p>
                                <div class="social-media-wrapper mb-2">
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets//lgn_google.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets/lgn_x.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets/lgn_facebook.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/images/M2_Trainee_Assets/lgn_apple.png" alt="">
                                    </div>
                                </div>
                                <p class="register_now">
                                    New at Harwalah Platform?
                                    <a routerLink="/coach/create-account/step-1" class="link">Register Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-5  justify-content-center">
                        <a routerLink="" class="link">Join us as a Trainee</a>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        
    </div>
</div>