
.form-group .form-control{
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px;
    font-size:15px;
}

.form-control::placeholder{
    color: #B1B1B1;
}

.form-control:focus{
    box-shadow: none;
    border-color: #E06F00!important;
}

label{
    font-size: 15px;
    color: #000000;
    display: block;;
}

.select-gender .btn-group{
    width: 100%;
    gap: 20px;
}

.select-gender .btn-outline-primary{
    height: 120px;
    width: 100%;
    border-color: #DBDBDB;
    border-radius: 12px;
    position: relative;
}

/* .img-box{
    width: 100%;
    height: 80px;
    position: absolute;
} */

.select-gender .btn-outline-primary img{
    width: 80%;
    height: 118px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -0%);
}

.select-gender .btn-check:checked+.btn{
    border-color: #E06F00!important;
    background-color: transparent;
    color: #E06F00;
}   


.select-gender .btn-check {
    position: absolute;
    clip: auto;
    pointer-events: none;
    right: 8px;
    top: 8px;
    accent-color: #E06F00;
}

.fitness-card .card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 19px #BEBEBE29;
    border-radius: 15px;
    opacity: 1;
    border: none;
}

.fitness-card .card-title{
    font-size:15px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    line-height: 1;
    margin-bottom: 8px;
}

.fitness-card .card-text{
    font-size:13px;
    letter-spacing: 0px;
    color: #7C7C7C;
    margin-bottom: 0px;
}

 /* .tab-content{
    width: 85%!important;
}

 .tab-pane{
    width: 85%!important;
} */


.nav-pills .nav-link.active{
    position: relative;
}

.tab-content>.active {
    display: block;
    position: absolute;
    right: 0;
    top:0%;
}



.dropdown-menu{
    padding: 0px;
    border: none;
    width: 85%;
}

.dropdown .dropend{
    position: relative;
}

.dropdown-menu.show {
    left: 10%!important;
display: block;
/* transform: translate3d(102px, -15px, 0px)!important; */

}



/* .dropdown-menu.show {
    left: 10%!important;
display: block;
transform: translate3d(102px, -15px, 0px)!important;

}

.menu1.show{
    transform: translate3d(102px, 0px, 0px)!important;

} */



.dropdown .btn-primary{
    width: 20px;
    border: 1px solid #fff;
    padding: 0px;
    height: 70px;
    border-radius: 0px 0px;
}




.green-btn{
    background-color: #169a49;
    border-radius: 10px 10px 0px 0px!important;

}

.light-grn{
    background-color: #75c92f;
}

.yellow{
    background-color: #fbeb47;
}

.red{
    background-color: #a40d0b;
    border-radius: 0px 0px 10px 10px!important;

}

.orange{
    background-color: #da5800;
}


.grn-arw-img{
    position: absolute;
    left: -10%;
    right: 0px;
    z-index: 99;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropend .dropdown-toggle::after {
    display: none!important;
}

/* .dropdown .btn-primary:nth-child(1){
   
    border-radius: 10px 10px 0px 0px;
} */


