<div class="card">
    <div class="card-header-pnl text-center">
        <h4>{{data.text}}</h4>
    </div>
    <div class="all-btn text-center mt-4">
        <button mat-flat-button mat-dialog-close color="primary" class="primary-btn">OK</button>
        <!-- <button mat-flat-button mat-dialog-close color="primary" class="primary-btn-cancel primary-btn ">Cancel</button> -->
    </div>
</div>