<div class="container">
  <div class="row gx-0">
    <div class="col-md-12">
      <h5>Specialties</h5>
      <p class="lng_right_sub_heading">Select a specialties and continue</p>
    </div>

    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('running')" (click)="checkedStepFive('running')" id="cb1" checked />
        <label class="customCheckBox" for="cb1"><img src="assets/images/Coach/spec_running.png" />
          <p>Running</p>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('work at home')" (click)="checkedStepFive('work at home')" id="cb2" />
        <label class="customCheckBox" for="cb2"><img src="assets/images/Coach/spec_workout_at_home.png" />
          <p>Workout at Home</p>
        </label>

      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('cross training')" (click)="checkedStepFive('cross training')" id="cb3" />
        <label class="customCheckBox" for="cb3"><img src="assets/images/Coach/spec_cross_training.png" />
          <p>Cross Training</p>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('strength training')" (click)="checkedStepFive('strength training')" id="cb4" />
        <label class="customCheckBox" for="cb4"><img src="assets/images/Coach/spec_stregth_training.png" />
          <p>Strength Training</p>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('endurance training')" (click)="checkedStepFive('endurance training')" id="cb5" />
        <label class="customCheckBox" for="cb5"><img src="assets/images/Coach/spec_endurance_traning.png" />
          <p>Endurance Training</p>
        </label>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('Weight loss')" (click)="checkedStepFive('Weight loss')" id="cb6" />
        <label class="customCheckBox" for="cb6"><img src="assets/images/Coach/spec_yoga.png" />
          <p>Endurance Training</p>
        </label>
      </div>
    </div> -->
    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('nutrition plans')" (click)="checkedStepFive('nutrition plans')" id="cb7" />
        <label class="customCheckBox" for="cb7"><img src="assets/images/Coach/spec_nutritian_plans.png" />
          <p>Nutrition Plans</p>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-0">
        <input type="checkbox" [checked]="isCheckStepFive('other')" (click)="checkedStepFive('other')" id="cb8" />
        <label class="customCheckBox" for="cb8"><img src="assets/images/Coach/spec_other.png" />
          <p>Other</p>
        </label>
      </div>
    </div>


    <div class="col-md-12">
      <div class="mb-0">
        <button class="w-100" type="submit" (click)="submit()" mat-flat-button color="primary">Next</button>
      </div>
    </div>
  </div>
</div>