.workout-section {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px 20px;
}
.work-details-pnl {
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 2px 3px #E06F0021;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
}
.work-card-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    background: transparent linear-gradient(132deg, #d3752b40 0%, #b4552021 100%) 0% 0% no-repeat;
    border-radius: 6px;
    padding: 13px;
}
.work-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.work-card-body {
    display: flex;
}
.easy-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.easy-flex ul li {
    display: inline-flex;
}
.Dumbbell-icon li {
    float: left;
    margin: 0px 3px;
}

.quick-tainer {
    padding: 7px;
    text-align: center;
    font-size: 15px;
    background: #e6e6e663 0% 0% no-repeat;
    color: #7C7C7C;
}

.user-chat-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-chat-name img {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 40px;
    margin-right: 10px;
}
.user-chat-name span {
    font-size: 14px;
    font-weight: 600;
}
.user-chat-date {
    font-size: 14px;
}
.user-chat-date i {
    color: #8BC34A;
    margin-right: 5px;
}
.comment-chat-pnl {
    background: #FCFCFC 0% 0% no-repeat;
    border-radius: 10px;
    padding: 8px;
    margin-top: 15px;
}
.comment-chat-pnl p {
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 5px;
}
.play-m {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 9px;
    margin-bottom: 10px;
}
.play-m .user-chat-date {
    font-size: 14px;
    color: #df6e00;
    cursor: pointer;
}
.btn-circle-send {
    height: 40px;
    width: 40px;
    border: 1px solid #e06f00;
    border-radius: 50%;
    margin: 0px 11px;
    color: #e06f00;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-circle-send:hover {
    border: 1px solid #e06f00;
    color: #e06f00;
}
.work-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addcalendar {
    border: 1px solid #C3C3C3;
    border-radius: 20px;
    padding: 6px;
    color: #C3C3C3;
}
.addcalendar img {
    height: 16px;
    margin: 3px;
}
.addcalendar i {
    color: #e06f00;
    margin: 5px;
    cursor: pointer;
}
.remove-text{
    color: #e06f00;
    font-weight: 500;
    margin: 4px;
    cursor: pointer;
}