<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header mb-3">
            <h3 class="title-hd mb-0">Chat</h3>
        </div>
        <div class="card-bg">
            <div class="workouts-wapper">
                <div class="p-3">
                    <div class="dashboard-content-2 w-100">
                        
                        <div class="dashboard-content">
                            <div class="userheader">
                               <div class="d-flex gap-3 align-items-center">
                                    <div class="user-pic">
                                        <img [src]="(group_data?.groupImage) ? group_data?.groupImage : 'assets/images/Coach/upload_profile_pic.png'">
                                    </div>
                                    <div class="u-name">
                                        <h6>{{group_data?.groupName}}</h6>
                                    </div>
                               </div>
                               <div class="chat-close" routerLink="/trainee-layout/group-details">
                                    <i class="bi bi-x-square"></i> Close
                               </div>

                            </div>
                            <div class="msger">
                                <main class="msger-chat" id="scrollProperty">

                                    <ng-container *ngFor="let msg of message_data">
                                        <div *ngIf="this.localStorageData?.user_id != msg.senderId;else elseMsgBox" class="msg left-msg">
                                            <div>
                                            </div>
    
                                            <div class="msg-bubble">
                                                <div class="msg-info">
                                                    <div class="msg-info-name">{{msg?.senderName}}</div>
                                                    <div class="msg-info-time">{{msg?.timestamp | date : 'h:mm a'}}</div>
                                                </div>
    
                                                <div class="msg-text">
                                                    {{msg?.message}}
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #elseMsgBox>
                                            <div class="msg right-msg">
                                                <div>
                                                </div>
                                                <div class="msg-bubble">
                                                    <div class="msg-info">
                                                        <!-- <div class="msg-info-name">{{msg?.senderName}}</div> -->
                                                        <!-- <div class="msg-info-time">{{msg?.timestamp | date : 'h:mm a'}}</div> -->
                                                    </div>
                                                    <div class="msg-text">
                                                        {{msg?.message}}
                                                    </div>
                                                    <div class="msg-info-time">{{msg?.timestamp | date : 'h:mm a'}}</div>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-container>

                                    <!-- <div class="msg left-msg">
                                        <div class="msg-img" style="background-image: url(assets/images/user.png);">
                                        </div>

                                        <div class="msg-bubble">
                                            <div class="msg-info">
                                                <div class="msg-info-name">Admin</div>
                                                <div class="msg-info-time">12:45</div>
                                            </div>

                                            <div class="msg-text">
                                                Hi, welcome to USER.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="msg right-msg">
                                        <div class="msg-img" style="background-image: url(assets/images/user.png)">
                                        </div>
                                        <div class="msg-bubble">
                                            <div class="msg-info">
                                                <div class="msg-info-name">user</div>
                                                <div class="msg-info-time">12:46</div>
                                            </div>
                                            <div class="msg-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam
                                                corrupti sunt quibusdam eius optio aliquam nobis dolorum.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="msg right-msg">
                                        <div class="msg-img" style="background-image: url(assets/images/user.png)">
                                        </div>
                                        <div class="msg-bubble">
                                            <div class="msg-info">
                                                <div class="msg-info-name">user</div>
                                                <div class="msg-info-time">12:46</div>
                                            </div>
                                            <div class="msg-text">
                                                Lorem ipsum dolor sit amet
                                            </div>
                                        </div>
                                    </div> -->
                                </main>

                                <form class="msger-inputarea">
                                    <input [(ngModel)]="message" [ngModelOptions]="{standalone: true}" type="text" class="msger-input" placeholder="Enter your message...">
                                    <button type="submit" class="msger-send-btn" (click)="submit()"><i class="bi bi-send"></i></button>
                                </form>
                            </div>

                        </div>
                    </div>



                </div>
            </div>

        </div>


    </div>

</section>