<div class="container main_wapper">
    <div class="row my-4 justify-content-center">
        <div class="col-md-10">
            <div class="row wrapper auth-card-wrapper gx-0 mb-4">
                <div class="col-md-6 left-side">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="carousel-bady">
                                <div class="img_section mb-4">
                                    <img src="assets/images/M2_Trainee_Assets/tutorial_graphic_a.png" alt="">
                                </div>
                                <div class="text-center">
                                    <h4>Enjoy the best diet</h4>
                                    <p class="lng_left_description" >With Harwalah, you can track your nutritional activity and choose daily
                                        nutritional systems and recipes</p>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="carousel-bady">
                                <div class="img_section mb-4">
                                    <img src="assets/images/M2_Trainee_Assets/tutorial_graphic_b.png" alt="">
                                </div>
                                <div class="text-center">
                                    <h4>Enjoy the best diet</h4>
                                    <p class="lng_left_description">With Harwalah, you can track your nutritional activity and choose daily
                                        nutritional systems and recipes</p>
                                </div>
                            </div>
                        </ng-template><ng-template carouselSlide>
                            <div class="carousel-bady">
                                <div class="img_section mb-4">
                                    <img src="assets/images/M2_Trainee_Assets/tutorial_graphic_c.png" alt="">
                                </div>
                                <div class="text-center">
                                    <h4>Enjoy the best diet</h4>
                                    <p class="lng_left_description">With Harwalah, you can track your nutritional activity and choose daily
                                        nutritional systems and recipes</p>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
                <div class="col-md-6 right-side">
                   <router-outlet></router-outlet>
                </div>
            </div>
            <div class="d-flex gap-5  justify-content-center">
                <a routerLink="" class="link">Join us as a Coach</a>
                <a routerLink="" class="link">Login to your Account</a>
            </div>
        </div>

    </div>
</div>