@import url("../../auth/login/login.component.css");

.left-side {
  background-image: url("src/assets/images/tutorial_bg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.img_section img {
  object-fit: contain;
  aspect-ratio: 7 / 5;
}

.right-side {
  padding: 28px !important;
  overflow-y: auto;
}

.right-side::-webkit-scrollbar {
  display: none;
}


