.groupVot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: transparent linear-gradient(253deg, #e06f000f 0%, #fcb56f3d 100%) 0% 0% no-repeat;
}
.g-vot h6 {
    font-size: 14px;
    margin-bottom: 0px;
}
.g-vot p {
    font-size: 13px;
    color: #E06F00;
}
.edit-btn {
    font-size: 13px;
    color: #2196F3;
    cursor: pointer;
    font-weight: 500;
}
.upload-title{
    font-size: 13px;
    color: #E06F00;
    position: relative;
    padding-left: 10px;
}
#groupUpload {
    position: absolute;
    left: 20px;
    width: 110px;
    opacity: 0;
}
.bannerUpload .bannerHoverable {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50px;
    border: 1px dashed #707070;
    cursor: pointer;
}
.bannerHoverable img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.group-img {
    display: flex;
    align-items: center;
    position: relative;
}
.form-control:focus {
    color: rgb(0 0 0 / 78%);
    background-color: var(--bs-body-bg);
    border-color: #ddd;
    outline: 0;
    box-shadow: none;
    font-size: 14px;
}
textarea::placeholder {
    color: rgb(0 0 0 / 78%);
    font-size: 14px;
}
.form-control{
    border-radius: 20px;
    padding: 10px;
}