<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Create Group</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/member-groups">Back</button>
        </div>
        <div class="card-bg">
            <div class="row">
               <div class="col-lg-6">
                <mat-card>
                    <form [formGroup]="groupForm" (ngSubmit)="saveGroup()" >
                        <div class="member-card-add">
                            <p>Just in two simple step create a new group</p>
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <div class="group-img">
                                        <div>
                                            <div class="bannerUpload">
                                                <label class="bannerHoverable " for="groupimg">
                                                    <img class="Banner" [src]="urlgroup ? urlgroup : 'assets/images/Coach/upload_coverpage.png'" alt="profileImage">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="upload-title">
                                            Upload a group image
                                            <input id="groupUpload" type='file' accept="image/*" (change)="onSelectBanner($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-danger" *ngIf="submitted && !urlgroup">
                                    Group Image is required
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field appearance="outline" class="login-select">
                                        <mat-select  form aria-placeholder="Select A Group Type"
                                            formControlName="type"  placeholder="Select A Group Type">
                                            <mat-option value="Running">Running</mat-option>
                                            <mat-option value="Workout">Workout</mat-option>
                                            <mat-option value="Nutrition Reciepe">Nutrition Reciepe</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="text-danger" *ngIf="submitted && f('type') && f('type')?.['required']">
                                        Type is required
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="login-input" appearance="outline">
                                        <input matInput placeholder="Group Name" formControlName="name">
                                    </mat-form-field>
                                    <div class="text-danger" *ngIf="submitted && f('name') && f('name')?.['required']">
                                        Group Name is required
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="login-input-area">
                                        <textarea rows="3" class="form-control" formControlName="about" placeholder="Write something about group...…."></textarea>
                                    </div>
                                    <!-- <div class="text-danger" *ngIf="submitted && f('about') && f('about')?.['required']">
                                        About is required
                                    </div> -->
                                </div>
                                <div *ngIf="groupForm && groupForm.value.type == 'Running'" class="col-md-12 mt-3">
                                    <div class="groupVot">
                                            <div class="g-vot">
                                                <h6>VO2 Max : 53.45</h6>
                                                <p>Set VDOT from Race Ability</p>
                                            </div>
                                            <div class="edit-btn"><i class="bi bi-pencil-square"></i> Edit</div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-12 mt-3">
                                    <div class="all-btn text-center">
                                        <button mat-flat-button color="primary" class="primary-btn-cancel primary-btn ">Cancel</button>
                                        <button type="submit" mat-flat-button color="primary" class="primary-btn" >Next</button>
                                    </div>
                                </div>

                            </div>
                    
                        </div>
                    </form>
                </mat-card>
               </div>
            </div>
           

        </div>


    </div>

</section>
