.card{
    padding: 22px;
}
.remove-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #e06f00;
}
.otp-title {
    font-size: 13px;
    color: #e06f00;
    font-weight: 600;
    position: absolute;
    top: 8px;
    right: 0;
    text-decoration: underline;
}
.card-2 {
    width: 410px;
    padding: 17px;
}
.all-btn .width-100 {
    width: 100% !important;
}