<div class="card-2">
    <h4>Verify Email </h4>
    <p>Enter a 4 digit code sent to email.</p>
    <div id="closeDialog" class="remove-icon" mat-dialog-close><i class="bi bi-x-circle-fill"></i></div>
    <mat-form-field class="login-input" appearance="outline">
        <input matInput [(ngModel)]="otp" maxlength="4" placeholder="Enter OTP">
        <!-- <div (click)="ResendOtp()" class="otp-title">Resend OTP</div> -->
        <div *ngIf="!resendDisabled" (click)="ResendOtp()" class="otp-title">Resend OTP</div>
        <div *ngIf="resendDisabled" class="otp-title">{{ formatTimer(timer) }}</div>
    </mat-form-field>
    <div class="all-btn text-center mt-4">
        <button type="submit" (click)="submitVerifyOtp()" mat-flat-button color="primary" class="primary-btn width-100">Verify</button>
    </div>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{showError}}
    </div>
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
</div>
