<section class="subscription-wapper padtop-601 mt-3 mb-5">
    <div class="container padtop-60">
        <div class="member-header2 mb-3">
            <h3 class="title-hd mb-0">Select Workout</h3>
            <button class="btn btn-circle w-back" routerLink="/coach-layout/my-members">Back</button>
        </div>
        <div class="card-bg p-4">
            <form [formGroup]="workOutForm" >
                <div class="row g-0">
                    <div class="col-lg-6 col-md-6">
                        <mat-card>
                            <div class="member-card-add">
                                <h6>Select exercises</h6>
                                <mat-form-field class="login-input search-itp me-4" appearance="outline">
                                    <span matPrefix class="me-33"> <mat-icon matSuffix>search</mat-icon></span>
                                    <input type="text" [(ngModel)]="search_text" [ngModelOptions]="{standalone: true}" (keydown)="filterForSearch()" matInput placeholder="Search member by name"/>
                                </mat-form-field>
                            </div>
                            <div class="select-pnl">
                                <div *ngFor="let item of exercise_list" class="exercises-list">
                                    <div>
                                        <i class="bi bi-list"></i>
                                        <div class="exercises-img-ic">
                                            <img [src]="item?.image || 'assets/images/bestCoach/muscle_ic.png'" alt="image" class="img-fluid">
                                        </div>
                                        <h5 class="exercise-title">{{item?.name}}</h5>
                                    </div>
                                    <div class="work-time week-days">
                                        {{item?.counting_method == 'repeat'? "Rep-":"00:"}}{{item?.steps}}
                                        <mat-checkbox (change)="select_exercise(item?.exercise_id,item)" [checked]="check_exercise_selection(item?.exercise_id)" class="example-margin"></mat-checkbox>
                                    </div>
                                </div>
                                <!-- <div class="exercises-list">
                                    <div>
                                        <i class="bi bi-list"></i>
                                        <div class="exercises-img-ic">
                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                        </div>
                                        <h5 class="exercise-title">Cardio exercise using dumbbells</h5>
                                    </div>
                                    <div class="work-time week-days">
                                        00:45
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </div>
                                </div>
                                <div class="exercises-list">
                                    <div>
                                        <i class="bi bi-list"></i>
                                        <div class="exercises-img-ic">
                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                        </div>
                                        <h5 class="exercise-title">Cardio exercise using dumbbells</h5>
                                    </div>
                                    <div class="work-time week-days">
                                        00:45
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </div>
                                </div>
                                <div class="exercises-list">
                                    <div>
                                        <i class="bi bi-list"></i>
                                        <div class="exercises-img-ic">
                                            <img src="assets/images/bestCoach/muscle_ic.png" alt="image" class="img-fluid">
                                        </div>
                                        <h5 class="exercise-title">Cardio exercise using dumbbells</h5>
                                    </div>
                                    <div class="work-time week-days">
                                        00:45
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </div>
                                </div> -->
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <mat-form-field appearance="outline" class="login-select">
                                        <input matInput formControlName="time_required" placeholder="Enter Time Required To Complete The Exercises">
                                        <div matSuffix class="sec-title">Sec</div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="all-btn text-center">
                                        <button mat-flat-button color="primary" (click)="goBack()" class="primary-btn-cancel primary-btn">
                                            Cancel
                                        </button>
                                        <button mat-flat-button color="primary"(click)="submit()" type="submit" class="primary-btn">Save</button>
                                    </div>
                                </div>

                            </div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="filter-grid">
                            <div class="d-filter">
                                <div>Filter</div>
                                <div (click)="clearFilter()" class="sec-title">Clear Filter</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <mat-label>Level</mat-label>
                                    <mat-form-field appearance="outline" class="login-select">
                                        <mat-select [(ngModel)]="level_selection" (selectionChange)="applyFilter()" [ngModelOptions]="{standalone: true}" placeholder="Select Level">
                                            <!-- <mat-option value="Running">Running</mat-option> -->
                                            <mat-option *ngFor="let item of levels" [value]="item?.level_id">{{item?.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="workout-check">
                                <h6 class="font-title pt-3">Equipment</h6>

                                <mat-button-toggle-group name="ingredients" [(ngModel)]="equipment_selection" [ngModelOptions]="{standalone: true}" aria-label="Ingredients" (change)="applyFilter()" multiple>
                                    <mat-button-toggle *ngFor="let item of equipments"  [value]="item?.equipment_id">
                                        <div class="workLists">
                                            <div class="workTitle">
                                                <img [src]="item?.image || 'assets/images/bestCoach/chair-ic.svg'" alt="image">
                                                {{item?.name}}
                                            </div>
                                        </div>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <h6 class="font-title pt-3">Front Muscles</h6>
                            <mat-button-toggle-group name="ingredients" class="frontpnl" aria-label="Ingredients" [(ngModel)]="frount_selection" [ngModelOptions]="{standalone: true}" multiple (change)="applyFilter()">
                                <mat-button-toggle *ngFor="let item of frontMuscles" [value]="item?.muscles_id">
                                    <div class="workLists">
                                        <div class="workTitle">
                                            <img [src]="item?.image || 'assets/images/bestCoach/chair-ic.svg'" alt="image">
                                            <p> {{item?.name}}</p>
                                        </div>
                                    </div>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                            
                            <h6 class="font-title pt-3">Back Muscles</h6>
                            <mat-button-toggle-group name="ingredients" class="frontpnl"  aria-label="Ingredients" [(ngModel)]="back_selection" [ngModelOptions]="{standalone: true}" multiple (change)="applyFilter()">
                               
                                <mat-button-toggle *ngFor="let item of bankMuscles" [value]="item?.muscles_id">
                                    <div class="workLists">
                                        <div class="workTitle">
                                            <img [src]="item?.image || 'assets/images/bestCoach/chair-ic.svg'" alt="image">
                                            <p> {{item?.name}}</p>
                                        </div>
                                    </div>
                                </mat-button-toggle>
                                <!-- <mat-button-toggle value="1">
                                    <div class="workLists">
                                        <div class="workTitle">
                                            <img src="assets/images/bestCoach/chair-ic.svg" alt="image">
                                            <p> Weight lifting</p>
                                        </div>
                                    </div>  
                                </mat-button-toggle>
                                <mat-button-toggle value="1">
                                    <div class="workLists">
                                        <div class="workTitle">
                                            <img src="assets/images/bestCoach/chair-ic.svg" alt="image">
                                            <p> Weight lifting</p>
                                        </div>
                                    </div>
                                </mat-button-toggle> -->
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>

            </form>
        </div>


    </div>

</section>
