.exercises-img-ic {
    width: 50px;
    height: 50px;
    background: #eee;
    padding: 6px;
    margin: 0px 7px;
    border-radius: 11px;
}
.exercises-list div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.exercise-title {
    font-size: 13px;
    margin-bottom: 0px;
    width: 180px;
    line-height: 1.2;
    font-weight: 600;
}
.exercises-list {
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    margin-bottom: 15px;
}
.exercises-list i {
    font-size: 21px;
    color: #b7b5b5;
    padding: 6px;
}
.select-pnl {
    padding: 16px;
}
.work-time {
    color: #E16F00;
    font-weight: 600;
    font-size: 14px;
}
.sec-title{
    color: #E16F00;
    font-size: 14px;
    margin-right: 15px
}
.d-filter {
    display: flex;
    justify-content: space-between;
}
.filter-grid {
    background: #F4F4F4 0% 0% no-repeat;
    padding: 11px;
    border-radius: 6px;
}

.workLists p {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
}
.workTitle {
    font-size: 14px;
}