ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="radio"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #ddd;
  padding: 20px 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 15px;
  height: 120px;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.customCheckBox:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  border: 1px solid #ddd;
  top: 5px;
  right: 5px;
}

label img {
  height: 50px;
  width: 100%;
  object-fit: contain;
}

:checked + label {
  border-color: var(--primary-color);
}

:checked + label:before {
  content: "✓";
  background-color: var(--primary-color);
  transform: scale(1);
  font-size: 12px;
  font-weight: bold;
}

:checked + label img {
  z-index: -1;
}


.customCheckBox p{
    font-size: 11px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}