<div class="container">
    <div class="row gx-0">
            <div class="col-md-12">
                <h5>Reason to Use Harwalah Platform</h5>
                <p class="lng_right_sub_heading">Select a reason and continue</p>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <input type="checkbox" (click)="checkedStepFour('Workout')" [checked]="isCheckStepFour('Workout')" id="cb1" value="Workout" />
                    <label class="customCheckBox" for="cb1"><img src="assets/images/workout/workout.png" />
                    <p>Workout</p></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="checkbox" (click)="checkedStepFour('Dietary System & Recipes')" [checked]="isCheckStepFour('Dietary System & Recipes')" id="cb2" value="Dietary System & Recipes"/>
                    <label class="customCheckBox" for="cb2"><img src="assets/images/dietary_sytems_recipes/dietary_sytems_recipes.png" />
                    <p>Dietary systems & recipes</p></label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="checkbox" (click)="checkedStepFour('Both Workout & Dietary')" id="cb3" [checked]="isCheckStepFour('Both Workout & Dietary')" value="Both Workout & Dietary"/>
                    <label class="customCheckBox" for="cb3"><img src="assets/images/two_together/two_together.png" />
                        <p>Both Workout & Dietary</p>
                    </label>
                </div>
            </div>


            <div class="col-md-12">
                <div class="mb-3">
                    <button type="submit" (click)="submit()" class="w-100" mat-flat-button color="primary" >Next</button>
                </div>
            </div>
        </div>
</div>