/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
html,
body {
  height: 100%;
}

* {
 
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Almarai", Regular;
}

.text-org{
  color:#E06F00!important;
}

h5,
h4 {
  font: normal normal bold 20px/30px Almarai;
  letter-spacing: 0px;
  color: #383838;
  opacity: 1;
}

h6 {
  font: normal normal bold 16px Almarai;
  letter-spacing: 0px;
  color: #383838;
}

.owl-theme .owl-nav,
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -5px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 20px;
  transition: 2ms;
}
:root {
  --primary-color: #e06f00;
  --secondary-color: #b1b1b1;
  --dark-color: #383838;
  --white-color: #ffffff;
}

.link {
  color: var(--primary-color);
}

/************** buttons css start*********/
.white-btn {
  background: var(--white-color) 0% 0% no-repeat padding-box !important;
  border-radius: 27px !important;
  letter-spacing: 0px !important;
  color: var(--primary-color) !important;
  width: 120px !important;
  padding: 0 !important;
  height: 40px !important;
  font-size: 14px !important;
}

.outline-white-btn {
  border: 1px solid var(--white-color) !important;
  border-radius: 27px !important;
  letter-spacing: 0px;
  width: 130px !important;
  padding: 0 !important;
  height: 40px !important;
  color: var(--white-color) !important;
  font-size: 14px !important;
}

.auth-btn .primary-btn {
  width: 100% !important;
}

.primary-btn {
  background: var(--primary-color) 0% 0% no-repeat padding-box !important;
  border-radius: 27px !important;
  opacity: 1;
  letter-spacing: 0px !important;
  color: var(--white-color) !important;
  width: 130px !important;
  padding: 0 !important;
  height: 40px !important;
  font-size: 14px !important;
}

/************** buttons css end*********/

/******** material tab design ***********/

.mdc-tab {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 5px 12px #0000001a;
  border-radius: 61px;
}

.mdc-tab--active {
  background: #e06f00 0% 0% no-repeat padding-box;
  border-radius: 61px;
  opacity: 1;
}

/* .mdc-tab .mat-mdc-tab .mat-mdc-focus-indicator{
  background: #C4C4C4;
  border-radius: 18px 18px 0px 0px!important;
  } */

.mdc-tab--active .mdc-tab__text-label {
  color: #fff !important;
  font-weight: 500;
}

.mat-mdc-tab-labels {
  margin: 10px 0px 20px 0px;
  gap: 20px;
}

.mdc-tab-indicator__content--underline {
  border-color: transparent !important;
}

.mat-mdc-tab .mdc-tab__text-label,
.mat-mdc-tab-link .mdc-tab__text-label {
  color: var(--primary-color) !important;
  font-weight: 500;

  letter-spacing: 0;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: #fff !important;
  font-weight: 500;
}

.mat-mdc-tab.mdc-tab {
  height: 42px !important;
}

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled="false"] {
  background: rgba(0, 0, 0, 0) !important;
}

.mat-mdc-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}
/******** material tab design ***********/

/* login-input starts */
.login-input {
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 31px;
}

.login-input1{
  border-radius: 10px!important;

}
/* / change border color & width  / */
.login-input
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.login-input
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.login-input
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  display: none;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.login-input
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}
.login-input .mdc-text-field--outlined {
  height: 40px;
}
.login-input .mat-mdc-form-field-infix {
  min-height: 38px;
}


.login-input .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
/* login-input ends */

/* login datepicker starts  */

.login-datepicker {
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 31px;
}
/* / change border color & width  / */
.login-datepicker
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.login-datepicker
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.login-datepicker
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  display: none;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.login-datepicker
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}
.login-datepicker .mdc-text-field--outlined {
  height: 40px;
}
.login-datepicker .mat-mdc-form-field-infix {
  min-height: 38px;
}

.login-datepicker .mat-mdc-icon-button.mat-mdc-button-base {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 8px;
}

.login-datepicker .mat-mdc-icon-button svg,
.mat-mdc-icon-button img {
  width: 17px !important;
  height: 17px !important;
  object-fit: contain;
}


.login-datepicker .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
  font-size: 13px;
}

/* login datepicker ends  */

/* matTextArea starts  */

.matTextArea {
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 31px;
}
/* / change border color & width  / */
.matTextArea
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.matTextArea
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.matTextArea
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  display: none;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.matTextArea
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}
.matTextArea .mdc-text-field--outlined {
  height: 40px;
}
.matTextArea .mat-mdc-form-field-infix {
  min-height: 38px;
}

.matTextArea .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
  font-size: 13px;
}
/* matTextArea ends  */

/* custom checkbox starts */
.mat-mdc-checkbox .mdc-checkbox__ripple {
  display: none;
}
.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
  background-color: var(--primary-color);
}
.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
  background-color: var(--primary-color);
}
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: var(--primary-color);
  --mdc-checkbox-selected-hover-icon-color: var(--primary-color);
  --mdc-checkbox-selected-icon-color: var(--primary-color);
  --mdc-checkbox-selected-pressed-icon-color: var(--primary-color);
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}
/* custom checkbox ends */

/* mat flat button color primary starts */
.mat-mdc-unelevated-button.mat-primary {
  background-color: var(--primary-color) !important;
  border-radius: 31px;
  height: 44px;
  letter-spacing: normal;
}
/* mat flat button color primary ends */

/* login select starts */
.login-select {
  width: 100%;
}

/* login-input starts */
.login-select {
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 31px;
}
/* / change border color & width  / */
.login-select
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.login-select
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.login-select
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  display: none;
}

.login-select.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.login-select
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}
.login-select .mdc-text-field--outlined {
  height: 40px;
}
.login-select .mat-mdc-form-field-infix {
  min-height: 38px;
}
/* login select ends */

/* ng2 tel input starts  */
.iti {
  width: 100%;
  border-radius: 31px;
}
.iti input,
.iti input[type="text"],
.iti input[type="tel"] {
  padding-left: 59px;
  height: 48px;
  width: 100%;
  border-radius: 31px;
  border-width: 1px;
}
.iti--separate-dial-code .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: transparent;
}
/* ng2 tel input ends  */

/* bootstrap modal css  */
.modal.fade.show {
  backdrop-filter: blur(4px);
  background-color: #01223770;
}
.modal-backdrop {
  z-index: 0 !important;
}

.mat-drawer.mat-drawer-side {
  z-index: 0 !important;
}

/* bootstrap modal css  */

/* common csss login pages starts*/

.left-side {
  background-color: #fcfcfc;
  height: 470px;
  padding: 30px;
}

.right-side {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 10px #e06f0021;
  height: 470px;
  padding: 30px;
}

.link {
  color: #e06f00;
}

.continue_with {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.register_now {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
}

.social-media-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-media-wrapper .item {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #e06f0021;
  border: 1px solid #e6e6e6;
  border-radius: 41px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* common csss login pages ends*/

/* custom checkbox starts  */

input[type="checkbox"][id^="cb"] {
  display: none;
}

.customCheckBox {
  border: 1px solid #ddd;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
}

.customCheckBox:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.customCheckBox img {
  height: 50px;
  width: 100%;
  object-fit: contain;
}

:checked + .customCheckBox {
  border-color: var(--primary-color);
}

:checked + .customCheckBox:before {
  content: "✓";
  background-color: var(--primary-color);
  transform: scale(1);
  font-size: 12px;
  font-weight: bold;
}

:checked + .customCheckBox img {
  z-index: -1;
}

.customCheckBox p {
  font-size: 11px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
/* custom checkbox ends  */

/* custom select box for header starts  */

.language
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 2px;
}
.language .mdc-text-field--outlined {
  padding: 0 8px !important;
}

.language
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__leading,
.language
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__notch,
.language
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #b5a73f !important;
}

/* left side border */
.language
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__leading {
  border-top-left-radius: 31px !important;
  border-bottom-left-radius: 31px !important;
}

/* right side border radius */
.language
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__leading {
  border-top-left-radius: 31px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 31px !important;
}

/* left side border radius */

.language
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
}
/* left side border width  */
.language
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__leading {
  width: max(30px, var(--mdc-shape-small, 4px)) !important;
}

/* border  color change starts */
.language
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.language
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.language
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  border-color: #fff !important;
}

.language
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-top-left-radius: 0;
  border-top-right-radius: 31px !important;
  border-bottom-right-radius: 31px !important;
  border-bottom-left-radius: 0;
}

.language .mat-mdc-select-value {
  color: white;
}

.language .mat-mdc-form-field.mat-primary .mat-mdc-select-arrow,
.language .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
  color: white;
}

.language .mat-mdc-form-field-infix {
  width: 90px;
}
.language .mat-mdc-form-field-infix {
  min-height: 38px !important;
}
/* custom select box for header ends  */

/************************************* respnosive style *************************************/

.login-input .mat-mdc-form-field-icon-suffix,
.login-input .mat-mdc-form-field-icon-prefix {
  padding: 0;
}

.login-input .mat-mdc-icon-button.mat-mdc-button-base {
  width: 38px;
  height: 38px;
  padding: 0;
  margin-right: 3px;
}

.login-select .mat-mdc-select-value {
  color: #797979;
  font-size: 13px;
}

.login-select .mat-mdc-select-arrow-wrapper {
  height: 15px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}
.login-select .mat-mdc-select-arrow {
  width: 10px;
  height: 20px;
  position: relative;
}

.login-select .mat-mdc-select-arrow svg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid #c3c3c3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  height: 5px;
  width: 5px;
}

.lng_left_description {
  font: normal normal normal 15px/25px Almarai;
  letter-spacing: 0.4px;
  color: #7c7c7c;
}

.lng_right_sub_heading {
  font: normal normal normal 15px Almarai;
  letter-spacing: .4px;
  color: #383838;
}

.mat-drawer-container {
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
}
.padtop-60{
  padding-top: 20px;
}
/* coach subscription css */
.title-hd{
  font-size: 20px;
  color: #C3C3C3;
  margin-bottom: 50px;
}
.package-header {
  background: transparent linear-gradient(253deg, #e06f000f 0%, #fcb56f3d 100%) 0% 0% no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 35px 15px 15px;
  min-height: 170px;
}
.pack-title h5 {
  font-size: 18px;
}
.pack-icon img {
  height: 60px;
  margin-right: 17px;
}
.common-sub {
  box-shadow: 0px 14px 26px #E06F0021;
  border: 1px solid #E06F00;
  border-radius: 5px;
  position: relative;
  margin-bottom: 3rem;
}
.month-tl {
  border: 1px solid #E06F00;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 8px;
  font-weight: 800;
  color: #e06f00;
  width: 230px;
  margin-top: -22px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.subpack li {
  padding: 10px 28px;
}
.matrenew .mdc-form-field>label {
  padding-right: 10px;
  order: 0;
}
/* .dashboard-pnl{
  display: flex;
} */
.subpack img {
  height: 29px;
  margin-right: 7px;
}
.sub-price {
  padding-bottom: 20px;
}
.t-green{
  color: #61B92B;
}
.t-green span {
  color: #B1B1B1;
  text-decoration: line-through;
  margin-left: 10px;
}
.red-offer {
  background: #FC7A6F 0% 0% no-repeat;
  border-radius: 10px;
  color: #fff;
  padding: 6px;
  text-align: center;
  width: 150px;
}
.pay-panle .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: transparent !important;
}
.pay-panle .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.btn-circle {
  background: transparent linear-gradient(253deg, #D3752B 0%, #B45520 100%);
  border-radius: 50px;
  color: #fff;
  padding: 5px 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.w-back{
  width: 100px;
  justify-content: center;
}
.diamond-IC {
  height: 15px;
  margin-top: -3px;
  margin-right: 2px;
}
.bg-row td {
  background: #FFF1E6 0% 0% no-repeat;
}
.search-panel {
  margin-bottom: 30px;
}
.card-bg {
  background: #FCFCFC 0% 0% no-repeat;
  padding: 0px;
}
.memberDatas tbody tr {
  font-size: 15px;
  vertical-align: middle;
}
.member-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.member-card-add{
  padding: 20px;
}
.all-btn .primary-btn-cancel {
  background: #E6E6E6 0% 0%  !important;
  color: #e06f00 !important;
  margin: 4px 9px;
}

.main-wrapper {
  padding-top: 4rem;
}

.blockdialog {
  padding: 20px !important;
}
.toggleMenubtn{display: none !important;}

/* User trainee css */
.trainee-top{
  padding: 30px 0px;
}
.search-header .mat-mdc-form-field-infix {
  min-height: 45px !important;
}
.search-header .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 10px;
}
.search-header .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 21px;
}
.search-header .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 4px;
  box-sizing: content-box;
}
.logtitle .mdc-list-item__primary-text {
  color: rgb(224 111 0);
  font-size: 15px !important;
}

.search-itp {
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 7px !important;
  background: #fff;
}
.search-itp .mat-icon{
  color:#c9c9c9
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 14px;
  font-family: "Almarai", Regular;
}
.pluse-box {
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50px;
  color: #e06f00;
  margin-right: 5px;
  display: inline-block;
}
.pluse-box i {
  font-size: 18px;
}
.search-panel .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border-radius: 10px !important;
}
.scroll-content{
  height: 50vh;
  overflow-y: scroll;
}
.flagNumber {
  border-right: 1px solid #888;
  margin: 7px;
  font-size: 15px;
  padding: 9px;
}
.btn-circle:hover {
  color: #fff;
}

/* coach add member details */

.add-tabs .mat-mdc-tab-labels {
  margin: 10px 0px 0px 0px;
  gap: 0;
}
.add-tabs .mat-mdc-tab.mdc-tab {
  height: 42px !important;
   border-radius: 1px 0px 0px 1px;
}
.add-tabs .mat-mdc-tab.mdc-tab:nth-child(1) {
  border-radius: 9px 0px 0px 9px;
}
.add-tabs .mat-mdc-tab.mdc-tab:nth-child(4) {
  border-radius: 0px 9px 9px 0px;
}
.add-tabs .mdc-tab {
  box-shadow: inset 0px 0px 1px #0000001a;
  border: 1px solid #dddddd30 !important;
}
.workout-check .mat-button-toggle-standalone, .mat-button-toggle-group {
  position: relative;
  display: flex;
  flex-direction: row;
  white-space: pre;
  overflow: hidden;
  flex-wrap: wrap;
  border: none;
}

/* .workout-check .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border: 1px solid #ddd;
  margin: 0px 10px 9px 0px;
  border-radius: 10px;
} */
.workout-check .mat-button-toggle {
  white-space: nowrap;
  position: relative;
  border: 1px solid #ddd;
  margin: 1px 4px 7px;
  border-radius: 10px;
  line-height: 41px;
  min-height: fit-content;
}
.clear-text {
  color: #e06f00;
  cursor: pointer;
}

/* .workout-check .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 41px;
  border: 1px solid #ddd;
  margin: 0px 8px;
  border-radius: 10px;
} */

.workout-check .mat-button-toggle-checked {
  background-color: #E06F000D;
  height: max-content;
  border: 1px solid #E06F00 !important;
  margin: 0px 8px 8px;
  border-radius: 8px;
}
.font-title{
  font-size: 15px;
}

.choose-date-active .mat-calendar-table-header th {
  text-align: center;
  padding: 6px 0 0px 0;
  line-height: 2;
}
.choose-date-active .mat-calendar-table-header th {
  font-size: 15px;
  font-weight: 600;
}
.choose-date-active .mat-calendar-table-header tr:nth-child(1) {
  background: #ddd;
  margin-bottom: 0px;
}
/*workout card */
.quick-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7px;
}
.Dumbell-img-ic {
  background: transparent linear-gradient(132deg, #d3752b40 0%, #b4552021 100%) 0% 0% no-repeat;
  border-radius: 6px;
  padding: 3px;
}
.quick-title {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0px;
}
.matcard-box {
  padding: 8px;
  margin-bottom: 5px;
  box-shadow: none;
  border-radius: 10px !important;
  border: 1px solid #ddd !important;
}
.quick-title-work {
  font-size: 14px;
  font-weight: 700;
  color: #383838;
}
.quick-span {
  color: #61B92B;
  font-size: 12px;
  font-weight: 600;
}
.bench-pnl {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  color: #E16F00;
  font-weight: 400;
  margin-top: 4px;
  gap: 10px;
}
.quick-bench img {
  height: 17px;
  margin: 0px 1px 0px 0px;
}
.quick-timer img {
  height: 20px;
}
.quick-timer {
  font-size: 14px;
  color: #E16F00;
  font-weight: 500;
}
.workTitle img {
  height: 25px;
}
.me-33 {
  padding: 7px 3px 0px 10px !important;
}
/* select workout */
.workout-chart {
  padding-bottom: 20px;
}

.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
  padding: 10px 15px;
}
.workout-chart .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
  padding: 5px 0 0 0;
  text-align: center;
  width: 100%;
}
.workout-chart .mat-step-icon {
  border-radius: 17%;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  position: relative;
  margin-top: 12px;
  font-size: 14px;
}
.workout-chart .mat-step-label-selected {
  font-size: 14px;
  font-weight: 400;
}
.workout-chart .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #4CAF50;
  color: #fff;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: #e06f00 !important;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #e06f00 !important;
}

.member-Tab .nav-link {
  color: #535353;
  font-size: 15px;
  width: 140px;
}
.member-Tab .nav-link.active {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #e06f00 !important;
  border: none;
}
.member-Tab {
  border: 1px solid #ddd;
  max-width: fit-content;
  margin: auto;
  border-radius: 10px;
}
.week-days .mdc-checkbox{
  flex: 0 0 12px !important;
}
.week-days .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  border-radius: 5px;
  border: none;
}
.week-days .mdc-checkbox__background {
  border-color: #ddd !important;
  border-radius: 5px;
}
.week-days .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  color: var(--mdc-checkbox-selected-checkmark-color, #fff);
  padding: 4px;
}
.filter-grid .mat-button-toggle {
  white-space: nowrap;
  position: relative;
  margin: 3px;
  width: max-content;
  border-radius: 10px;
}
.frontpnl .mat-button-toggle {
  white-space: nowrap;
  position: relative;
  margin: 4px;
  width: max-content;
  border-radius: 10px;
  height: 80px;
}
.frontpnl .workTitle img {
  height: 38px;
  margin-top: 1px;
}
.frontpnl .mat-button-toggle-checked {
  background-color: #e16f0021;
  color: #000 !important;
}
.cursor-point {
  cursor: pointer;
}
/* .main_wapper{
  padding-top: 5rem;
} */
.joint-btn {
  background: transparent linear-gradient(262deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 7px;
}
.table thead .part-row td {
  background-color: #E9E9E9;
  line-height: 1.5;
}

.Dumbell-img-2 {
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 5px;
}
.Dumbell-img-2 img{
  height:100%;
  width: 100%;
}
.mdc-list-item__primary-text {
  font-size: 14px !important;
}
select.form-select {
  font-size: 13px !important;
}
.search-header .form-control {
  padding-left: 30px;
  font-size: 13px !important;
}
.dialogModal{
  padding: 20px;
  label{
    padding: 6px 0px;
    font-size: 14px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
.addbtn-2 {
  border: none;
  color: #fff;
  width: 74px;
  border-radius: 20px;
  background: transparent linear-gradient(241deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.img-cha{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid #fff;
}
.cha-sub-img {
  display: flex;
  align-items: center;
  color: #E16F00;
  gap: 10px;
  margin: 17px 0px;
}
.img-2{
  margin-left: -12px;
}
.chat-icon {
  background: #00A849;
  width: 30px;
  color: #fff;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 17px;
  z-index: 9;
}
.chat-page{
  position: relative;
}

.mat-mdc-menu-panel .mat-mdc-menu-item{
  min-height: 36px;
}
.clickPointer{
  cursor: pointer;
}
/* both common css */
.trainee-common-wapper {
  background: #FCFCFC;
  padding: 10px;
  margin-top: 20px;
}
.primary-btn-cancel {
  background: #E6E6E6 0% 0%;
  border-radius: 42px;
  color: #e06f00;
  width: 141px;
  padding: 8px;
  border: none;
}
.nutrition-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.common-select-pnl .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix  {
  padding-top: 9px;
  padding-bottom: 9px;
}
.common-select-pnl .mat-mdc-form-field-infix {
  min-height: 45px;
}
.common-select-pnl .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 20px;
}


.plus-btn .mat-mdc-unelevated-button:not(:disabled){
  display: flex;
      align-items: center;
      padding-left: 5px;
      justify-content: center;
  
}


.plus-btn .mat-mdc-unelevated-button .mdc-button__label{
  line-height: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}


.plus-btn i{
  font-size: 38px;
}











@media (max-width:768px) {
  .toggleMenubtn{display: block !important;}
}


@media (max-width:767px) {
  .toggleMenubtn{
    display: block !important;
  }
  .right-side {
    height: auto !important;
  }
  .bmi-body{
    padding: 7px;
  }
  header .px-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .w-25 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .card-bg {
    padding: 0px 0px;
  }
  .bg-wapper {
    background: #FCFCFC;
    padding: 4px !important;
  }
  .search-field {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .search-panel .w-50,.w-25 {
    width: 100% !important;
    margin-top: 15px;
  }
  .navbar-brand {
    gap: 0px !important;
  }
  .logoutbtn {
    padding: 2px !important;
  }
  .navbar-brand img {
    width: 84px !important;
    margin-left: 4px !important;
}

}



/********* dialog css ***********/

.layout-dialog .mdc-dialog__actions {
  padding: 0px !important;
}

.notification-dialog .mdc-dialog__title::before {
  display: none !important;
}

.custom-dialog .mdc-dialog__title::before {
  display: none !important;
}

.notification-dialog .mdc-dialog__content {
  padding: 0px !important;
}

.notification-dialog .mat-mdc-dialog-content {
  max-height: 90vh !important;
}

/* dilaog css */

.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: "poppins", sans-serif !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
}

.custom-dialog .mdc-dialog__title {
  display: flex !important;
  justify-content: space-between !important;
  padding: 9px 24px 9px !important;
  align-items: center !important;
}

.notification-dialog .mdc-dialog__title {
  padding: 30px 24px !important;
  color: #ffffff !important;
}

.bg-color .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: black;
  border-radius: 0px !important;
}

.dialog-heading {
  display: block !important;
  width: 100% !important;
  font-weight: bold;
}

.no-data-message {
  margin: 20px 0px !important;
  font-weight: 600 !important;
}

/*layout wrapper start*/

.layout-dialog .mat-mdc-dialog-container .mdc-dialog__content {
  font-family: "poppins", sans-serif !important;
}

.layout-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
}

.layout-dialog i {
  font-size: 30px;
}

.layout-dialog .mdc-dialog__title {
  padding: 20px 40px !important;
  color: #242424 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: #cbeee2;
}

.layout-dialog .mdc-dialog .mdc-dialog__content {
  padding: 20px 40px;
}

.layout-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  /* background-color: #fff;
  border-radius: 12px !important; */

  background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 10px;

}

.layout-dialog .mdc-dialog__title::before {
  height: 20px;
}

/*layout wrapper end*/

/************ dialog css **********/

