<div class="dashboard-pnl trainee-top">
    
    <div class="container">
      <div class="graph-banner-container">
        <div class="row">
          <div class="col-12 col-lg-6">
           
          </div>

          <div class="col-12 col-lg-6">
            <div class="dashboard-title">
              <img src="assets/images/bestCoach/quick_exercises_graphic.svg" alt="image" class="img-fluid">
              <div>
                <h4> Quick Exercises</h4>
                <img src="assets/images/bestCoach/path_b.svg" alt="image" class="img-fluid linesvg">
              </div>
            </div>

            <div class="bestcoach mb-4">
              <div class="row quickslider">
                <div class="col-md-4 col-lg-4">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img-quick">
                        <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>Fitness Exercises</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img-quick">
                        <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>Fitness Exercises</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img-quick">
                        <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>Fitness Exercises</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img-quick">
                        <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>Fitness Exercises</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img-quick">
                        <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>Fitness Exercises</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img-quick">
                        <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>Fitness Exercises</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="graph-banner-container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="dashboard-title">
              <img src="assets/images/bestCoach/daily_ex-icon.svg" alt="image" class="img-fluid">
              <div>
                <h4>Daily Exercises</h4>
                <img src="assets/images/bestCoach/path_a.svg" alt="image" class="img-fluid linesvg">
              </div>
            </div>

            <div class="dashboard-title">
              <img src="assets/images/bestCoach/subscribed.svg" alt="image" class="img-fluid">
              <div>
                <h4> You Subscribed With</h4>
                <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
              </div>
            </div>

            <div class="bestcoach">
              <div class="row">
                <div class="col-md-6 col-lg-6" *ngFor = "let coach of myCoachList">
                  <mat-card (click)="goToCoachDetailPage(coach.coach_id, 1)">
                    <mat-card-content >
                      <div class="cup-img">
                        <img [src]="coach?.profile_image ? coach?.profile_image : 'assets/images/bestCoach/1.jpg'" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>{{coach?.first_name}} {{coach?.last_name}}</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- <div class="col-md-6 col-lg-6">
                  <mat-card>
                    <mat-card-content>
                      <div class="cup-img">
                        <img src="assets/images/bestCoach/2.jpg" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>K/Ahmed Sameh</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div> -->
               
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="dashboard-title">
              <img src="assets/images/bestCoach/coaches_graphic.svg" alt="image" class="img-fluid">
              <div>
                <h4> The best coaches</h4>
                <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
              </div>
            </div>

            <div class="bestcoach">
              <div class="row">
                <div class="col-md-6 col-lg-4" *ngFor = "let coach of coachList">
                  <mat-card (click)="goToCoachDetailPage(coach.coach_id, 2)">
                    <mat-card-content >
                      <div class="cup-img">
                        <img [src]="coach?.profile_image ? coach?.profile_image : 'assets/images/bestCoach/1.jpg'" alt="image" class="img-fluid">
                      </div>
                      <div class="cup-content">
                        <h5>{{coach?.first_name}} {{coach?.last_name}}</h5>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
  