.dashboard-pnl {
    display: flex;
  }
  
  
  /* .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .graph-banner-container {
    display: flex;
  }
  
  .graph-container {
    width: 25%; 
  }
  
  .banner-container {
    width: 75%; 
  }
  
  .cards-container {
    margin-top: 20px; 
  } */
  
.cup-content h5 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
}
.bestcoach .mat-mdc-card-content {
  display: block;
  padding: 10px 10px;
}
.bestcoach .mdc-card {
  margin-bottom: 20px;
}
.dashboard-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard-title h4 {
  font-size: 13px;
  margin-bottom: 0px;
}
.linesvg {
  position: absolute;
}
.cup-img-quick img {
  aspect-ratio: 2 / 2;
  width: 100%;
  object-fit: contain;
}
.row.quickslider {
  display: flex;
  overflow: auto;
  flex-flow: nowrap;
}