/* .progress-stacked {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 300px;
} */


.nav-pills{
    border: 2px solid gray;
    border-radius: 25px;
    overflow: hidden;
}

.nav-link {
  height: 70px;
  border-radius: 0;
}
.nav-link:nth-child(1) {
  background: transparent linear-gradient(90deg, #1ca650 0%, #006c2f 100%) 0% 0%
    no-repeat padding-box;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* position: relative; */
}
.nav-link:nth-child(2) {
  background: transparent linear-gradient(90deg, #81d539 0%, #3d9200 100%) 0% 0%
    no-repeat padding-box;
}
.nav-link:nth-child(3) {
  background: transparent linear-gradient(90deg, #fbf24f 0%, #fbaa00 100%) 0% 0%
    no-repeat padding-box;
}
.nav-link:nth-child(4) {
  background: transparent linear-gradient(90deg, #ff9400 0%, #d44e00 100%) 0% 0%
    no-repeat padding-box;
}
.nav-link:nth-child(5) {
    background: transparent linear-gradient(90deg, #C71513 0%, #6F0000 100%) 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}




/* .nav-link:nth-child(1):focus{
    position: absolute;
    content: "";
    border: 10px;
    height: 10px;
    width: 10px;
    background-color: red;
    display: inline-block;
    top: 0;
    right: 0;
} */




.bar{
  height: 70px;
  width: 20px;
  border: none;

}
.bar-wrapper{
  position: relative;
  
}

/* .active{
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: none;
  transition: top 0.5s;
} */

.bar:nth-child(1){
  background: transparent linear-gradient(90deg, #1CA650 0%, #006C2F 100%) 0% 0% no-repeat padding-box;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.bar:nth-child(2){
  background: transparent linear-gradient(90deg, #81D539 0%, #3D9200 100%) 0% 0% no-repeat padding-box;
}
.bar:nth-child(3){
  background: transparent linear-gradient(90deg, #FBF24F 0%, #FBAA00 100%) 0% 0% no-repeat padding-box;
}
.bar:nth-child(4){
  background: transparent linear-gradient(90deg, #FF9400 0%, #D44E00 100%) 0% 0% no-repeat padding-box;
}
.bar:nth-child(5){
  background: transparent linear-gradient(90deg, #C71513 0%, #6F0000 100%) 0% 0% no-repeat padding-box;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.bar:hover ~ .active{
  display: block;
}

.active{
  position: absolute;
  top: 0;
  left: 60px;
  display: none;
  transition: top 0.5s;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 19px #BEBEBE29;
  border-radius: 15px;
  padding: 16px 20px;
  width: 250px;

}

.bar:nth-child(1):hover  ~ .active{
 display: block;
 top: 0;
}
.bar:nth-child(2):hover  ~ .active{
  display: block;
  top: 20%;
}
.bar:nth-child(3):hover  ~ .active{
  display: block;
  top: 40%;
}
.bar:nth-child(4):hover  ~ .active{
  display: block;
  top: 60%;
}
.bar:nth-child(5):hover  ~ .active{
  display: block;
  top: 80%;
}

.bar-icon:nth-child(1):hover{
  background-image: url('src/assets/images/website_icons_user/health_level_dark_green.png');
  top: 0;
}
.bar-icon:nth-child(2):hover{
  background-image: url('src/assets/images/website_icons_user/health_level_dark_green.png');
  top: 20%;
}
.bar-icon:nth-child(3):hover{
  background-image: url('src/assets/images/website_icons_user/health_level_dark_green.png');
  top: 40%;
}
.bar-icon:nth-child(4):hover{
  background-image: url('src/assets/images/website_icons_user/health_level_dark_green.png');
  top: 60%;
}
.bar-icon:nth-child(5):hover{
  background-image: url('src/assets/images/website_icons_user/health_level_dark_green.png');
  top: 80%;
}


.bar-contnet-heading{
  font: normal normal bold 16px Almarai;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-bottom: 0;
}

.bar-contnet-description{
  font: normal normal normal 14px Almarai;
letter-spacing: 0px;
color: #7C7C7C;
margin-bottom: 0;

}