<div class="container">
  <div class="row gx-0">
    <div class="col-md-12">
      <h5>What is your goal</h5>
      <p>Select your goal and continue</p>
    </div>

    <div class="col-md-12">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div class="nav-link active" id="v-pills-home-tab" (click)="fitness_level = 'beginner'" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
          </div>

          <div class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" (click)="fitness_level = 'inexperienced'" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          </div>

          <div class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" (click)="fitness_level = 'average'" data-bs-target="#v-pills-messages"
            type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          </div>

          <div class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" (click)="fitness_level = 'advanced'"
            type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          </div>

          <div class="nav-link" id="v-pills-red-tab" data-bs-toggle="pill" data-bs-target="#v-pills-red" (click)="fitness_level = 'expert'"
            type="button" role="tab" aria-controls="v-pills-red" aria-selected="false">
          </div>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
            tabindex="0">
            <h6>Beginner</h6>
            <p>This is the beginning of my fitness journey</p>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            tabindex="0">
            <h6>Inexperienced</h6>
            <p>I sweat every now and then but not more than once a week</p>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
            tabindex="0">
            <h6>Average level</h6>
            <p>I try to keep myself fit. I train once or twice a week</p>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
            tabindex="0">
            <h6>Advanced</h6>
            <p>I train 3-4 times a week!</p>
          </div>
          <div class="tab-pane fade" id="v-pills-red" role="tabpanel" aria-labelledby="v-pills-red-tab"
            tabindex="0">
            <h6>Expert</h6>
            <p>I'm in a good state. I train at least 5 times a week</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="mb-0">
        <button class="w-100" mat-flat-button color="primary" (click)="submit()">Next</button>
      </div>
    </div>
  </div>
</div>