<section class="subscription-wrapper py-5">
    <div class="container">
        <h3 class="title-hd mb-0">Recipe Details</h3>

        <div class="row g-4">
            <div class="col-md-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="title-hd mb-0">{{ recepieData?.title }}</h5>
                        <div class="text-center mb-3">
                            <img [src]="recepieData?.image ? recepieData.image : 'assets/images/bestCoach/muscle_ic.png'"
                                alt="image" class="img-fluid rounded" height="150" width="150" />
                        </div>

                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Diet Type:</th>
                                    <td>
                                        <span *ngFor="let diet of recepieData?.diets; let i = index">{{ diet?.diet_type
                                            }}<span *ngIf="i < diet.length - 1">, </span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Meal Period:</th>
                                    <td>
                                        <span *ngFor="let meal of recepieData?.meals; let i = index">{{
                                            meal?.meal_period }}<span *ngIf="i < meal.length - 1">, </span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Recipe Allergens:</th>
                                    <td>
                                        <span *ngFor="let allergen of recepieData?.allergens; let i = index">{{
                                            allergen?.allergen }}<span *ngIf="i < allergen.length - 1">, </span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Vegetables Included:</th>
                                    <td>
                                        <span *ngFor="let veg of recepieData?.vegetables; let i = index">{{
                                            veg?.vegetable }}<span *ngIf="i < veg.length - 1">, </span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Carbohydrates:</th>
                                    <td>
                                        <span *ngFor="let carbs of recepieData?.carbohydrates; let i = index">{{
                                            carbs?.name }}<span *ngIf="i < carbs.length - 1">, </span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fruits Included:</th>
                                    <td>
                                        <span *ngFor="let fruit of recepieData?.fruits; let i = index">{{ fruit?.name
                                            }}<span *ngIf="i < fruit.length - 1">, </span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Other Ingredients:</th>
                                    <td>{{ recepieData?.other_ingredients }}</td>
                                </tr>
                                <tr>
                                    <th>Total Calories:</th>
                                    <td>{{ recepieData?.calories }}</td>
                                </tr>
                                <tr>
                                    <th>Preparation Time:</th>
                                    <td>{{ recepieData?.preparation_time }} min</td>
                                </tr>
                                <tr>
                                    <th>Cook Time:</th>
                                    <td>{{ recepieData?.cooking_time }} min</td>
                                </tr>
                                <tr>
                                    <th>Price:</th>
                                    <td>SAR {{ recepieData?.price }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card shadow-sm border-0 mt-4">
                    <div class="card-body">
                        <h5 class="text-secondary">Nutritional Values (per serving)</h5>
                        <table class="table table-borderless mt-3">
                            <tbody>
                                <tr>
                                    <th>Fats:</th>
                                    <td>{{ recepieData?.fat }} {{ recepieData?.fat_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Protein:</th>
                                    <td>{{ recepieData?.protein }} {{ recepieData?.protein_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Carbohydrates:</th>
                                    <td>{{ recepieData?.carbohydrate }} {{ recepieData?.carbohydrate_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Dietary Fiber:</th>
                                    <td>{{ recepieData?.fibre }} {{ recepieData?.fibre_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Cholesterol:</th>
                                    <td>{{ recepieData?.cholesterol }} {{ recepieData?.cholesterol_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Iron:</th>
                                    <td>{{ recepieData?.iron }} {{ recepieData?.iron_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Sodium:</th>
                                    <td>{{ recepieData?.sodium }} {{ recepieData?.sodium_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Calcium:</th>
                                    <td>{{ recepieData?.calcium }} {{ recepieData?.calcium_unit }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h5>Components</h5>
                        <table class="table">
                            <thead class="bg-light">
                                <tr>
                                    <th>Component Name</th>
                                    <th>Dosage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hot Water</td>
                                    <td>1 Bowl</td>
                                </tr>
                                <tr>
                                    <td>Hot Water</td>
                                    <td>1 Bowl</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card shadow-sm border-0 mt-4" *ngFor="let step of recepieData?.steps; let i = index">
                    <div class="card-header" style="background: #E9E9E9 0% 0% no-repeat padding-box; color: #535353;">
                        Step {{ i + 1 }}
                    </div>
                    <div class="card-body">
                        <p>{{ step?.detail }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>