.card {
    border-radius: 8px;
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .table {
    font-size: 0.9rem;
  }
  
  .img-fluid {
    border-radius: 8px;
  }
  
  .subscription-wrapper {
    background-color: #f9f9f9;
  }
  
  h5, h6 {
    font-weight: 600;
  }
  