.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.running-title{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}
figure.join-banner {
    height: 160px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 0px;
}
.card {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
}
figcaption {
    padding: 11px;
    background: #fff;
    border-radius: 10px;
    margin-top: 0px;
}
.ch-title {
    font-size: 14px;
    font-weight: 800;
}
.start-pnl {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 10px 0px;
}
.start-date {
    background: #61b92b29;
    padding: 5px;
    border-radius: 6px;
}
.end-title {
    background: #e16f001c !important;
}
.start-date span {
    color: #61B92B;
    font-weight: 500;
}
.start-date.end-title span {
    color: #E16F00;
    font-weight: 500;
}
.joint-btn {
    background: transparent linear-gradient(262deg, #D3752B 0%, #B45520 100%) 0% 0% no-repeat;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 100px;
    color: #fff;
    border: none;
    padding: 7px;
}
.distance-offer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #c24d0096 0% 0% no-repeat;
    border-radius: 4px;
    color: #fff;
    padding: 6px;
    font-size: 12px;
}

