<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Workouts</h3>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Join Challenges">
                <div class="workout-section">
                    <div class="Individual-Workouts p-3">
                        <div class="workout-heading mb-4">
                            <div class="running-title">Your coach Invited to join</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>

                        <div class="row">
                          <div class="col-md-4 col-lg-4" *ngFor="let challenges of invitedChallenges">
                            <div class="card" (click)="goToChallengesDetails('hideTab', challenges.challenge_id)">
                                <div class="position-relative">
                                    <figure class="join-banner">
                                        <img [src]="challenges?.image1 ? challenges?.image1 :'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="image" class="img-fluid">
                                    </figure>
                                    <div class="distance-offer">Steps Challenge</div>
                                </div>
                                <figcaption>
                                    <div class="ch-title">Challenge yourself with {{challenges?.ultimate_goal}} steps for {{challenges?.duration}} day</div>
                                    <div class="start-pnl">
                                        <div class="start-date">Start : <span>{{challenges?.start_date}}</span></div>
                                        <div class="start-date end-title">End :<span>{{challenges?.end_date}}</span></div>
                                    </div>
                                    <div class="cha-sub-img" *ngIf = "challenges?.participants_count != 0">
                                        <div class="sha-img">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                        </div>
                                        <div>{{challenges?.participants_count}} participants</div>
                                    </div>
                                    <button type="button" class="joint-btn w-100">Join</button>
                                </figcaption>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="Individual-Workouts p-3">
                        <div class="workout-heading mb-4">
                            <div class="running-title">More Challenges You May Join</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>

                        <div class="row">
                          <div class="col-md-4 col-lg-4" *ngFor="let moreChallenges of moreChallenges">
                            <div class="card" (click)="goToChallengesDetails('hideTab', moreChallenges.challenge_id)">
                                <div class="position-relative">
                                    <figure class="join-banner">
                                        <img [src]="moreChallenges?.image1 ? moreChallenges?.image1 : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="image" class="img-fluid">
                                    </figure>
                                    <div class="distance-offer">Distance Challenge</div>
                                </div>
                                <figcaption>
                                    <div class="ch-title">Easy walk journey to a healthy lifestyle</div>
                                    <div class="start-pnl">
                                        <div class="start-date">Start : <span>{{moreChallenges?.start_date}}</span></div>
                                        <div class="start-date end-title">End :<span>{{moreChallenges?.start_date}}</span></div>
                                    </div>
                                    <div class="cha-sub-img" *ngIf = "moreChallenges?.participants_count != 0">
                                        <div class="sha-img">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                        </div>
                                        <div>{{moreChallenges?.participants_count}} participants</div>
                                    </div>
                                    <button type="button" class="joint-btn w-100">Participate</button>
                                </figcaption>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </mat-tab>

            <mat-tab label="My Challenges">
                <div class="workout-section">
                    <div class="Individual-Workouts p-3">
                        <div class="workout-heading mb-4">
                            <div class="running-title">Recently Joined</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>

                        <div class="row">
                          <div class="col-md-4 col-lg-4" *ngFor="let recentlyChallenges of recentlyAddedChallenges">
                            <div class="card" (click)="goToChallengesDetails('showTab', recentlyChallenges.challenge_id)">
                                <div class="position-relative">
                                    <figure class="join-banner">
                                        <img [src]=" recentlyChallenges?.image1 ? recentlyChallenges?.image1 : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="image" class="img-fluid">
                                    </figure>
                                    <div class="distance-offer">Steps Challenge</div>

                                </div>
                                <figcaption>
                                    <div class="ch-title">Challenge yourself with 20,000 steps for 6 day</div>
                                    <div class="start-pnl">
                                        <div class="start-date">Start : <span>{{recentlyChallenges?.start_date}}</span></div>
                                        <div class="start-date end-title">End :<span>{{recentlyChallenges?.end_date}}</span></div>
                                    </div>
                                    <div class="cha-sub-img" *ngIf = "recentlyChallenges?.participants_count != 0">
                                        <div class="sha-img">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                        </div>
                                        <div>{{recentlyChallenges?.participants_count}} participants</div>
                                    </div>
                                </figcaption>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="Individual-Workouts p-3">
                        <div class="workout-heading mb-4">
                            <div class="running-title">Past Challenges</div>
                            <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                        </div>

                        <div class="row">
                          <div class="col-md-4 col-lg-4" *ngFor="let pastChallenges of pastChallenges">
                            <div class="card"  (click)="goToChallengesDetails('showTab', pastChallenges.challenge_id)">
                                <div class="position-relative">
                                    <figure class="join-banner">
                                        <img [src]="pastChallenges?.image1 ? pastChallenges?.image1 : 'https://staging.harwalah.com/file_storage/workout/image/1721672550669ea36678e1a.webp'" alt="image" class="img-fluid">
                                    </figure>
                                    <div class="distance-offer">Distance Challenge</div>
                                </div>
                                <figcaption>
                                    <div class="ch-title">Easy walk journey to a healthy lifestyle</div>
                                    <div class="start-pnl">
                                        <!-- <div class="start-date">Start : <span>March 10, 2022</span></div> -->
                                        <div class="start-date end-title">End :<span>{{pastChallenges?.end_date}}</span></div>
                                    </div>
                                    <div class="cha-sub-img" *ngIf = "pastChallenges?.participants_count != 0">
                                        <div class="sha-img">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                            <img src="assets/images/bestCoach/2.jpg" class="img-cha img-2">
                                        </div>
                                        <div>{{pastChallenges?.participants_count}} participants</div>
                                    </div>
                                    
                                </figcaption>
                            </div>
                          </div>
                        </div>
                    </div>
                   
                </div>

            </mat-tab>

        </mat-tab-group>
    </div>

</div>


