<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Workouts</h3>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Workouts"></mat-tab>
            <mat-tab label="My Workout Plan"></mat-tab>
        </mat-tab-group>    

        <div class="workout-section">
            <div class="row mb-4">
                <div class="col-lg-6">
                    <div class="area-box">
                        <div class="area-content">
                            <h4>Use the Select Area feature Exercises We will create exercises Especially for this region</h4>
                            <button type="button" class="btn btn-light try-btn">Try Now</button>
                        </div>
                        <div class="area-image">
                            <img src="assets/images/website_icons_user/human-ic.PNG" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="searchForm">
            <div class="search-header">
                <div class="form-group">
                  <span class="input-group-text"><i class="bi bi-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search workout by name" (keyup)="search($event)">
                </div>
                <div class="form-group">
                  <select class="form-select" aria-label="Default select" formControlName="level_id">
                    <option selected hidden value = '' >Level</option>
                    <option  *ngFor = "let level of levelData" [value]="level?.level_id" >{{level?.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-select" aria-label="Default select" formControlName="equipment_id">
                    <option selected hidden value = ''>Equipment</option>
                    <option *ngFor = "let equipments of equipmentData" [value]="equipments?.equipment_id" >{{equipments?.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-select" formControlName="front_muscle_id" aria-label="Default select">
                    <option selected hidden value = ''>Front Muscle</option>
                    <option *ngFor = "let front of frontData" [value]="front?.muscles_id">{{front?.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-select" formControlName="back_muscle_id" aria-label="Default select">
                    <option selected hidden value = ''>Back Muscle</option>
                    <option *ngFor = "let back of backData" [value]="back?.muscles_id">{{back?.name}}</option>
                  </select>
                </div>
                <div class="sub-price mb-0 pb-0">
                    <button mat-flat-button color="primary" class="primary-btn-2" (click)="applyFilter()">Apply Filter</button>
                </div>

              </div>
            </form>

            <div class="Individual-Workouts">
                <div class="workout-heading">
                    <h4>Individual Workouts</h4>
                    <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3" *ngFor = "let data of adminWorkoutData; let i = index ">
                        <mat-card routerLink="/trainee-layout/workout-details" (click)="clickToNavigate(data?.workout_id)">
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="{{data?.image}}" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#{{i+1}}</div>
                            <div class="cup-content">
                              <h5>{{data?.name}}</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> {{ formatTime(data.time_required) }} min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="Individual-Workouts">
                <div class="workout-heading">
                    <h4>Home Workouts</h4>
                    <img src="assets/images/bestCoach/path_c.svg" alt="image" class="img-fluid linesvg">
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <mat-card>
                          <mat-card-content>
                            <div class="cup-img-quick">
                              <img src="assets/images/quickExercise/exercises_img.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="workNumber">#1</div>
                            <div class="cup-content">
                              <h5>Rotating abdominal</h5>
                              <div class="clock-ic"><span><i class="bi bi-clock"></i></span> 08:35 Min</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>


        </div>

    </div>    
</div>

