.area-box {
    background: #f9eee3 0% 0% no-repeat;
    border-radius: 10px;
    display: flex;
    margin: 15px;
}
.area-content h4 {
    font-size: 17px;
    color: #383838;
    font-weight: 500;
    line-height: 1.5;
}
.workout-section {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px 0px;
}
.area-content {
    padding: 20px;
}
.btn-light.try-btn {
    border: 1px solid #E06F00;
    border-radius: 6px;
    color: #e06f00;
    background: transparent;
    font-weight: 600;
    padding: 6px 36px;
}
.search-header{
    display: flex;
    flex-wrap: wrap;
    background: #E6E6E6 0% 0% no-repeat;
    border-radius: 1px;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-around;
}
.input-group-text {
    position: absolute;
    background: transparent;
    border: none;
    color: #666;
}
.form-select {
    width: 140px;
    font-size: 15px;
}
.form-control {
    font-size: 15px;
    padding-left: 35px;
}
.primary-btn-2{
    border-radius: 10px;
    height: 37px;
}

.workinput2 {
    width: 200px;
}
.Individual-Workouts {
    padding: 20px;
}
.workout-heading h4{
    font-size: 17px;
    margin-bottom: 0px;
}

.cup-img-quick img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cup-img-quick {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.cup-content {
    text-align: center;
    padding: 15px 0px 0px;
}
.clock-ic {
    color: #E16F00;
    font-weight: 500;
    font-size: 14px;
}
.workNumber {
    width: 40px;
    height: 40px;
    background: #E16F001A 0% 0%;
    border: 0.5px solid #E06F0076;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 6px;
    color: #E16F00;
    position: absolute;
    top: 22px;
    left: 23px;
}
.cup-content h5 {
    font-size: 15px;
    margin-bottom: 5px;
}
.Individual-Workouts .row mat-card {
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #C3C3C385;
    border-radius: 10px;
    cursor: pointer;
}