footer {
    background: #383838;
    padding: 50px 0px 0px;
}
.footer-content li a {
    color: #E06F00;
    text-decoration: none;
}
h5.text-white {
    border-bottom: 3px solid #e06f00;
    width: fit-content;
    margin-bottom: 20px;
}
.copright {
    background: #E06F00;
    color: #fff;
    padding: 20px 0px;
}
.footer-cont {
    padding: 0px 40px 40px 0px;
}