<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-5">
                <img src="assets/images/logo_footer.svg" alt="logo" height="70px" >
                <div class="footer-cont">
                    <p class="text-light mt-4">A digital sports platform that serves all segments of society, men and
                        women who practice various sports, to achieve their goals in a distinctive and interesting way
                        of presenting it. It also helps sports trainers provide their services to reach the largest
                        number of their followers and benefit from Harawla sports services. </p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2 mb-3">
                <h5 class="lh-lg fw-bold text-white">Arithmetic</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0 footer-content">
                    <li class="lh-lg"><a href="#" class="text-200">Socialist</a></li>
                    <li class="lh-lg"><a href="#" class="text-200">Nutrition Options</a></li>
                    <li class="lh-lg"><a href="#" class="text-200">My Exercise Schedule</a></li>
                    <li class="lh-lg"><a href="#" class="text-200">Sports Programs</a></li>

                </ul>
            </div>
            <div class="col-6 col-md-4 col-xl-2 mb-3">
                <h5 class="lh-lg fw-bold text-white">Information</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0 footer-content">
                    <li class="lh-lg"><a href="#" class="text-200">About Harwalah</a> </li>
                    <li class="lh-lg"><a href="#" class="text-200">FAQs</a> </li>
                    <li class="lh-lg"><a href="#" class="text-200">Articles</a> </li>
                    <li class="lh-lg"><a href="#" class="text-200">Contact Us</a> </li>


                </ul>
            </div>
            <div class="col-6 col-md-4 col-xl-3 mb-3">
                <h5 class="lh-lg fw-bold text-white">Get The App</h5>

            </div>
        </div>
    </div>
</footer>
<div class="copright">
    <div class="container">
        <div class="row flex-center">
            <div class="col-md-12 order-0">
                <p class="text-200 text-center mb-0">Copyright ©Harwalah. 2023-2024. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>