<div class="dialog-wrapper">
    <!-- <div mat-dialog-title>
      <span class="dialog-heading">Address Details</span>
      <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
  
    </div> -->

    <mat-dialog-content>
        <div class="row">
            <div class="col-12">
                <h5 class="heading mb-4">Member list</h5>

                <div class="member-card">
                    <div class="card" mat-dialog-close>

                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="member-img">
                                    <img src="assets/images/video_PosterImage.png" alt="img">
                                </div>
                                <h5 class="card-title">Ahmed Mukhtar</h5>
                            </div>

                            <span class="badge badge-primary">Admin</span>
                        </div>
                    </div>
                </div>

                <div class="member-card">
                    <div class="card" mat-dialog-close>

                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="member-img">
                                    <img src="assets/images/video_PosterImage.png" alt="img">
                                </div>
                                <h5 class="card-title">Ahmed Mukhtar</h5>
                            </div>

                            <span class="badge badge-primary">Admin</span>
                        </div>
                    </div>
                </div>




            </div>


            <div class="col-12 mt-4">
                <h5 class="heading ">1198 Members</h5>

                <div class="member-card" *ngFor="let items of [1,2,3,4,5,6,7] ">
                    <div class="card" mat-dialog-close>
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="member-img">
                                    <img src="assets/images/video_PosterImage.png" alt="img">
                                </div>
                                <h5 class="card-title">Ahmed Mukhtar</h5>
                            </div>

                        </div>
                    </div>
                </div>






            </div>

        </div>
    </mat-dialog-content>


</div>