.heading{
    font-size: 14px;
    font-weight: bold;
    color: #464545;
}

.member-img {
    border-radius: 15px;
    width: 40px;
    height: 40px;
}

.member-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.card{
    border-radius: 10px;
    border: none;
    margin-bottom: 15px!important;
}

.card:last-child{
    margin-bottom: 0px;
}

.card-title{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0;
}

.badge-primary{
    background: rgb(225 111 0 / 10%) 0% 0% no-repeat padding-box;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0px;
    color: #E16F00;
}