<div class="dashboard-pnl trainee-top">
    <div class="container-fluid">
        <h3 class="title-hd mb-0">Coach Details</h3>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-success" (click)="gotochat()">Chat with coach</button>
        </div>
        <div class="workout-section mt-4 p-3">
            <div class="row">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="ch-banner">
                            <img [src]="coachDetails?.cover_image ? coachDetails?.cover_image : 'assets/images/video_PosterImage.png'"
                                alt="banner" class="img-fluid">
                        </div>
                        <div class="p-2 tainer-text">
                            <div class="tainer-mini">
                                <div class="ch-banner-mini">
                                    <img [src]="coachDetails?.profile_image ? coachDetails?.profile_image : 'assets/images/video_PosterImage.png'"
                                        alt="banner" class="img-fluid">
                                </div>
                                <div class="trainee-received">
                                    <div class="tainer-name">
                                        <div class="u-title-2">{{coachDetails?.first_name}} {{coachDetails?.last_name}}
                                        </div>
                                        <div>{{coachDetails?.no_of_customers}} trainees</div>
                                    </div>
                                    <div class="coach-star">
                                        <div>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <div class="received-link" (click)="showReview()">Received by 120 trainees</div>
                                    </div>
                                </div>
                            </div>
                            <h6>About:</h6>
                            <p>{{coachDetails?.about}}</p>
                            <h6>Specialties :</h6>
                            <ul class="list-inline diet-bg d-flex">
                                <li *ngFor="let i of coachDetails?.specialities">{{i?.title | titlecase}}</li>
                            </ul>

                            <div class="coach-sub">
                                <div class="dimond-ic">
                                    <img src="assets/images/bestCoach/diamond_package.png" alt="banner"
                                        class="img-fluid">
                                </div>
                                <div class="coach-t">
                                    <p>Subscribe to get daily exercise<br> with well fitness tips</p>
                                </div>
                                <div class="sar-green">SAR {{coachDetails?.price_per_month}}</div>
                            </div>
                            <div class="mb-2">
                                <button *ngIf="type != 1" type="button" class="joint-btn w-100"
                                    (click)="subscribeCoach()">Subscribe for 30 days</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="tainer-panel add-tabs">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
                            <mat-tab label="Workouts">
                                <div class="workout-section">
                                    <div class="search-header mb-3">
                                        <div class="row g-2">
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative mb-2">
                                                    <span class="inputsearch"><i class="bi bi-search"></i></span>
                                                    <input type="text" class="form-control"
                                                        placeholder="Search coach by name">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="form-select" aria-label="Default select">
                                                        <option selected value="">Level</option>
                                                        <option *ngFor="let i of levelData" value="i._id">{{i?.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="form-select" aria-label="Default select">
                                                        <option selected hidden>Equipment</option>
                                                        <option *ngFor="let i of equipmentData" value="i._id">
                                                            {{i?.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="form-select" aria-label="Default select">
                                                        <option selected hidden>Front</option>
                                                        <option *ngFor="let i of frontData" value="i._id">{{i?.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="form-select" aria-label="Default select">
                                                        <option selected hidden>Back</option>
                                                        <option *ngFor="let i of backData" value="i._id">{{i?.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sub-price mb-0 pb-0">
                                                    <button mat-flat-button color="primary" class="primary-btn">Apply
                                                        Filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card participants-list mb-3 p-1" *ngFor="let participants of [1,2]">
                                        <div class="card-lists d-flex gap-3">
                                            <div class="card-thumb">
                                                <img src="assets/images/Coach/tutorial_graphic_b.png" alt="image"
                                                    class="img-fluid">
                                            </div>
                                            <div class="card-content">
                                                <div class="u-title">7-minute exercises</div>
                                                <div class="quick-span">Easy <img
                                                        src="assets/images/bestCoach/level_easy.png" alt="image"></div>
                                                <div class="pat-title">Resistance</div>
                                                <div class="dumbell-icon d-flex gap-3">
                                                    <div> <img src="assets/images/bestCoach/dumble-ic.svg" alt="image">
                                                        Dumbbell</div>
                                                    <div><img src="assets/images/bestCoach/chair-ic.svg" alt="image">
                                                        Bench / Chair</div>
                                                </div>
                                            </div>
                                            <div class="step-count">
                                                <div class="nostep"> <img src="assets/images/bestCoach/time_workout.png"
                                                        alt="image"> 08:35</div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </mat-tab>

                            <mat-tab label="Running">
                                <div class="workout-section"></div>
                            </mat-tab>
                            <mat-tab label="Nutrition">
                                <div class="workout-section"></div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>