.workout-section {
    background:#FCFCFC;
    border-radius: 10px;
    padding: 10px 0px;
}
.card {
    box-shadow: 0px 3px 6px #C24D0026;
    border-radius: 10px;
    border: none;
    padding: 1px;
}
.search-header {
    background: #E6E6E6;
    padding: 10px;
    border-radius: 2px;
}
.inputsearch {
    position: absolute;
    background: transparent;
    border: none;
    color: #666;
    top: 9px;
    left: 9px;
}
.search-header .form-control {
    padding-left: 30px;
}
.card-thumb {
    height: 100px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.card-thumb img {
    height: 100%;
}
.card-content p {
    color: #7C7C7C;
    font-size: 15px;
}
.card-content {
    font-size: 14px;
}
.u-title {
    font-size: 16px;
    font-weight: 600;
}
.ch-banner {
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
}
.ch-banner-mini{
    height: 60px;
    overflow: hidden;
    width: 56px;
    background: #ddd;
    border-radius: 8px;
    margin-top: -30px;
}
.tainer-mini {
    display: flex;
    gap: 4px;
}
.ch-banner img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.tainer-name{
    font-size: 14px;
}
.tainer-text p{
    font-size: 13px;
}
.tainer-text h6 {
    font-size: 13px;
    margin-bottom: 0px;
}
.ch-banner-mini img {
    height: 100%;
    object-fit: cover;
}
.diet-bg li {
    font-size: 12px;
    margin: 5px 3px;
    background: #f5ece5;
    color: #E16F00;
    padding: 2px 5px;
    border-radius: 2px;
}
.coach-sub {
    border: 1px solid #E06F00;
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    gap:7px;
    position: relative;
}
.sar-green {
    color: #61B92B;
    font-weight: 700;
    position: absolute;
    right: 20px;
    top: 15px;
}
.coach-star i {
    font-size: 11px;
    color: #fa8513;
}
.dumbell-icon img {
    height: 17px;
}
.received-link{
    font-weight: 500;
    color: #E16F00;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
.nostep {
    position: absolute;
    right: 20px;
    top: 9px;
    color: #e06f00;
    font-size: 16px;
}
.nostep img{
    height: 20px;
}
.u-title-2 {
    font-size: 16px;
    color: #383838;
    font-weight: 600;
}
.trainee-received{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.coach-t p {
    margin-bottom: 0px;
}