input[type="radio"],input[type="checkbox"] {
    display: none;
  }
  
  label {
    position: relative;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 19px #bebebe29;
    border-radius: 31px;
    transition: color 0.3s;
    width: 100%;
    padding: 14px;
    font: normal normal bold 16px/25px Almarai;
    letter-spacing: 0px;
    color: #000000;
    border: 1px solid #ffffff;
  }
  
  label img{
    height: 30px;
    object-fit: contain;
  }
  label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color 0.3s;
  }
  
  input[type="radio"] + label:before,input[type="checkbox"] + label:before {
    /* background-color: black; */
    border-color:gray ;
    opacity: .3;
    border-width: 1px;
  }
  input[type="radio"]:checked + label:before,input[type="checkbox"]:checked + label:before {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 1;
  }
  
  input[type="radio"]:focus + label {
    color: #ff6f00;
  }
  
  input[type="radio"]:checked + label {
    color: #ff6f00;
    border: 1px solid;
    background: #FCF3EA;
  }

  input[type="checkbox"]:focus + label {
    color: #ff6f00;
  }
  input[type="checkbox"]:checked + label {
    color: #ff6f00;
    border: 1px solid;
    background: #FCF3EA;

  }
  
  
