<div class="container">
    <div class="row gx-0">
        <div class="col-md-12">
            <h5>You are almost there</h5>
            <p class="lng_right_sub_heading">Do you have a place to train?</p>
        </div>

        <div class="col-md-12">
            <div class="mb-3">
                <input type="radio" id="Number 1" [(ngModel)]="place_to_train" value="Yes" checked>
                <label for="Number 1">Yes</label>
              
            </div>
        </div>

        <div class="col-md-12">
            <div class="mb-3">
                <input type="radio" id="Number 2" [(ngModel)]="place_to_train" value="No" >
                <label for="Number 2">No</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
             <p>What is your goal for using Harwalah application?</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="mb-3">
                <input type="checkbox" id="check 0" [checked]="isCheckStepFive('Generating Workouts')" (click)="checkedStepFive('Generating Workouts')" value="Generating Workouts" >
                <label for="check 0">Generating Workouts</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="checkbox" id="check 1" [checked]="isCheckStepFive('Nutrition Plans')" (click)="checkedStepFive('Nutrition Plans')" value="Nutrition Plans" >
                <label for="check 1">Nutrition Plans</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="checkbox" id="check 2" [checked]="isCheckStepFive('Track Progress')" (click)="checkedStepFive('Track Progress')" value="Track Progress" >
                <label for="check 2">Track Progress</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="checkbox" id="check 3" [checked]="isCheckStepFive('Communication with the client')" (click)="checkedStepFive('Communication with the client')" value="Communication with the client" >
                <label for="check 3">Communication with the client</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="checkbox" id="check 4" [checked]="isCheckStepFive('Client Invoices')" (click)="checkedStepFive('Client Invoices')" value="Client Invoices" >
                <label for="check 4">Client Invoices</label>
            </div>
        </div>

        <div class="col-md-12">
            <div class="mb-0">
                <button class="w-100" mat-flat-button color="primary" type="submit" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>